@{
    ViewBag.Title = "Crear/Modificar Cotización";
    Model.Cotizacion cotizacion = ViewBag.cotizacion;

    var aplicaSedes = cotizacion.aplicaSedes ? 1 : 0;
    var clienteSedePrincipal = 0;
    if (cotizacion.cliente.idCliente != null)
    {
        clienteSedePrincipal = cotizacion.cliente.sedePrincipal ? 1 : 0;
    }
    // Model.Cotizacion.OpcionesConsiderarCantidades opcionesConsiderarCantidades;
    // @model Enum;
    String encodedStrTSC = cotizacion.cliente.sedeListWebString;
    encodedStrTSC = encodedStrTSC.Replace("<br>", "</li><li>");
    encodedStrTSC = "<br><ul><li>" + encodedStrTSC + "</li></ul>";

}
<script>
    var encodedStrTSC = '@encodedStrTSC';
    
    var parserTSC = new DOMParser;
    var domTSC = parserTSC.parseFromString(
        '<!doctype html><body>' + encodedStrTSC,
        'text/html');
    var listaTextoSedesCliente = domTSC.body.textContent;

</script>
<div class="page-header">
    <h3>@ViewBag.Title</h3>
</div>
<div class="container">
    <input type="hidden" id="codigoCotizacion" value="" />
    <input type="hidden" id="idProducto" value="" />
    <input type="hidden" id="pagina" value="@ViewBag.pagina" />
    <input type="hidden" id="aplicaSedes" value="@aplicaSedes" />
    <input type="hidden" id="clienteSedePrincipal" value="@clienteSedePrincipal" />
    <input type="hidden" value="@ViewBag.debug" />
    <form class="form-horizontal">
        <div class="row">
            <!--NÚMERO COTIZACION-->
            <div class="col-sm-6 col-lg-5">
                <div class="form-group">
                    <label for="numero" class="control-label col-xs-4">Número:</label>
                    <div class="col-xs-8">
                        @if (cotizacion.codigo != 0)
                    {
                        <input class="form-control" disabled type="number" value="@cotizacion.codigo" min="0" id="numero" name="numero">
                }
                else
                {
                    <input class="form-control" disabled type="number" value="" min="0" id="numero" name="numero">
            }
                    </div>
                </div>
            </div>
            <!--CIUDAD-->
            <div class="col-sm-6 col-lg-5">
                <div class="form-group">
                    @Html.LabelFor(p => cotizacion.ciudad, htmlAttributes: new { @class = "control-label col-xs-4", @for = "idCiudad" })
                    <div class="col-xs-8">
                        @Html.Action("GetCiudades", "Ciudad",
                                       new
                                       {
                                           ciudadSelectId = "idCiudad",
                                           selectedValue = cotizacion.ciudad.idCiudad
                                       })
                    </div>
                </div>
            </div>

        </div>

        <div class="row">

            <!--CLIENTE-->
            <div class="col-sm-6 col-lg-5">
                <div class="form-group">
                    <label for="cliente" class="control-label col-xs-4">Cliente / Grupo:</label>

                    <div class="col-xs-6">
                        <select class="form-control input-sm" id="idCliente" name="idCliente" required>
                            @if (ViewBag.existeCliente == 1)
                        {
                            <option selected value="@ViewBag.idClienteGrupo">@ViewBag.clienteGrupo</option>
                    }
                    else
                    {
                        <option value=""></option>
                }
                        </select>
                    </div>



                    <div class="col-xs-2">
                        <button id="btnAgregarCliente" type="button" class="btn btn-primary bouton-image-add addBouton"></button>
                    </div>

                </div>
            </div>

            <div class="col-sm-6 col-lg-5">
                <div class="form-group">
                    <label for="contacto" class="control-label col-xs-4">Dirigido a:</label>

                    <div class="col-xs-8">
                        <input class="form-control" type="text" value="@cotizacion.contacto" id="contacto" name="contacto">
                    </div>
                </div>
            </div>



        </div>




        <div class="row">
            <!--FECHA DOCUMENTO-->
            <div class="col-sm-6 col-lg-5">
                <div class="form-group">
                    <label for="fecha" class="control-label col-xs-4">Fecha Última Edición:</label>
                    <div class="col-xs-4">
                        <input type="hidden" id="fechatmp" value="@ViewBag.fecha" />
                        <input class="form-control" type="text" id="fecha" name="fecha">

                    </div>
                    <div class="col-xs-4 form-check">
                        @if (cotizacion.fechaEsModificada)
                    {
                        <input type="checkbox" checked class="form-check-input" id="chkFechaEsModificada">
                }
                else
                {
                    <input type="checkbox" class="form-check-input" id="chkFechaEsModificada">
            }
                        <label class="form-check-label" for="chkFechaEsModificada">Ingresar Fecha</label>
                    </div>
                </div>

            </div>

            <div class="col-sm-6 col-lg-5">
                <div class="form-group">
                    <label for="fechaLimiteValidezOferta" class="control-label col-xs-4">Validez Oferta Hasta:</label>



                    <div class="col-xs-3">
                        <select class="form-control " id="mostrarValidezOfertaEnDias" name="mostrarValidezOfertaEnDias">
                            <option value="0">Días</option>
                            @if (cotizacion.mostrarValidezOfertaEnDias == 1)
                        {
                            <option selected value="1">Fecha</option>
                    }
                    else
                    {
                        <option value="1">Fecha</option>
                }
                        </select>
                    </div>
                    <div class="col-xs-4">
                        <input type="hidden" id="fechaLimiteValidezOfertaTmp" value="@cotizacion.fechaLimiteValidezOferta" />
                        <div id="fechaVigenciadiv">
                            <input class="form-control" type="text" id="fechaLimiteValidezOferta" name="fechaLimiteValidezOferta">
                        </div>
                        <div id="diasVigenciadiv">
                            <input class="form-control" type="number" min="1" step="1" id="validezOfertaEnDias" value="@cotizacion.validezOfertaEnDias" name="fechaLimiteValidezOferta">
                        </div>

                    </div>



                </div>
            </div>


        </div>

        <div class="row">
            <!--FECHA VIGENCIA INICIO -->
            <div class="col-sm-6 col-lg-5">
                <div class="form-group">
                    <label for="fechaInicioVigenciaPrecios" class="control-label col-xs-4">Inicio Vigencia Precios:</label>
                    <div class="col-xs-8">
                        <input type="hidden" id="fechaInicioVigenciaPreciosTmp" value="@ViewBag.fechaInicioVigenciaPrecios" />
                        <input class="form-control" type="text" id="fechaInicioVigenciaPrecios" name="fechaInicioVigenciaPrecios">
                    </div>
                </div>
            </div>

            <!--FECHA VIGENCIA FIN -->
            <div class="col-sm-6 col-lg-5">
                <div class="form-group">
                    <label for="fechaFinVigenciaPrecios" class="control-label col-xs-4">Fin Vigencia Precios:</label>
                    <div class="col-xs-8">
                        <input type="hidden" id="fechaFinVigenciaPreciosTmp" value="@ViewBag.fechaFinVigenciaPrecios" />
                        <input class="form-control" type="text" id="fechaFinVigenciaPrecios" name="fechaFinVigenciaPrecios">
                    </div>
                </div>
            </div>
        </div>



        <div class="row">



            <div class="col-sm-6 col-lg-5">
                <!--IGV-->
                <div class="form-group">
                    <label for="igv" class="control-label col-xs-4">¿Precios unitarios incluyen IGV?:</label>
                    <div class="col-xs-8">
                        <div class="radio radio-inline">
                            <label class="radio-label">
                                @if (cotizacion.incluidoIGV)
                            {
                                <input class="radio-input" disabled checked type="radio" name="igv" id="igvsi" value="1">@ViewBag.Si;
                        }
                        else
                        {
                            <input class="radio-input" disabled type="radio" name="igv" id="igvsi" value="1">@ViewBag.Si;
                    }

                            </label>
                        </div>
                        <div class="radio radio-inline">
                            <label class="radio-label">
                                @if (!cotizacion.incluidoIGV)
                            {
                                <input class="radio-input" disabled checked type="radio" name="igv" id="igvno" value="0">@ViewBag.No;
                        }
                        else
                        {
                            <input class="radio-input" disabled type="radio" name="igv" id="igvno" value="0">@ViewBag.No;
                    }
                            </label>
                        </div>
                    </div>
                </div>
            </div>




            <!--CANTIDADES-->
            <div class="col-sm-6 col-lg-5">

                <div class="form-group">
                    <label for="considerarCantidades" class="control-label col-xs-4">¿Mostrar cantitades y/o observaciones?:</label>
                    <div class="col-xs-8">
                        @Html.DropDownList("considerarCantidades",
                                                        EnumHelper.GetSelectList(typeof(Model.Cotizacion.OpcionesConsiderarCantidades), cotizacion.considerarCantidades),
                                                        new { @class = "form-control" }
                                                        )

                    </div>
                </div>
            </div>

        </div>

        <div class="row">

            <!--FLETE-->

            <div class="col-sm-6 col-lg-5">
                <div class="form-group">
                    <label for="flete" class="control-label col-xs-4">
                        Recargo Flete %
                        (sobre el costo):
                    </label>
                    <div class="col-xs-8">
                        <input class="form-control" type="number" min="0" max="100.00" step=".1" value="@cotizacion.flete" id="flete" name="flete">
                    </div>
                </div>
            </div>

            <!--MOSTRAR CODIGO PROVEEDOR-->
            <div class="col-sm-6 col-lg-5">

                <div class="form-group">
                    <label for="igv" class="control-label col-xs-4">¿Mostrar Cod. Proveedor?:</label>
                    <div class="col-xs-8">
                        <div class="radio radio-inline">
                            <label class="radio-label">
                                @if (cotizacion.mostrarCodigoProveedor)
                            {
                                <input class="radio-input" checked type="radio" name="mostrarcodproveedor" id="mostrarCodProveedorSi" value="1">@ViewBag.Si;
                        }
                        else
                        {
                            <input class="radio-input" type="radio" name="mostrarcodproveedor" id="mostrarCodProveedorSi" value="1">@ViewBag.Si;
                    }

                            </label>
                        </div>
                        <div class="radio radio-inline">
                            <label class="radio-label">
                                @if (!cotizacion.mostrarCodigoProveedor)
                            {
                                <input class="radio-input" checked type="radio" name="mostrarcodproveedor" id="mostrarCodProveedorNo" value="0">@ViewBag.No;
                        }
                        else
                        {
                            <input class="radio-input" type="radio" name="mostrarcodproveedor" id="mostrarCodProveedorNo" value="0">@ViewBag.No;
                    }
                            </label>
                        </div>
                    </div>
                </div>
            </div>

        </div>


        <div class="">


        </div>

        <div class="row" style="margin-bottom:10px; margin-right:0px; margin-left:10px">

            <div class="pull-left">

                <button id="btnAgregarProductosDesdePreciosRegistrados" type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalBuscarPreciosRegistrados">Importar Detalle Desde Precios Registrados en Facturación</button>
            </div>

            <div class="pull-right">

                <button id="btnOpenAgregarProducto" type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalAgregarProducto">Agregar Producto</button>

            </div>

        </div>

        @if (cotizacion.usuario.visualizaCostos)
        {

        <div class="row" style="margin-bottom:10px; margin-right:0px; margin-left:10px">

            <div class="pull-left">
                @if (cotizacion.mostrarCosto)
                {
                <input checked type="checkbox" id="mostrarCosto" name="mostrarCosto" />
                }
                else
                {
                <input type="checkbox" id="mostrarCosto" name="mostrarCosto" />
                }
                <label for="mostrarCosto" class=" form-check-label"> Mostrar Costo:</label>
              
            </div>

        </div>
        }

        <table id="tableDetalleCotizacion" class="table" data-editing="true"
               data-editing-show-text='<span class="fooicon fooicon-pencil" aria-hidden="true"></span> Editar Detalle'
               data-editing-allow-add="true"
               data-editing-allow-delete="true"
               data-editing-allow-edit="false"
               data-sorting="true"
               data-show-toggle="false"
               data-editing-hide-text="Finalizar Edición Detalle"
               data-editing-add-text="Descartar Cambios Detalle">
            <thead>
                <tr>
                    <th data-name="idProducto" data-visible="false"></th>

                    @if (ViewBag.debug == 1)
    {
                <th data-name="esPrecioAlternativo" data-visible="true">EsPrecioAlternativo</th>
}
else
{
                <th data-name="esPrecioAlternativo" data-visible="false">EsPrecioAlternativo</th>
}
                    <th data-name="proveedor" data-sortable="false">Prov.</th>
                    <th data-name="codigo" data-sortable="false" data-breakpoints="xs">Código</th>
                    <th data-name="producto" data-sortable="false">Producto / Descripción</th>
                    <th data-name="presentacion" data-sortable="false" data-breakpoints="xs">Unidad</th>
                    <th data-name="imagen" data-sortable="false" data-breakpoints="xs sm">Imagen</th>
                    <!--<th data-name="valorUnitario" data-sortable="true" data-breakpoints="xs sm">Costo Unitario</th>-->
                    <th data-name="precioLista" data-sortable="false" data-breakpoints="xs sm">Precio Lista</th>

                    @if (ViewBag.debug == 1)
    {
                <th data-name="porcentajeDescuento" data-visible="true" data-breakpoints="xs sm">Dscto % al P. Lista</th>
}
else
{
                <th data-name="porcentajeDescuento" data-visible="false" data-breakpoints="xs sm">Dscto % al P. Lista</th>
}

                    <th data-name="porcentajeDescuentoMostrar" data-sortable="false" data-breakpoints="xs sm">Dscto % al P. Lista</th>
                    <th data-name="precioNeto" data-sortable="false" data-breakpoints="xs sm">Precio Neto</th>

                    @if (cotizacion.mostrarCosto || ViewBag.debug == 1)
    {
                <th data-name="costo" data-sortable="false" data-visible="true">Costo</th>
}
else
{
                <th data-name="costo" data-visible="false">Costo</th>
}

                    @if (cotizacion.usuario.visualizaMargen)
    {
                <th data-name="margen" data-sortable="false" data-breakpoints="xs sm" style="width:60px">Mg %</th>
}
else
{
                <th data-name="margen" data-visible="false" data-breakpoints="xs sm" style="width:60px">Mg %</th>
}

                    <th data-name="flete" data-sortable="false" data-breakpoints="xs sm">Flete</th>
                    <th data-name="precioUnitario" data-sortable="false" data-breakpoints="xs sm">Precio Unit.</th>

                    @if (!cotizacion.esRecotizacion)
                    {
                        <th data-name="precioUnitarioAnterior" style="color: #B9371B" data-sortable="false" data-breakpoints="xs sm">Precio Unit Ant.</th>
                    }

                    @if ((int)cotizacion.considerarCantidades == 1 || (int)cotizacion.considerarCantidades == 2)
    {
                <th data-name="cantidad" data-sortable="false" data-visible="true" data-breakpoints="xs sm">Cant.</th>
                <th data-name="subTotal" data-sortable="false" data-visible="true" data-breakpoints="xs sm">Sub Total</th>
                <th data-name="observaciones" data-sortable="false" data-visible="false" data-breakpoints="xs sm">Observaciones</th>
}
else
{
                <th data-name="cantidad" data-sortable="false" data-visible="false" data-breakpoints="xs sm">Cant.</th>
                <th data-name="subTotal" data-sortable="false" data-visible="false" data-breakpoints="xs sm">Sub Total</th>
                <th data-name="observaciones" data-sortable="false" data-visible="true" data-breakpoints="xs sm">Observaciones</th>
}
                    <th data-name="historialPrecios" data-sortable="false" data-visible="true" data-breakpoints="xs sm">Historial Precios</th>

                    @if (cotizacion.esRecotizacion)
    {
                <th data-name="precioNetoAnterior" data-visible="true" style="color: #B9371B">Precio neto ant</th>
                <th data-name="precioNeto" data-visible="true" style="color: #B9371B">Var% precio neto</th>
                <th data-name="varCosto" data-visible="true" style="color: #B9371B">Var% costo</th>

if (ViewBag.debug == 1)
{
                <th data-name="costoAnterior" data-visible="true">CostoAnterior</th>
}
else
{
                <th data-name="costoAnterior" data-visible="false">CostoAnterior</th>
}
}
                    <th class="ordenar" data-sortable="false" data-visible="false"></th>


                </tr>
            </thead>
            <tbody>

                @{int contador = 0;}
                @foreach (var cotizacionDetalle in cotizacion.cotizacionDetalleList)
            {
                contador++;
                <tr data-expanded="false">
                    <td class="detalleCotizacion">  @cotizacionDetalle.producto.idProducto  </td>
                    <td>  @cotizacionDetalle.esPrecioAlternativo  </td>
                    <td>  @cotizacionDetalle.producto.proveedor  </td>
                    <td>  @cotizacionDetalle.producto.sku  </td>
                    <!--Mostrar Codigo de Proveedor y observaciones en el campo descripcion de producto-->
                    @if (cotizacion.mostrarCodigoProveedor && (int)cotizacion.considerarCantidades == 2)
                {
                    <td>
                        @cotizacionDetalle.producto.skuProveedor - @cotizacionDetalle.producto.descripcion
                        <br />
                        <span class="@cotizacionDetalle.producto.idProducto detproductoObservacion" style="color: darkred"> @cotizacionDetalle.observacion</span>
                    </td> }
            else if (cotizacion.mostrarCodigoProveedor)
            {
                <td>  @cotizacionDetalle.producto.skuProveedor - @cotizacionDetalle.producto.descripcion   </td>}

        else
        {
            <td>  @cotizacionDetalle.producto.descripcion   </td>}







                    <td>  @cotizacionDetalle.unidad  </td>
                    <td class="column-img"><img class="table-product-img" src="data:image/png;base64,@Convert.ToBase64String(cotizacionDetalle.producto.image)"></td>
                    <td class="@cotizacionDetalle.producto.idProducto detprecioLista" style="text-align:right">@cotizacionDetalle.precioLista</td>

                    <td class="@cotizacionDetalle.producto.idProducto detporcentajedescuento" style="width:95px; text-align:right; ">@cotizacionDetalle.porcentajeDescuento %</td>
                    <td class="@cotizacionDetalle.producto.idProducto detporcentajedescuentoMostrar" style="width:75px; text-align:right; ">@cotizacionDetalle.porcentajeDescuentoMostrar %</td>
                    <td class="@cotizacionDetalle.producto.idProducto detprecio" style="text-align:right">@cotizacionDetalle.precioNeto</td>
                    <td class="@cotizacionDetalle.producto.idProducto detcostoLista">@cotizacionDetalle.costoListaVisible  </td>

                    <td class="@cotizacionDetalle.producto.idProducto detmargen" style="width:70px; text-align:right">@cotizacionDetalle.margen %</td>

                    <td class="@cotizacionDetalle.producto.idProducto detflete" style="text-align:right">@cotizacionDetalle.flete</td>
                    <td class="@cotizacionDetalle.producto.idProducto detprecioUnitario" style="text-align:right">@cotizacionDetalle.precioUnitario </td>
                    @if (!cotizacion.esRecotizacion)
                    {
                        <td class="@cotizacionDetalle.producto.idProducto detprecioUnitarioAnt" style="text-align:right">@cotizacionDetalle.producto.precioClienteProducto.precioUnitario </td>
                    }



                    <td class="@cotizacionDetalle.producto.idProducto detcantidad" style="text-align:right">@cotizacionDetalle.cantidad</td>
                    <td class="@cotizacionDetalle.producto.idProducto detsubtotal" style="text-align:right">@cotizacionDetalle.subTotal</td>
                    <td class="@cotizacionDetalle.producto.idProducto detobservacion" style="text-align:left">@cotizacionDetalle.observacion</td>
                    <!--class="@cotizacionDetalle.producto.idProducto detobservacion"-->
                    <td class="@cotizacionDetalle.producto.idProducto detbtnMostrarPrecios"> <button type="button" class="@cotizacionDetalle.producto.idProducto btnMostrarPrecios btn btn-primary bouton-image botonPrecios"></button></td>
                    @if (cotizacion.esRecotizacion)
                {
                    <td class="@cotizacionDetalle.producto.idProducto detprecioNetoAnterior" style="text-align:right; color: #B9371B">@cotizacionDetalle.precioNetoAnterior</td>

                if (cotizacionDetalle.variacionPrecioAnterior != 0)
                {
                    <td class="@cotizacionDetalle.producto.idProducto detvarprecioNetoAnterior" style="text-align:right; color: #B9371B; font-weight:bold">@cotizacionDetalle.variacionPrecioAnterior %</td>
            }
            else
            {
                <td class="@cotizacionDetalle.producto.idProducto detvarprecioNetoAnterior" style="text-align:right; color: #B9371B">@cotizacionDetalle.variacionPrecioAnterior %</td>
        }

        if (cotizacionDetalle.variacionCosto != 0)
        {
            <td class="@cotizacionDetalle.producto.idProducto detvarCosto" style="text-align:right; color: #B9371B; font-weight:bold">@cotizacionDetalle.variacionCosto %</td>
    }
    else
    {
        <td class="@cotizacionDetalle.producto.idProducto detvarCosto" style="text-align:right; color: #B9371B">@cotizacionDetalle.variacionCosto %</td>
}

    <!--font-weight:bold"-->
    <td class="@cotizacionDetalle.producto.idProducto detcostoAnterior" style="text-align:right; color: #B9371B">@cotizacionDetalle.costoAnterior</td>
}
                    <td class="@cotizacionDetalle.producto.idProducto detordenamiento"></td>




                </tr>
        }

            </tbody>
        </table>

        @{ var esRecotizacion = @cotizacion.esRecotizacion ? 1 : 0;}

        <input type="hidden" id="esRecotizacion" value="@esRecotizacion" />

        <div class="row">
            <div class="col-sm-6 col-lg-9">
                <div class="form-group">
                    <label for="condicionesPago" class="control-label col-xs-2">Condiciones de Pago:</label>
                    <div class="col-xs-8">
                        @Html.TextBoxFor(p => cotizacion.textoCondicionesPago, htmlAttributes: new { @class = "form-control", @disabled = "disabled" })
                        @if (cotizacion.esPagoContado)
                        {
                            <input type="checkbox" checked class="form-check-input" id="chkEsPagoContado">
                        }
                        else
                        {
                            <input type="checkbox" class="form-check-input" id="chkEsPagoContado">
                        }
                        <label class="form-check-label" for="chkEsPagoContado">Es pago contado</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 col-lg-9">
                <div class="form-group">
                    <label for="observaciones" class="control-label col-xs-2">Observaciones:</label>
                    <div class="col-xs-10">
                        <textarea rows="6" cols="100" style="min-width: 100%" id="observaciones" name="observaciones">@cotizacion.observaciones</textarea>
                    </div>

                </div>
                @if (cotizacion.aplicaSedes)
            {
                <div class="form-group">
                    <div class="col-xs-12">
                        <p class="form-control-static text-danger" id="verSedesAplica">
                            Esta cotización aplicará también para las sedes:  @cotizacion.cliente.sedeListWebString.Replace("<br>", ", ")
                        </p>
                    </div>
                </div>
        }
            </div>
            <div class="col-sm-6 col-lg-3">

                @if ((int)cotizacion.considerarCantidades == 1 || (int)cotizacion.considerarCantidades == 2)
            {
                <div class="form-group">
                    <div class="pull-right">
                        <span class="totales">Subtotal: S/ </span>
                        <span class="totales" id="montoSubTotal">@cotizacion.montoSubTotal</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="pull-right">
                        <span class="totales">IGV 18%: S/ </span>
                        <span class="totales" id="montoIGV">@cotizacion.montoIGV</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="pull-right">
                        <input type="hidden" id="total" value="@cotizacion.montoTotal" />
                        <span class="totales">TOTAL: S/ </span>
                        <span class="totales" id="montoTotal">@cotizacion.montoTotal</span>
                    </div>
                </div>
        }
            </div>
        </div>

        <div class="row">
            <div class="pull-left">
                <button id="btnContinuarEditandoLuego" type="button" class="btn btn-primary">Guardar</button>
            </div>


            <div class="pull-right">
                <button type="button" id="btnCancelCotizacion" class="btn btn-danger">Cancelar</button>
                @if (cotizacion.codigo > 0)
            {
                <button id="btnFinalizarEdicionCotizacion" type="button" class="btn btn-success">Finalizar Edición</button>
        }
        else
        {
            <button id="btnFinalizarCreacionCotizacion" type="button" class="btn btn-success">Finalizar Creación</button>
    }
            </div>
        </div>


    </form>
</div>



<!-- MODAL AGREGAR PRODUCTO -->
<div class="modal fade" id="modalAgregarProducto" tabindex="-1">
    <!-- <div class="modal fade" id="modalAgregarProducto" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
       -->
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!--CABECERA-->
            <div class="modal-header">
                <h4 class="modal-title" id="modalAgregarProductoTitle"><b>Agregar Producto</b></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <p></p>
            </div>


            <!--CUERPO-->
            <div class="modal-body">

                @if (ViewBag.debug == 1)
                {
                    <span>precioUnitarioSinIGV</span> <input class="form-control" type="text" id="precioUnitarioSinIGV" value="0" />
                    <span>precioUnitarioAlternativoSinIGV</span><input class="form-control" type="text" id="precioUnitarioAlternativoSinIGV" value="0" />
                    <span>costoSinIGV</span><input class="form-control" type="text" id="costoSinIGV" value="0" />
                    <span>costoAlternativoSinIGV</span><input class="form-control" type="text" id="costoAlternativoSinIGV" value="0" />
                    <span>esPrecioAlternativo</span><input class="form-control" type="text" id="esPrecioAlternativo" value="0" />
                }
                else
                {
                    <input type="hidden" id="precioUnitarioSinIGV" value="0" />
                    <input type="hidden" id="precioUnitarioAlternativoSinIGV" value="0" />
                    <input type="hidden" id="costoSinIGV" value="0" />
                    <input type="hidden" id="costoAlternativoSinIGV" value="0" />
                    <input type="hidden" id="esPrecioAlternativo" value="0" />
                }



                <form class="form-horizontal">
                    <div class="row">

                        <div class="col-sm-6 col-lg-6">


                            <!--Familia-->
                            <div class="form-group">
                                <label for="familia" class="control-label col-xs-3">Familia:</label>
                                <div class="col-xs-9">
                                    @Html.Action("list", "Familia")
                                </div>
                            </div>


                            <!--Proveedor-->
                            <div class="form-group">
                                <label for="proveedor" class="control-label col-xs-3">Proveedor:</label>
                                <div class="col-xs-9">
                                    @Html.Action("list", "Proveedor")
                                </div>
                            </div>



                            <!--PRODUCTO-->
                            <div class="form-group">
                                <label for="producto" class="control-label col-xs-3">Producto:</label>
                                <div class="col-xs-9">
                                    <select class="form-control" id="producto" name="producto">
                                        <option value=""></option>
                                    </select>
                                    <!--  <label><input type="checkbox" id="considerarDescontinuados" />Considerar Descontinuados</label>-->
                                </div>
                            </div>



                            <!--PRESENTACIÓN-->
                            <div class="form-group">
                                <label for="unidad" class="control-label col-xs-3">Presentación:</label>
                                <div class="col-xs-9">
                                    <select class="form-control" id="unidad" name="unidad"></select>
                                </div>
                            </div>

                            <!--PRECIO LISTA-->
                            <div class="form-group">
                                <label for="precioLista" class="control-label col-xs-3">Precio Lista:</label>
                                <div class="col-xs-9">

                                    <input class="form-control" type="text" value="" id="precioLista" name="precioLista" disabled>
                                    <!--  <span style="margin-right: 20px; color: red; font-weight: normal " class="has-error" id="mensajeFlete"></span>
                                    -->
                                </div>
                            </div>


                            <!--DESCUENTO-->

                            <div class="form-group">
                                <label for="porcentajeDescuento" class="control-label col-xs-3">Dscto % al P. Lista:</label>
                                <div class="col-xs-4">
                                    <input class="form-control" type="number" step=".1" value="" id="porcentajeDescuento" name="porcentajeDescuento">
                                </div>
                                <div class="col-xs-2">
                                    <button id="btnCalcularDescuento" type="button" class="btn btn-primary bouton-image monBouton" data-toggle="modal" data-target="#modalCalculadora"></button>
                                </div>
                                <div class="col-xs-2">
                                    <button id="btnMostrarPrecios" type="button" class="btn btn-primary bouton-image botonPrecios" data-toggle="modal" data-target="#modalMostrarPrecios"></button>
                                </div>

                            </div>



                        </div>


                        <!--IMAGEN-->
                        <div class="col-sm-6 col-lg-6 ">
                            <div class="form-group modal-add-image" style="height:180px">
                                <img id="imgProducto" src="images/NoDisponible.gif">
                            </div>

                            <div class="form-group" id="observacionProductoDiv">
                                <label for="observacionProducto" class="control-label col-xs-3">Observaciones:</label>
                                <div class="col-xs-9">
                                    <textarea rows="5" cols="35" id="observacionProducto" name="observacionProducto"> </textarea>
                                </div>
                            </div>
                        </div>

                    </div>






                    <div class="row">




                        @if (cotizacion.mostrarCosto)
                        {
                            <div class="col-sm-6 col-lg-6">
                                <div class="form-group" id="costodiv">
                                    <label for="costo" class="control-label col-xs-3">Costo:</label>
                                    <div class="col-xs-9">
                                        <input class="form-control" type="number" id="costoLista" disabled name="costoLista">
                                    </div>
                                </div>
                            </div>
                        }
                        else if (ViewBag.debug == 1)
                        {
                            <div class="col-sm-6 col-lg-6">
                                <div class="form-group" id="costodiv">
                                    <label for="costo" class="control-label col-xs-3">Costo:</label>
                                    <div class="col-xs-9">
                                        <input class="form-control" type="number" id="costoLista" disabled name="costoLista">
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            <input class="form-control" type="hidden" id="costoLista" disabled name="costoLista">
                        }

                    </div>



                    <div class="row">




                        <div class="col-sm-6 col-lg-6">
                            <div class="form-group">
                                <label for="precio" class="control-label col-xs-3">Precio Neto:</label>
                                <div class="col-xs-4">
                                    <input class="form-control" type="number" step=".1" value="" disabled id="precio" name="precio">
                                </div>


                                @if (cotizacion.usuario.visualizaMargen)
                                {
                                    <label for="margen" class="control-label col-xs-2">Mg %:</label>
                                    <div class="col-xs-3">

                                        <input class="form-control" type="number" disabled value="" min="1" step="1" id="margen" name="margen">
                                    </div>
                                }
                                else
                                {
                                    <div class="col-xs-5">
                                        <input class="form-control" type="hidden" id="margen" name="margen">
                                    </div>
                                }
                            </div>
                        </div>
                        <!--CANTIDAD-->
                        <div class="col-sm-6 col-lg-6" id="cantidadiv">
                            <div class="form-group">
                                <label for="cantidad" class="control-label col-xs-3">Cantidad:</label>
                                <div class="col-xs-9">
                                    <input class="form-control" type="number" value="" min="1" step="1" id="cantidad" name="cantidad">
                                </div>

                            </div>
                        </div>



                    </div>












                    <div class="row">
                        <div class="col-sm-6 col-lg-6">
                            <div class="form-group">
                                <label for="precio" class="control-label col-xs-3">Flete:</label>
                                <div class="col-xs-3">
                                    <input class="form-control" type="number" step=".1" value="" id="fleteDetalle" name="fleteDetalle">
                                </div>
                                <label for="precioUnitario" class="control-label col-xs-2">Precio Unit:</label>
                                <div class="col-xs-4">
                                    <input class="form-control" type="number" disabled value="" min="1" step="1" id="precioUnitario" name="precioUnitario">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-lg-6">
                            <div class="form-group" id="subtotaldiv">
                                <label for="subtotal" class="control-label col-xs-3">Sub total:</label>
                                <div class="col-xs-9">
                                    <input class="form-control" type="text" value="" id="subtotal" name="subtotal" disabled>
                                </div>
                            </div>
                        </div>
                    </div>




                </form>

                <div class="row pull-right">
                    <span style="margin-right: 20px; color: red; font-weight: bold " class="has-error" id="resultadoAgregarProducto"></span>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" id="btnCancelAddProduct" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" id="btnAddProduct" class="btn btn-primary">Agregar</button>
            </div>
        </div>
    </div>
</div>




<!-- MODAL CALCULAR MONTO -->
<div class="modal fade" id="modalCalculadora" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modalCalculadoraTitle"><b>Calcular Descuento</b></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <p></p>
            </div>



            <div class="modal-body">
                <form class="form-horizontal">



                    <div class="row">

                        <div class="col-sm-6 col-lg-6">
                            <!--NUEVO PRECIO-->
                            <div class="form-group">
                                <label for="nuevoPrecio" class="control-label col-xs-4">Nuevo Precio:</label>
                                <div class="col-xs-8">
                                    <input class="form-control" type="number" step=".1" value="" id="nuevoPrecio" name="nuevoPrecio">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-lg-6">

                            <!--NUEVO PRECIO-->
                            <div class="form-group">
                                <label for="nuevoDescuento" class="control-label col-xs-4">Dscto % al P. Lista:</label>
                                <div class="col-xs-8">
                                    <input class="form-control" type="number" step=".1" value="" disabled id="nuevoDescuento" name="nuevoDescuento">
                                </div>
                            </div>
                        </div>



                    </div>
                </form>
            </div>
            <!--
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Input Placeholder..." />
                        <span class="input-group-btn"><button class="btn btn-default" type="button">Action</button></span>
                    </div>
                </div>
            </div>-->
            <div class="modal-footer">
                <button type="button" id="btnCancelCalculadora" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" id="btnSaveDescuento" class="btn btn-primary">Guardar Descuento</button>
            </div>
        </div>
    </div>
</div>





<!--MODAL MOSTRAR PRECIOS-->
<div class="modal fade" id="modalMostrarPrecios" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modalMostrarPreciosTitle"><b>Precios Registrados en Facturación </b></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <p></p>
            </div>



            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="row">
                        <div class="col-sm-6 col-lg-8">
                            <div class="form-group">
                                <label for="numero" class="control-label col-xs-2">Producto:</label>
                                <div class="col-xs-10">
                                    <p class="form-control-static" id="verProducto"></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4">
                            <div class="form-group">
                                <label for="numero" class="control-label col-xs-4">Código:</label>
                                <div class="col-xs-8">
                                    <p class="form-control-static" id="verCodigoProducto"></p>
                                </div>
                            </div>
                        </div>

                    </div>

                    <table id="tableMostrarPrecios" class="table" data-editing="false"
                           data-editing-show-text='<span class="fooicon fooicon-pencil" aria-hidden="true"></span> Editar Detalle'
                           data-editing-allow-add="true"
                           data-editing-allow-delete="true"
                           data-editing-allow-edit="false"
                           data-sorting="true"
                           data-show-toggle="false"
                           data-editing-hide-text="Finalizar edición"
                           data-editing-add-text="Descartar cambios">
                        <thead>
                            <tr>
                                <th data-name="numero" data-visible="true">Número Cotización</th>
                                <th data-name="fechaInicioVigencia" data-visible="true">Fecha Inicio Vigencia</th>
                                <th data-name="fechaFinVigencia" data-visible="true">Fecha Fin Vigencia</th>
                                <th data-name="Unidad" data-visible="true">Unidad</th>
                                <th data-name="precioNeto" data-visible="true">Precio Neto</th>
                                <th data-name="flete" data-visible="true">Flete</th>
                                <th data-name="precioUnitario" data-visible="true">Precio Unitario</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
            </div>
        </div>
    </div>
</div>



<!-- MODAL AGREGAR CLIENTE -->
<div class="modal fade" id="modalAgregarCliente" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modalAgregarClienteTitle"><b>Agregar Cliente</b></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <p></p>
            </div>



            <div class="modal-body">
                <form class="form-horizontal">


                    <div class="row">

                        <div class="col-sm-6 col-lg-6">
                            <!--RAZON SOCIAL-->
                            <div class="form-group">
                                <label for="nuevoPrecio" class="control-label col-xs-4">Razón Social:</label>
                                <div class="col-xs-8">
                                    <input class="form-control" type="text" value="" id="ncRazonSocial" name="ncRazonSocial">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-lg-6">

                            <!--NOMBRE COMERCIAL-->
                            <div class="form-group">
                                <label for="nuevoDescuento" class="control-label col-xs-4">Nombre Comercial:</label>
                                <div class="col-xs-8">
                                    <input class="form-control" type="text" value="" id="ncNombreComercial" name="ncNombreComercial">
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row">

                        <div class="col-sm-6 col-lg-6">
                            <!--RUC-->
                            <div class="form-group">
                                <label for="nuevoPrecio" class="control-label col-xs-4">RUC:</label>
                                <div class="col-xs-8">
                                    <input class="form-control" type="text" value="" id="ncRUC" name="ncRUC">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-lg-6">

                            <!--CONTACTO-->
                            <div class="form-group">
                                <label for="nuevoDescuento" class="control-label col-xs-4">Contacto:</label>
                                <div class="col-xs-8">
                                    <input class="form-control" type="text" value="" id="ncContacto" name="ncContacto">
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </div>

            <div class="modal-footer">
                <button type="button" id="btnCancelCliente" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" id="btnSaveCliente" class="btn btn-primary">Agregar Cliente</button>
            </div>
        </div>
    </div>
</div>






<!--MODAL BUSCAR PRECIOS REGISTRADOS-->
<div class="modal fade" id="modalBuscarPreciosRegistrados" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modalBuscarPreciosRegistrados"><b>Filtro Búsqueda de Precios Registrados</b></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <p></p>
            </div>



            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="row">

                        <div class="col-sm-6 col-lg-12">


                            <!--Familia-->
                            <div class="form-group">
                                <label for="familia" class="control-label col-xs-4">Familia:</label>
                                <div class="col-xs-8">
                                    @Html.Action("listBusquedaPrecios", "Familia")
                                </div>
                            </div>


                            <!--Proveedor-->
                            <div class="form-group">
                                <label for="proveedor" class="control-label col-xs-4">Proveedor:</label>
                                <div class="col-xs-8">
                                    @Html.Action("listBusquedaPrecios", "Proveedor")
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="fechaPrecios" class="control-label col-xs-4">Precios a partir de:</label>
                                <div class="col-xs-8">
                                    <input type="hidden" id="fechaPreciostmp" value="@ViewBag.fechaPrecios" />
                                    <input class="form-control" type="text" id="fechaPrecios" name="fechaPrecios">
                                </div>
                            </div>
                        </div>

                    </div>

                </form>
            </div>

            <div class="modal-footer">
                <button type="button" id="btnCancelarObtenerProductos" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" id="btnObtenerProductos" class="btn btn-primary">Continuar</button>
            </div>
        </div>
    </div>
</div>






<!--MODAL AGREGAR MENSAJE PARA APROBADOR-->
<div class="modal fade" id="modalComentarioPendienteAprobacion" tabindex="-1">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modalMensajePendienteAprobacionTitle"><b>Modificar Comentario Estado Pendiente Aprobación</b></h4>

                <p></p>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="row">


                        <div class="col-sm-6 col-lg-12">

                            <!--MOTIVO RECHAZO-->
                            <div class="form-group">
                                <!--<label for="comentarioPendienteAprobacion" class="control-label col-xs-4">Comentario:</label>-->
                                <div class="col-xs-12">
                                    <span style="color: darkred" id="solicitudIngresoComentario"></span>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-lg-12" id="motivoRechazoDiv">

                            <!--MOTIVO RECHAZO-->
                            <div class="form-group">
                                <!--<label for="comentarioPendienteAprobacion" class="control-label col-xs-4">Comentario:</label>-->
                                <div class="col-xs-12">
                                    <textarea class="form-control" rows="5" id="comentarioPendienteAprobacionEditable" name="comentarioPendienteAprobacionEditable"></textarea>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row">

                        <div class="col-sm-6 col-lg-12" id="motivoRechazoDiv">

                            <!--MOTIVO RECHAZO-->
                            <div class="form-group">
                                <!--<label for="comentarioPendienteAprobacion" class="control-label col-xs-4">Comentario:</label>-->
                                <div class="col-xs-12">
                                    <textarea class="form-control" disabled rows="5" id="comentarioPendienteAprobacion" name="comentarioPendienteAprobacion"></textarea>
                                </div>
                            </div>
                        </div>

                    </div>

                </form>
            </div>

            <div class="modal-footer">
                <!--<button type="button" id="btnCancelarComentario" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>-->
                <button type="button" id="btnAceptarComentario" class="btn btn-primary">Aceptar</button>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="modalComentarioAprobacion" tabindex="-1">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modalMensajePendienteAprobacionTitle"><b>Modificar Comentario Estado Aprobación</b></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <p></p>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="row">

                        <div class="col-sm-6 col-lg-12">

                            <!--MOTIVO RECHAZO-->
                            <div class="form-group">
                                <!--<label for="comentarioPendienteAprobacion" class="control-label col-xs-4">Comentario:</label>-->
                                <div class="col-xs-12">
                                    <textarea class="form-control" rows="5" id="comentarioAprobacion" name="comentarioAprobacion"></textarea>
                                </div>
                            </div>
                        </div>

                    </div>

                </form>
            </div>

            <div class="modal-footer">
                <button type="button" id="btnCancelarComentarioAprobacion" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" id="btnAceptarComentarioAprobacion" class="btn btn-primary">Aceptar</button>
            </div>
        </div>
    </div>
</div>

<link href="http://allfont.es/allfont.css?fonts=dot-matrix" rel="stylesheet" type="text/css" />

@section Scripts {
    @Scripts.RenderFormat("<script type=\"text/javascript\" src=\"{0}?nocache=" + TempData["ScriptVersion"] + "\"></script>", "~/bundles/cotizacion")
}