@{
    ViewBag.Title = "Búsqueda Cotizaciones";
    Model.Cotizacion cotizacion = ViewBag.cotizacion;
    List<Model.Cotizacion> cotizacionList = ViewBag.cotizacionList;

}


<div class="container">

    <form class="form-horizontal">

        <div class="row">
            <!--NÚMERO COTIZACION-->
            <div class="col-sm-6 col-lg-5">
                <div class="form-group">
                    <label for="numero" class="control-label col-xs-4">Número:</label>
                    <div class="col-xs-8">
                        @if (cotizacion.codigo > 0)
                            {
                                <input class="form-control" type="number" value="@cotizacion.codigo" min="0" id="numero" name="numero">
                            }
                            else
                            {
                                   <input class="form-control" type="number" value="" min="0" id="numero" name="numero">
                            }
                        <span style="margin-right: 20px; font-size:12px; color: darkred; font-weight: normal " class="has-error">*Si ingresa el número los demás criterios no serán considerados al realizar la búsqueda.</span>
                    </div>
                    
                </div>
                
            </div>

            <!--CIUDAD-->
            <div class="col-sm-6 col-lg-5">
                <div class="form-group">
                    <label for="idCiudad" class="control-label col-xs-4">Ciudad:</label>
                    <div class="col-xs-8">
                        @Html.Action("listBusqueda", "Ciudad")
                    </div>
                </div>
            </div>


        </div>



        <div class="row">
            <!--FECHA-->
            <div class="col-sm-6 col-lg-5">
                <div class="form-group">
                    <label for="fechaDesde" class="control-label col-xs-4">Creado Desde:</label>
                    <div class="col-xs-8">
                        <input type="hidden" id="fechaDesdetmp" value="@ViewBag.fechaDesde" />
                        <input class="form-control" type="text" id="fechaDesde" name="fechaDesde">
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-5">
                <div class="form-group">
                    <label for="fechaHasta" class="control-label col-xs-4">Creado Hasta:</label>
                    <div class="col-xs-8">
                        <input type="hidden" id="fechaHastatmp" value="@ViewBag.fechaHasta" />
                        <input class="form-control" type="text" id="fechaHasta" name="fechaHasta">
                    </div>
                </div>
            </div>


        </div>

        <div class="row">

            <div class="col-sm-6 col-lg-5">
                <!--Cliente-->
                <div class="form-group">
                    <label for="idCliente" class="control-label col-xs-4">Cliente:</label>

                    <div class="col-xs-8">
                        <select class="form-control input-sm" id="idCliente" name="idCliente" required>
                            @if (ViewBag.existeCliente == 1)
                        {
                            <option selected value="@ViewBag.idClienteGrupo">@ViewBag.clienteGrupo</option>
                    }
                    else
                    {
                        <option value=""></option>
                }
                        </select>
                    </div>
                </div>

            </div>




            <!--ESTADO-->
            <div class="col-sm-6 col-lg-5">
                <div class="form-group">
                    <label for="estado" class="control-label col-xs-4">Estado:</label>
                    <div class="col-xs-8">
                        @Html.DropDownList("estado",
                      EnumHelper.GetSelectList(typeof(Model.SeguimientoCotizacion.estadosSeguimientoCotizacion), cotizacion.seguimientoCotizacion.estado),
                      new { @class = "form-control" }
                      )
                    </div>
                </div>
            </div>
        </div>

        @if (cotizacion.usuario.esAprobador)
        {
            <div class="row">

                <div class="col-sm-6 col-lg-5">
                    <!--USUARIO-->
                    <div class="form-group">
                        <label for="idCliente" class="control-label col-xs-4">Usuario:</label>
                        <div class="col-xs-8">
                            @Html.Action("list", "Usuario")
                        </div>
                    </div>

                </div>
            </div>
        }

        <div class="row pull-right" style="margin-bottom:10px; margin-right:0px">
            <button id="btnBusquedaCotizaciones" type="button" class="btn btn-primary  bouton-image searchBouton">Buscar</button>
        </div>

        <table id="tablefoottable" class="table" data-editing="false"
               data-editing-show-text='<span class="fooicon fooicon-pencil" aria-hidden="true"></span> Editar Detalle'
               data-editing-allow-add="false"
               data-editing-allow-delete="false"
               data-editing-allow-edit="false"
               data-sorting="true"
               data-show-toggle="false"
               data-editing-hide-text="Finalizar edición"
               data-editing-add-text="Descartar cambios">
            <thead>
                <tr>
                    <th data-name="idCotizacion" data-visible="false"></th>
                    <th data-name="codigo" data-visible="true">N°</th>
                    <th data-name="usuario" data-visible="true">Creado por</th>
                    <th data-name="fecha" data-sortable="true">Fecha Creación</th>
                    <th data-name="razonSocial" data-sortable="true" data-breakpoints="xs">Razón Social</th>
                    <th data-name="ruc" data-sortable="false">RUC</th>
                    <th data-name="ciudad" data-sortable="false">Ciudad</th>
                    <th data-name="subtotal" data-sortable="true" data-breakpoints="xs">Sub Total</th>
                    <th data-name="igv" data-sortable="true" data-breakpoints="xs">IGV</th>
                    <th data-name="total" data-sortable="true" data-breakpoints="xs">Total</th>
                    <th data-name="maximoPorcentajeDescuento" data-sortable="true" data-breakpoints="xs">% Desc (max)</th>
                    <th data-name="estado" data-sortable="true" data-breakpoints="xs">Estado</th>
                    <th data-name="aprobador" data-sortable="true" data-breakpoints="xs">Modificado por</th>
                    <th data-name="observacion" data-sortable="true" data-breakpoints="xs">Comentario Estado</th>
                    <th data-name="opciones" data-sortable="true" data-breakpoints="xs"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var cotizacionItem in cotizacionList)
            {
                <tr data-expanded="true">
                    <td>  @cotizacionItem.idCotizacion</td>
                    <td>  @cotizacionItem.codigo  </td>
                    <td>  @cotizacionItem.usuario.nombre  </td>
                    <td>  @cotizacionItem.fecha.ToString("dd/MM/yyyy")</td>
                    <td>  @cotizacionItem.cliente.razonSocial</td>
                    <td>  @cotizacionItem.cliente.ruc </td>
                    <td>  @cotizacionItem.ciudad.nombre  </td>
                    <td>  @cotizacionItem.montoSubTotal   </td>
                    <td>  @cotizacionItem.igv  </td>
                    <td>  @cotizacionItem.montoTotal  </td>
                    <td>  @cotizacionItem.maximoPorcentajeDescuentoPermitido  </td>
                    <td>  @cotizacionItem.seguimientoCotizacion.estadoString</td>
                    <td>  @cotizacionItem.seguimientoCotizacion.usuario.nombre  </td>
                    <td>  @cotizacionItem.seguimientoCotizacion.observacion  </td>

                    <td>
                        <button type="button" class="@cotizacionItem.codigo btnVerCotizacion btn btn-primary ">Ver</button>
                    </td>

                </tr>
        }

            </tbody>
        </table>




    </form>
</div>


<div class="modal fade" id="modalVerCotizacion" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modalVerCotizacion"><b>Información de Cotización</b></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <p></p>
            </div>



            <div class="modal-body">
                <form class="form-horizontal">

                    <input type="hidden" id="idProducto" value="" />
                    <div class="row">
                        <!--NÚMERO COTIZACION-->
                        <div class="col-sm-6 col-lg-3">
                            <div class="form-group">
                                <label for="numero" class="control-label col-xs-4">Número:</label>
                                <div class="col-xs-8">
                                    <p class="form-control-static" id="verNumero"></p>
                                </div>
                            </div>
                        </div>
                        <!--CIUDAD-->
                        <div class="col-sm-6 col-lg-3">
                            <div class="form-group">
                                <label for="idCiudad" class="control-label col-xs-4">Ciudad:</label>
                                <div class="col-xs-8">
                                    <p class="form-control-static" id="verCiudad"></p>
                                </div>
                            </div>
                        </div>
                        <!--CLIENTE-->
                        <div class="col-sm-6 col-lg-3">
                            <div class="form-group">
                                <label for="numero" class="control-label col-xs-4">Cliente:</label>
                                <div class="col-xs-8">
                                    <p class="form-control-static" id="verCliente"></p>
                                </div>
                            </div>
                        </div>
                        <!--CONTACTO-->
                        <div class="col-sm-6 col-lg-3">
                            <div class="form-group">
                                <label for="idCiudad" class="control-label col-xs-4">Contacto:</label>
                                <div class="col-xs-8">
                                    <p class="form-control-static" id="verContacto"></p>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <!--FECHA CREACION-->
                        <div class="col-sm-6 col-lg-3">
                            <div class="form-group">
                                <label for="numero" class="control-label col-xs-4">Fecha Creación:</label>
                                <div class="col-xs-8">
                                    <p class="form-control-static" id="verFechaCreacion"></p>
                                </div>
                            </div>
                        </div>
                        <!--FECHA VALIDEZ OFERTA-->
                        <div class="col-sm-6 col-lg-3">
                            <div class="form-group">
                                <label for="idCiudad" class="control-label col-xs-4">Validez Oferta Hasta:</label>
                                <div class="col-xs-8">
                                    <p class="form-control-static" id="verValidezOferta"></p>
                                </div>
                            </div>
                        </div>
                        <!--FECHA INICIO VIGENCIA PRECIOS-->
                        <div class="col-sm-6 col-lg-3">
                            <div class="form-group">
                                <label for="numero" class="control-label col-xs-4">Inicio Vigencia Precios:</label>
                                <div class="col-xs-8">
                                    <p class="form-control-static" id="verFechaInicioVigenciaPrecios"></p>
                                </div>
                            </div>
                        </div>
                        <!--FECHA FIN VIGENCIA PRECIOS-->
                        <div class="col-sm-6 col-lg-3">
                            <div class="form-group">
                                <label for="idCiudad" class="control-label col-xs-4">Fin Vigengia Precios:</label>
                                <div class="col-xs-8">
                                    <p class="form-control-static" id="verFechaFinVigenciaPrecios"></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <!--Estado-->
                        <div class="col-sm-6 col-lg-3">
                            <div class="form-group">
                                <label for="estado" class="control-label col-xs-4">Estado:</label>
                                <div class="col-xs-8">
                                    <p class="form-control-static" id="verEstado"></p>
                                </div>
                            </div>
                        </div>
                        <!--Modificado POR-->
                        <div class="col-sm-6 col-lg-3">
                            <div class="form-group">
                                <label for="modificado" class="control-label col-xs-4">Modificada Por:</label>
                                <div class="col-xs-8">
                                    <p class="form-control-static" id="verModificadoPor"></p>
                                </div>
                            </div>
                        </div>
                        <!--Observación Estado-->
                        <div class="col-sm-6 col-lg-6">
                            <div class="form-group">
                                <label for="modificado" class="control-label col-xs-2">Observación Estado:</label>
                                <div class="col-xs-10">
                                    <p class="form-control-static" id="verObservacionEstado">
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>


                    <table id="tableDetalleCotizacion" class="table"  data-editing="false"
                       data-editing-show-text='<span class="fooicon fooicon-pencil" aria-hidden="true"></span> Editar Detalle'
                       data-editing-allow-add="false"
                       data-editing-allow-delete="false"
                       data-editing-allow-edit="false"
                       data-sorting="true"
                       data-show-toggle="false"
                       data-editing-hide-text="Finalizar edición"
                       data-editing-add-text="Descartar cambios">
                    <thead>
                        <tr>
                            <th data-name="proveedor" data-sortable="false">Prov.</th>
                            <th data-name="codigo" data-sortable="false" data-breakpoints="xs">Código</th>
                            <th data-name="producto" data-sortable="false">Producto / Descripción</th>
                            <th data-name="presentacion" data-sortable="false" data-breakpoints="xs">Unidad</th>
                            <th data-name="imagen" data-sortable="false" data-breakpoints="xs sm">Imagen</th>
                            <th data-name="porcentajeDescuentoMostrar" data-sortable="false" data-breakpoints="xs sm">% Dscto</th>
                            <th data-name="precioNeto" data-sortable="false" data-breakpoints="xs sm">Precio Neto</th>
                            <th data-name="margen" data-sortable="false" data-breakpoints="xs sm" style="width:60px">% Mg</th>
                            <th data-name="flete" data-sortable="false" data-breakpoints="xs sm">Flete</th>
                            <th data-name="precioUnitario" data-sortable="false" data-breakpoints="xs sm">Precio Unit.</th>
                            <th data-name="cantidad" data-sortable="false"  data-visible="true" data-breakpoints="xs sm">Cant.</th>
                            <th data-name="subTotal" data-sortable="false"  data-visible="true" data-breakpoints="xs sm">Sub Total</th>
                            <th data-name="observaciones" data-sortable="false"  data-visible="true" data-breakpoints="xs sm">Observaciones</th>
                        </tr>
                    </thead>
                    <tbody>
  
                    </tbody>
                    </table>

                    <div class="row" style="margin-right: 10px">
                        <div class="col-sm-6 col-lg-9">
                            <div class="form-group">
                                <label for="observaciones" class="control-label col-xs-2">Observaciones:</label>
                                <div class="col-xs-10">
                                    <p class="form-control-static" id="verObservaciones">
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3" id="montosTotalesDiv">

                                <div class="form-group">
                                    <div class="pull-right">
                                        <span class="totales">Subtotal: S/ </span>
                                        <span class="totales" id="verMontoSubTotal"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="pull-right">
                                        <span class="totales">IGV 18%: S/ </span>
                                        <span class="totales" id="verMontoIGV"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="pull-right">
                                        <span class="totales">TOTAL: S/ </span>
                                        <span class="totales" id="verMontoTotal"></span>
                                    </div>
                                </div>
    
                        </div>
                    </div>

                </form>
        </div>

            <div class="modal-footer">
                <div class="pull-left">
                    <button type="button" id="btnReCotizacion" class="btn btn-primary">Recotizar</button>
                    <button type="button" id="btnPDFCotizacion" class="btn btn-primary">PDF</button>
                    <!-- <input type="text" value="hola\tHola" id="myInput" name="myInput" />
     <button type="button" id="btnCopiar" class="btn btn-primary">Copiar</button>-->
                </div>



                <div class="pull-right">
                    <button type="button" id="btnCancelarCotizacion" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" id="btnEditarCotizacion" class="btn btn-primary">Editar</button>
                    <button type="button" id="btnAprobarCotizacion" class="btn btn-primary" data-toggle='modal' data-target='#modalAprobacion'>Aprobar</button>
                    <button type="button" id="btnDenegarCotizacion" class="btn btn-primary" data-toggle='modal' data-target='#modalAprobacion'>Denegar</button>
                    <button type="button" id="btnAceptarCotizacion" class="btn btn-primary" data-toggle='modal' data-target='#modalAprobacion'>Aceptar</button>
                    <button type="button" id="btnRechazarCotizacion" class="btn btn-primary" data-toggle='modal' data-target='#modalAprobacion'>Rechazar</button>
                </div>
                </div>
            </div>
    </div>
</div>

<div class="modal fade" id="modalAprobacion" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modalCalculadoraTitle"><b>Cambiar Estado Cotización</b></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <p></p>
            </div>



            <div class="modal-body">
                <form class="form-horizontal">

                    <input type="hidden" id="idProducto" value="" />

                

                    <div class="row">

                        <div class="col-sm-6 col-lg-4">
                            <!--Accion-->
                            <div class="form-group">
                                <label for="accion" class="control-label col-xs-5">Nuevo Estado:</label>
                                <div class="col-xs-7">
                                    <input type="hidden" id="estadoId"/>
                                    <p class="form-control-static" id="labelNuevoEstado"></p>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-lg-8" id="motivoRechazoDiv">

                            <!--MOTIVO RECHAZO-->
                            <div class="form-group">
                                <label for="motivoRechazo" class="control-label col-xs-3">Motivo:</label>

                                <div class="col-xs-9">
                                    <textarea class="form-control" rows="5" id="comentarioEstado" name="comentarioEstado"></textarea>
                                </div>
                            </div>
                        </div>

                    </div>

                </form>
            </div>

            <div class="modal-footer">
                <button type="button" id="btnCancelarCambioEstado" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" id="btnAceptarCambioEstado" class="btn btn-primary">Aceptar</button>
            </div>
        </div>
    </div>
</div>