@{
    ViewBag.Title = "Cargas Stock";
    Model.Rol rol = ViewBag.rol;

}

<div class="page-header">
    <h3>@ViewBag.Title</h3>
</div>
<div class="container">
    <input type="hidden" id="idProducto" value="" />
    <input type="hidden" id="pagina" value="@ViewBag.pagina" />

    <form class="form-horizontal">

        <div class="row">
            <div class="col-sm-6 col-lg-4">
                <div class="form-group">

                </div>
            </div>
        </div>

        <div class="row pull-right" style="margin-bottom:10px; margin-right:0px">
            @*<button id="btnLimpiarBusqueda" type="button" class="btn btn-primary  bouton-image botonClean">Limpiar</button>*@
            <button id="btnBusqueda" type="button" class="btn btn-primary  bouton-image botonSearch">Buscar</button>
        </div>

        @*<div id="divExportButton" class="row pull-left" style="margin-bottom:10px; margin-left:0px; display: none;">
                <button id="btnExportExcel" type="button" class="btn btn-primary  bouton-image botonExcel" actionLink="@Url.Action("ExportLastSearchExcel", "Rol")">Exportar</button>
            </div>*@

        <table id="tableCargasStock" class="table" data-editing="false" data-paging="true" data-paging-count-format="{CP} de {TP}"
               data-editing-allow-add="false"
               data-editing-allow-delete="false"
               data-editing-allow-edit="false"
               data-sorting="true"
               data-show-toggle="false"
               data-editing-hide-text="Finalizar edición"
               data-editing-add-text="Descartar cambios">
            <thead>
                <tr>
                    <th data-name="idCierreStock" data-visible="false"></th>
                    <th data-name="fecha" data-visible="true">Fecha Toma<br /> Inventario</th>
                    <th data-name="sede" data-visible="true">Sede</th>
                    <th data-name="usuario" data-visible="true">Usuario</th>
                    <th data-name="usuario" data-visible="true">Archivo</th>
                    <th data-name="usuario" data-visible="true">Fecha Creación</th>
                    <th data-name="opciones" data-sortable="true" data-breakpoints="xs"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (Model.CierreStock item in ViewBag.cargas)
                {
                    <tr>
                        <td>@item.idCierreStock.ToString()</td>
                        <td>@item.fecha.ToString("dd/MM/yyyy")</td>
                        <td>@item.ciudad.nombre</td>
                        <td>@item.UsuarioRegistro.nombre</td>
                        <td><a href="#" class="btnDescargarArchivoAdjunto" idArchivoAdjunto="@item.archivo.idArchivoAdjunto.ToString()">Descargar</a></td>
                        <td>@item.FechaRegistroDesc</td>
                        <td>
                            <button type="button" class="btn btn-success btnVerRVS" idCierreStock="@item.idCierreStock.ToString()">Validación Stock</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </form>
</div>


<div class="modal fade" tabindex="-1" id="modalReporteValidacionStock">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modalReporteValidacionStockTitle"><b>Reporte Validación Stock</b></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <p></p>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6 col-lg-6">
                        <div class="form-group">
                            <label class="control-label col-xs-4">Sede:</label>
                            <div class="col-xs-8">
                                <span class="form-control-static" id="verSedeRVS"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-6">
                        <div class="form-group">
                            <label class="control-label col-xs-4">Fecha Toma Inv.:</label>
                            <div class="col-xs-8">
                                <span class="form-control-static" id="verFechaRVS"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-lg-6">
                        <div class="form-group">
                            <label class="control-label col-xs-4">Usuario Validación:</label>
                            <div class="col-xs-8">
                                <span class="form-control-static" id="verUsuarioValidacionRVS"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-6">
                        <div class="form-group">
                            <label class="control-label col-xs-4">Fecha Validación:</label>
                            <div class="col-xs-8">
                                <span class="form-control-static" id="verFechaValidacionRVS"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-lg-6">
                        <div class="form-group">
                            <label class="control-label col-xs-4">Archivo:</label>
                            <div class="col-xs-8">
                                <a href="#" class="btnDescargarArchivoAdjunto" id="descargarArchivoRVS" idArchivoAdjunto="">Descargar</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-lg-6 text-left">
                        <button id="btnRegistrarASF" type="button" class="btn btn-info">Registrar Ajuste Stock Faltante</button>
                        <br />
                        <br />
                        <button id="btnRegistrarASE" type="button" class="btn btn-info">Registrar Ajuste Stock Sobrante</button>
                    </div>
                    <div class="col-sm-12 col-lg-6 text-right">
                        <button id="btnEjecutarRVS" type="button" class="btn btn-warning">Ejecutar Validación Stock</button>
                    </div>

                </div>
                <br />
                <table id="tableRVS" class="table" data-editing="false" data-paging="true" data-paging-count-format="{CP} de {TP}"
                       data-editing-show-text='<span class="fooicon fooicon-pencil" aria-hidden="true"></span> Editar Detalle'
                       data-editing-allow-add="false"
                       data-editing-allow-delete="false"
                       data-editing-allow-edit="false"
                       data-sorting="true"
                       data-show-toggle="false"
                       data-editing-hide-text="Finalizar edición"
                       data-editing-add-text="Descartar cambios">
                    <thead>
                        <tr>
                            <th>Producto</th>
                            <th>Unidad Conteo</th>
                            <th>Stock Cargado</th>
                            <th>Stock ZAS</th>
                            <th>Diferencia</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                @*<div class="col-sm-12 col-lg-12 text-right">
            <button id="btnExportKardexExcel" type="button" class="btn btn-primary  bouton-image botonExcel" actionLink="@Url.Action("ReporteStockProductoKardexExcel", "Stock")">Exportar</button>
        </div>*@

            </div>
        </div>
    </div>
</div>



@section Scripts {
    @Scripts.RenderFormat("<script type=\"text/javascript\" src=\"{0}?nocache=" + TempData["ScriptVersion"] + "\"></script>", "~/bundles/stock")
}