@{
    ViewBag.Title = "Descargar Plantilla Para Carga Stock";
    Model.Producto producto = ViewBag.producto;
}

<div class="page-header">
    <h3>@ViewBag.Title</h3>
</div>
<div class="container">
    <input type="hidden" id="idProducto" value="" />
    <input type="hidden" id="pagina" value="@ViewBag.pagina" />

    <form class="form-horizontal">

        <div class="row">
            <!--codigo-->
            <div class="col-sm-6 col-lg-4">
                <div class="form-group">
                    @Html.LabelFor(c => producto.sku, htmlAttributes: new { @class = "control-label col-xs-4" })
                    <div class="col-xs-8">
                        @Html.TextBoxFor(c => producto.sku, htmlAttributes: new { @class = "form-control" })
                        <span style="margin-right: 20px; font-size:12px; color: darkred; font-weight: normal " class="has-error">*Si ingresa el código los otros criterios no serán considerados en la búsqueda. <br />Puede usar '%' como comodín al final. Ej: "HH%"</span>
                    </div>
                </div>
            </div>

            <!--codigo proveedor-->
            <div class="col-sm-6 col-lg-4">
                <div class="form-group row">
                    @Html.LabelFor(c => producto.skuProveedor, htmlAttributes: new { @class = "control-label col-xs-4" })
                    <div class="col-xs-8">
                        @Html.TextBoxFor(c => producto.skuProveedor, htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group row">
                    @Html.LabelFor(c => producto.proveedor, htmlAttributes: new { @class = "control-label col-xs-4" })
                    <div class="col-xs-8">
                        @Html.Action("list", "Proveedor")
                    </div>
                </div>

            </div>


            <div class="col-sm-6 col-lg-4">
                <div class="form-group row">
                    <label class="control-label col-xs-4" for="producto_skuProveedor">Estado:</label>
                    <div class="col-xs-8">
                        <div class="radio radio-inline">
                            <label class="radio-label">
                                @if (producto.Estado == 1)
                                {
                                    <input class="radio-input" checked type="radio" name="producto_estado" id="producto_estado_si" value="1"><span>Activo</span>
                                }
                                else
                                {
                                    <input class="radio-input" type="radio" name="producto_estado" id="producto_estado_si" value="1"><span>Activo</span>
                                }

                            </label>
                        </div>
                        <div class="radio radio-inline">
                            <label class="radio-label">
                                @if (producto.Estado == 0)
                                {
                                    <input class="radio-input" checked type="radio" name="producto_estado" id="producto_estado_no" value="0"><span>Inactivo</span>
                                }
                                else
                                {
                                    <input class="radio-input" type="radio" name="producto_estado" id="producto_estado_no" value="0"><span>Inactivo</span>
                                }
                            </label>
                        </div>
                        <div class="radio radio-inline">
                            <label class="radio-label">
                                @if (producto.Estado == -1)
                                {
                                    <input class="radio-input" checked type="radio" name="producto_estado" id="producto_estado_todos" value="0"><span>Todos</span>
                                }
                                else
                                {
                                    <input class="radio-input" type="radio" name="producto_estado" id="producto_estado_todos" value="0"><span>Todos</span>
                                }
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    @Html.LabelFor(c => producto.familia, htmlAttributes: new { @class = "control-label col-xs-4" })
                    <div class="col-xs-8">
                        @Html.Action("list", "Familia")
                    </div>
                </div>
            </div>
        </div>

        <!--Familia, proveedor, producto -->
        <div class="row">
            <!--Familia-->
            
            <!--Descripcion producto-->
            <div class="col-sm-6 col-lg-8">

                <div class="form-group">
                    @Html.LabelFor(c => producto.descripcion, htmlAttributes: new { @class = "control-label col-xs-2" })
                    <div class="col-xs-10">
                        @Html.TextBoxFor(c => producto.descripcion, htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>

            </div>

            <div class="col-sm-6 col-lg-4">

                <div class="form-group">
                    @Html.LabelFor(c => producto.tipoVentaRestringidaBusqueda, htmlAttributes: new { @class = "control-label col-xs-4" })
                    <div class="col-xs-8">
                        <select class="form-control" id="tipoVentaRestringidaBusqueda" name="tipoVentaRestringidaBusqueda">
                            <option @(producto.tipoVentaRestringidaBusqueda == -1 ? "selected" : "") value="-1">Seleccione</option>
                            <option @(producto.tipoVentaRestringidaBusqueda == 1 ? "selected" : "") value="1">Descontinuado</option>
                            <option @(producto.tipoVentaRestringidaBusqueda == 2 ? "selected" : "") value="2">Inestabilidad de precios</option>
                            <option @(producto.tipoVentaRestringidaBusqueda == 3 ? "selected" : "") value="3">Stock limitado</option>
                            <option @(producto.tipoVentaRestringidaBusqueda == 9999 ? "selected" : "") value="9999">Todos los restringidos</option>
                        </select>
                    </div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 col-lg-4">

            </div>
        </div>

        <div class="row pull-right" style="margin-bottom:10px; margin-right:0px">
            <button id="btnLimpiarBusqueda" type="button" class="btn btn-primary  bouton-image botonClean">Limpiar</button>
            <button id="btnExportExcel" type="button" class="btn btn-primary  bouton-image botonExcel" actionLink="@Url.Action("ExportPlantillaStock", "Stock")">Descargar Plantilla</button>
        </div>
    </form>

</div>



@section Scripts {
    @Scripts.RenderFormat("<script type=\"text/javascript\" src=\"{0}?nocache=" + TempData["ScriptVersion"] + "\"></script>", "~/bundles/stock")
}
