@{
    ViewBag.Title = "Búsqueda de Listas de Precios Especiales";
    Model.PrecioEspecialCabecera objSearch = ViewBag.objSearch;


}

<div class="page-header">
    <h3>@ViewBag.Title</h3>
</div>
<div class="container">
    <input type="hidden" id="idUsuario" value="" />
    <input type="hidden" id="pagina" value="@ViewBag.pagina" />

    <form class="form-horizontal">

        <div class="row" style="min-height: 40px;">

            <!--TIPO MOVIMIENTO-->
            <div class="col-sm-6 col-lg-4 col-xs-12">
                <div class="form-group">
                    <label for="tipoNegociacion" class="control-label col-xs-4">Tipo Negociación:</label>
                    <div class="col-xs-8">
                        <select id="tipoNegociacion" class="form-control">
                            <option @(objSearch.tipoNegociacion.Equals("RUC") ? "selected" : "") value="RUC">RUC</option>
                            <option @(objSearch.tipoNegociacion.Equals("GRUPO") ? "selected" : "") value="GRUPO">GRUPO</option>
                        </select>
                    </div>
                </div>
            </div>


        </div>

        <div class="row" style="margin-bottom: 20px;">
            <!--FECHA EMISION DESDE-->
            <div class="col-xs-12 col-sm-6 col-lg-4">
                <div class="form-group">
                    <label for="fechaVigenciaDesde" class="control-label col-xs-4">Vigencia Desde:</label>
                    <div class="col-xs-8">
                        <input class="form-control" type="text" value="@objSearch.fechaInicio.ToString("dd/MM/yyyy")" id="fechaVigenciaDesde">
                    </div>
                </div>
            </div>

            <!--FECHA EMISION HASTA-->
            <div class="col-xs-12 col-sm-6 col-lg-4">
                <div class="form-group">
                    <label for="fechaVigenciaHasta" class="control-label col-xs-4">Vigencia Hasta:</label>
                    <div class="col-xs-8">
                        <input class="form-control" type="text" value="@objSearch.fechaFin.ToString("dd/MM/yyyy")" id="fechaVigenciaHasta">
                    </div>
                </div>
            </div>

        </div>

        
        <div class="row pull-left" style="margin-bottom:10px; margin-right:0px">
            <button id="btnExportExcelGlobal" type="button" class="btn btn-primary  bouton-image botonExcel" actionLink="@Url.Action("ExportListadoGlobal", "PrecioEspecial")">Exportar Lista y Precios</button>
            <button id="btnExportExcelAllBD" type="button" class="btn btn-primary  bouton-image botonExcel" actionLink="@Url.Action("ExportAllBD", "PrecioEspecial")">Descargar Base de Datos</button>
        </div>

        <div class="row pull-right" style="margin-bottom:10px; margin-right:0px">
            <button id="btnLimpiarBusqueda" type="button" class="btn btn-primary  bouton-image botonClean">Limpiar</button>
            <button id="btnBusqueda" type="button" class="btn btn-primary  bouton-image botonSearch">Buscar</button>
        </div>


        <table id="tableListasPrecios" class="table" data-editing="false" data-paging="true" data-paging-count-format="{CP} de {TP}"
               data-editing-show-text='<span class="fooicon fooicon-pencil" aria-hidden="true"></span> Editar Detalle'
               data-editing-allow-add="false"
               data-editing-allow-delete="false"
               data-editing-allow-edit="false"
               data-sorting="true"
               data-show-toggle="false"
               data-editing-hide-text="Finalizar edición"
               data-editing-add-text="Descartar cambios">
            <thead>
                <tr>
                    <th data-name="tipoNegociacion" data-visible="true">Tipo Negociación</th>
                    <th data-name="codigo" data-visible="true">Código</th>
                    <th data-name="cliente" data-visible="true">Cliente o Grupo</th>
                    <th data-name="fechaInicio" data-visible="true">Fecha Inicio</th>
                    <th data-name="fechaFin" data-visible="true">Fecha Fin</th>
                    <th data-name="opciones" data-sortable="true" data-breakpoints="xs"></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </form>
</div>




<div class="modal fade" id="modalVerPrecioEspecial" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modalVerPrecioEspecial"><b>Información Lista de Precios Especiales</b></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <p></p>
            </div>



            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="row">
                        <div class="col-sm-6 col-lg-6">
                            <div class="form-group">
                                <label for="ver_codigo" class="control-label col-xs-4">Código:</label>
                                <div class="col-xs-8">
                                    <p class="form-control-static" id="ver_codigo"></p>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-lg-6">
                            <div class="form-group">
                                <label for="ver_tipo_negociacion" class="control-label col-xs-4">Tipo Negociación:</label>
                                <div class="col-xs-8">
                                    <p class="form-control-static" id="ver_tipo_negociacion"></p>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-lg-6">
                            <div class="form-group">
                                <label for="ver_titulo" class="control-label col-xs-4">Título:</label>
                                <div class="col-xs-8">
                                    <p class="form-control-static" id="ver_titulo"></p>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-lg-6">
                            <div class="form-group">
                                <label for="ver_titulo" class="control-label col-xs-4">Código Registro Prov.:</label>
                                <div class="col-xs-8">
                                    <p class="form-control-static" id="ver_codigoListaProveedor"></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12 col-lg-12" id="divVerGrupo">
                            <div class="form-group">
                                <label for="ver_grupo" class="control-label col-xs-4 col-lg-2">Grupo:</label>
                                <div class="col-xs-8 col-lg-10">
                                    <p class="form-control-static" id="ver_grupo"></p>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12 col-lg-12">
                            <div class="form-group">
                                <label for="ver_cliente" class="control-label col-xs-4 col-lg-2">Cliente:</label>
                                <div class="col-xs-8 col-lg-10">
                                    <p class="form-control-static" id="ver_cliente"></p>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-sm-6 col-lg-6">
                            <div class="form-group">
                                <label for="ver_fecha_inicio" class="control-label col-xs-4">Fecha Inicio:</label>
                                <div class="col-xs-8">
                                    <p class="form-control-static" id="ver_fecha_inicio"></p>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-lg-6">
                            <div class="form-group">
                                <label for="ver_fecha_fin" class="control-label col-xs-4">Fecha Fin:</label>
                                <div class="col-xs-8">
                                    <p class="form-control-static" id="ver_fecha_fin"></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6 col-lg-6">
                            <div class="form-group">
                                <label for="ver_registradoPor" class="control-label col-xs-4">Registrado Por:</label>
                                <div class="col-xs-8">
                                    <p class="form-control-static" id="ver_registradoPor"></p>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-lg-6">
                            <div class="form-group">
                                <label for="ver_fechaRegistro" class="control-label col-xs-4">Fecha y Hora Registro:</label>
                                <div class="col-xs-8">
                                    <p class="form-control-static" id="ver_fechaRegistro"></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6 col-lg-12">
                            <!--Dirección Destino-->
                            <div class="form-group">
                                <label for="ver_observaciones" class="control-label col-xs-2">Observaciones:</label>
                                <div class="col-xs-10">
                                    <p class="form-control-static" id="ver_observaciones"></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="divExportButton" class="row" style="margin-bottom:10px; margin-left:0px; text-align:right;">
                        <button id="btnExportExcel" type="button" class="btn btn-primary  bouton-image botonExcel" actionLink="@Url.Action("ExportListadoPrecios", "PrecioEspecial")">Exportar Lista Precios</button>
                    </div>

                    <div class="row" style="max-height: 500px; overflow-y: auto; overflow-x: hidden;">
                        <table id="tableDetallePreciosEspeciales" class="table col-xs-12" data-editing="false">
                            <thead>
                                <tr>
                                    <th data-name="producto" data-visible="true" data-sortable="true">Producto</th>
                                    <th data-name="unidadPrecio" data-visible="true" data-sortable="true">Unidad Precio</th>
                                    <th data-name="valorPrecio" data-visible="true" data-sortable="true">Precio</th>
                                    <th data-name="unidadCosto" data-visible="true" data-sortable="true">Unidad Costo</th>
                                    <th data-name="valorCosto" data-visible="true" data-sortable="true">Costo</th>
                                    <th data-name="fechaInicio" data-visible="true" data-sortable="true">Fecha Inicio</th>
                                    <th data-name="fechaFin" data-visible="true" data-sortable="true">Fecha Fin</th>
                                    <th data-name="opciones" data-sortable="true" data-breakpoints="xs"></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </form>
            </div>

            <div class="modal-footer">

                <div class="pull-right">
                    <button type="button" id="btnCancelarVerPrecioEspecial" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    @*<button type="button" id="btnEditarPrecioEspecial" class="btn btn-info">Editar</button>*@
                </div>
            </div>
        </div>
    </div>
</div>




@section Scripts {
    @Scripts.RenderFormat("<script type=\"text/javascript\" src=\"{0}?nocache=" + TempData["ScriptVersion"] + "\"></script>", "~/bundles/precioEspecial")
}
