@{
    TempData["ScriptVersion"] = "390";

    var usuario = (Model.Usuario)this.Session["usuario"] == null ? new Model.Usuario() : (Model.Usuario)this.Session["usuario"];
    int pagina = ViewBag.pagina == null ? 0 : ViewBag.pagina;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cotizador - @ViewBag.Title</title>

    @Styles.RenderFormat("<link rel=\"stylesheet\" href=\"{0}?nocache=" + TempData["ScriptVersion"] + "\"/>", "~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<body>
    @{
        Layout = "~/Views/Shared/ModalMensaje.cshtml";
    }


    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>


                @Html.HiddenFor(model => usuario.idUsuario)

                <img src="~/images/logo_ind.jpg" id="imagenMP" height="42" style="margin:3px; margin-right: 10px ;" />





            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @{
                        var linkCotizaciones = "";
                        var linkBusquedaCotizaciones = "";
                        var linkMantenimientoCotizacion = "";
                        var linkMantenimientoCotizacionGrupal = "";

                        var linkPedidos = "";
                        var linkBusquedaPedidos = "";
                        var linkMantenimientoPedido = "";
                        var linkBusquedaPedidosCompra = "";
                        var linkMantenimientoPedidoCompra = "";
                        var linkBusquedaPedidosAlmacen = "";
                        var linkMantenimientoPedidoAlmacen = "";

                        var linkMovimientosAlmacen = "";
                        var linkBusquedaGuiasRemision = "";
                        var linkMantenimientoGuiaRemision = "";


                        var linkDocumentosVenta = "";
                        var linkBusquedaFactura = "";
                        var linkBusquedaDocumentosCompra = "";
                        var linkExportarCPEs = "";
                        /*        var linkMantenimientoFactura = "";

                                var linkBusquedaBoleta = "";
                                var linkMantenimientoBoleta = "";

                                var linkBusquedaNotaCredito = "";
                                var linkMantenimientoNotaCredito = "";

                                var linkBusquedaNotaDebito = "";
                                var linkMantenimientoNotaDebito = "";*/

                        var linkMaestros = "";
                        var linkBusquedaCliente = "";
                        var linkMantenimientoCliente = "";
                        var linkBusquedaGrupoCliente = "";
                        var linkMantenimientoGrupoCliente = "";

                        var linkBusquedaProducto = "";
                        var linkCargaMasivaProducto = "";
                        var linkMantenimientoProducto = "";

                        var linkBusquedaOrigen = "";
                        var linkMantenimientoOrigen = "";

                        var linkBusquedaSubDistribuidor = "";
                        var linkMantenimientoSubDistribuidor = "";

                        var linkBusquedaRubro = "";
                        var linkMantenimientoRubro = "";

                        var linkBusquedaRol = "";
                        var linkMantenimientoRol = "";

                        var linkBusquedaUsuario = "";
                        var linkMantenimientoUsuario = "";

                        var linkBusquedaVendedor = "";
                        var linkMantenimientoVendedor = "";

                        var linkMantenimientoLogCampo = "";
                        var linkBusquedaDocumentoVentaNotificacion = "";

                        var linkBusquedaVentas = "";

                        var linkCrearMensaje = "";
                        var linkBusquedaMensaje = "";

                        var linkCrearFacturaConsolidada = "";

                        var linkBusquedaNotasIngreso = "";
                        var linkMantenimientoNotaIngreso = "";

                        var linkAsignacionPermisos = "";

                    }
                    @if (this.Session["pagina"] != null)
                    {
                        switch ((int)this.Session["pagina"])
                        {
                            case 0: linkBusquedaCotizaciones = "ative"; linkCotizaciones = "active"; break;
                            case 1: linkMantenimientoCotizacion = "ative"; linkCotizaciones = "active"; break;

                            case 2: linkBusquedaPedidos = "ative"; linkPedidos = "active"; break;
                            case 3: linkMantenimientoPedido = "ative"; linkPedidos = "active"; break;
                            case 4: linkBusquedaGuiasRemision = "ative"; linkMovimientosAlmacen = "active"; break;
                            case 5: linkMantenimientoGuiaRemision = "ative"; linkMovimientosAlmacen = "active"; break;


                            case 6: linkBusquedaFactura = "ative"; linkDocumentosVenta = "active"; break;
                            case 19: linkCrearFacturaConsolidada = "ative"; linkDocumentosVenta = "active"; break;
                            case 40: linkBusquedaDocumentosCompra = "ative"; linkDocumentosVenta = "active"; break;


                            case 410: linkExportarCPEs = "ative"; linkDocumentosVenta = "active"; break;

                            //case 44: linkBusquedaDocumentoVentaNotificacion = "ative"; linkDocumentosVenta = "active"; break;
                            case 47: linkBusquedaVentas = "ative"; linkDocumentosVenta = "active"; break;

                            /*case 7: linkMantenimientoFactura = "ative"; linkDocumentosVenta = "active"; break;
                            case 8: linkBusquedaBoleta = "ative"; linkDocumentosVenta = "active"; break;
                            case 9: linkMantenimientoBoleta = "ative"; linkDocumentosVenta = "active"; break;
                            case 10: linkBusquedaNotaCredito = "ative"; linkDocumentosVenta = "active"; break;
                            case 11: linkMantenimientoNotaCredito = "ative"; linkDocumentosVenta = "active"; break;
                            case 12: linkBusquedaNotaDebito = "ative"; linkDocumentosVenta = "active"; break;
                            case 13: linkMantenimientoNotaDebito = "ative"; linkDocumentosVenta = "active"; break;
                            case 14: linkMantenimientoNotaDebito = "ative"; linkDocumentosVenta = "active"; break;
                            case 15: linkMantenimientoNotaDebito = "ative"; linkDocumentosVenta = "active"; break;
                            */

                            case 17: linkBusquedaCliente = "ative"; linkMaestros = "active"; break;
                            case 18: linkMantenimientoCliente = "ative"; linkMaestros = "active"; break;
                            case 27: linkBusquedaProducto = "ative"; linkMaestros = "active"; break;
                            case 28: linkCargaMasivaProducto = "ative"; linkMaestros = "active"; break;
                            case 29: linkMantenimientoProducto = "ative"; linkMaestros = "active"; break;

                            case 30: linkBusquedaOrigen = "ative"; linkMaestros = "active"; break;
                            case 31: linkMantenimientoOrigen = "ative"; linkMaestros = "active"; break;

                            case 32: linkBusquedaSubDistribuidor = "ative"; linkMaestros = "active"; break;
                            case 33: linkMantenimientoSubDistribuidor = "ative"; linkMaestros = "active"; break;

                            case 750: linkBusquedaRubro = "ative"; linkMaestros = "active"; break;
                            case 751: linkMantenimientoRubro = "ative"; linkMaestros = "active"; break;

                            case 20: linkBusquedaNotasIngreso = "ative"; linkMovimientosAlmacen = "active"; break;
                            case 21: linkMantenimientoNotaIngreso = "ative"; linkMovimientosAlmacen = "active"; break;
                            case 22: linkMantenimientoNotaIngreso = "ative"; linkMovimientosAlmacen = "active"; break;
                            case 23: linkBusquedaPedidosCompra = "ative"; linkPedidos = "active"; break;
                            case 24: linkMantenimientoPedidoCompra = "ative"; linkPedidos = "active"; break;
                            case 25: linkBusquedaPedidosAlmacen = "ative"; linkPedidos = "active"; break;
                            case 26: linkMantenimientoPedidoAlmacen = "ative"; linkPedidos = "active"; break;


                            case 35: linkMantenimientoCotizacionGrupal = "ative"; linkCotizaciones = "active"; break;

                            case 36: linkBusquedaGrupoCliente = "ative"; linkMaestros = "active"; break;
                            case 37: linkMantenimientoGrupoCliente = "ative"; linkMaestros = "active"; break;

                            case 38: linkAsignacionPermisos = "ative"; linkMaestros = "active"; break;

                            case 41: linkBusquedaVendedor = "ative"; linkMaestros = "active"; break;
                            case 42: linkMantenimientoVendedor = "ative"; linkMaestros = "active"; break;

                            case 43: linkMantenimientoLogCampo = "ative"; linkMaestros = "active"; break;

                            case 45: linkCrearMensaje = "ative"; linkMaestros = "active"; break;
                            case 46: linkBusquedaVentas = "ative"; linkMaestros = "active"; break;

                            case 101: linkBusquedaRol = "ative"; linkMaestros = "active"; break;
                            case 102: linkMantenimientoRol = "ative"; linkMaestros = "active"; break;
                            case 103: linkBusquedaUsuario = "ative"; linkMaestros = "active"; break;
                            case 104: linkMantenimientoUsuario = "ative"; linkMaestros = "active"; break;
                        }

                        if (usuario.creaCotizaciones || usuario.apruebaCotizaciones || usuario.visualizaCotizaciones)
                        {
                            <li class="@linkCotizaciones">
                                <a class="dropdown-toggle" data-toggle="dropdown">
                                    Cotizaciones
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    @if (usuario.creaCotizaciones || usuario.apruebaCotizaciones || usuario.visualizaCotizaciones)
                                    {
                                        <li id="linkBusquedaCotizaciones" class="@linkBusquedaCotizaciones">@Html.ActionLink("Cotización - Búsqueda", "Index", "Cotizacion")</li>
                                    }
                                    @if (usuario.creaCotizaciones)
                                    {
                                        <li id="linkMantenimientoCotizacion" class="@linkMantenimientoCotizacion">@Html.ActionLink("Cotización - Crear/Modificar", "Cotizar", "Cotizacion")</li>
                                    }
                                    @if (usuario.creaCotizacionesGrupales)
                                    {
                                        <li id="linkMantenimientoCotizacionGrupal" class="@linkMantenimientoCotizacionGrupal">@Html.ActionLink("Cotización Grupal - Crear/Modificar", "CotizarGrupo", "Cotizacion")</li>
                                    }
                                </ul>
                            </li>
                        }

                        if (usuario.tomaPedidos || usuario.apruebaPedidos || usuario.visualizaPedidos)
                        {

                            <li class="@linkPedidos">
                                <a class="dropdown-toggle" data-toggle="dropdown">
                                    Pedidos
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    @if (usuario.tomaPedidos || usuario.apruebaPedidos || usuario.visualizaPedidos)
                                    {
                                        <li id="linkBusquedaPedidos" class="@linkBusquedaPedidos">@Html.ActionLink("Pedido Venta - Búsqueda", "Index", "Pedido")</li>
}
                                    @if (usuario.tomaPedidos)
                                    {
                                        <li id="linkMantenimientoPedido" class="@linkMantenimientoPedido">@Html.ActionLink("Pedido Venta - Crear/Modificar", "Pedir", "Pedido")</li>
                                    }
                                    @if (usuario.realizaCargaMasivaPedidos)
                                    {
                                        <li id="linkCargaPedido" class="@linkMantenimientoPedido">@Html.ActionLink("Pedido Venta - Carga Masiva", "Load", "Pedido")</li>
                                    }

                                    @if (usuario.tomaPedidosCompra)
                                    {
                                        <li id="linkBusquedaPedidosCompra" class="@linkBusquedaPedidosCompra">@Html.ActionLink("Pedido Compra - Búsqueda", "Index", "PedidoCompra")</li>
}
                                    @if (usuario.tomaPedidosCompra)
                                    {
                                        <li id="linkMantenimientoPedidoCompra" class="@linkMantenimientoPedidoCompra">@Html.ActionLink("Pedido Compra - Crear/Modificar", "Pedir", "PedidoCompra")</li>
                                    }

                                    @if (usuario.creaDocumentosVenta || usuario.tomaPedidosAlmacen)
                                    {
                                        <li id="linkBusquedaPedidosAlmacen" class="@linkBusquedaPedidosAlmacen">@Html.ActionLink("Pedido Almacén - Búsqueda", "Index", "PedidoAlmacen")</li>
}
                                    @if (usuario.creaDocumentosVenta || usuario.tomaPedidosAlmacen)
                                    {
                                        <li id="linkMantenimientoPedidoAlmacen" class="@linkMantenimientoPedidoAlmacen">@Html.ActionLink("Pedido Almacén - Crear/Modificar", "Pedir", "PedidoAlmacen")</li>
                                    }
                                    @if (usuario.apruebaPedidos || usuario.apruebaPedidosCompra || usuario.apruebaPedidosAlmacen)
                                    {
                                        <li id="linkBusquedaPedidos" class="@linkBusquedaPedidos">@Html.ActionLink("Aprobar Pedidos", "AprobarPedidos", "Pedido")</li>
                                    }
                                </ul>
                            </li>
                        }

                        if (usuario.creaGuias || usuario.administraGuias || usuario.visualizaGuias)
                        {

                            <li class="@linkMovimientosAlmacen">
                                <a class="dropdown-toggle" data-toggle="dropdown">
                                    Movimientos de Almacén
                                    <span class="caret"></span>
                                </a>

                                <ul class="dropdown-menu" role="menu">
                                    @if (usuario.administraGuias || usuario.creaGuias || usuario.visualizaGuias)
                                    {
                                        <li id="linkBusquedaGuiasRemision" class="@linkBusquedaGuiasRemision">@Html.ActionLink("Guia de Remisión - Búsqueda", "Index", "GuiaRemision")</li>
                                    }

                                    @if (usuario.creaGuias)
                                    {
                                        <li id="linkMantenimientoGuiaRemision" class="@linkMantenimientoGuiaRemision">@Html.ActionLink("Guía de Remisión - Crear/Modificar", "Guiar", "GuiaRemision")</li>
                                    }

                                    @if (usuario.administraGuias || usuario.creaGuias || usuario.visualizaGuias)
                                    {
                                        <li id="linkBusquedaNotasIngreso" class="@linkBusquedaNotasIngreso">@Html.ActionLink("Nota de Ingreso - Búsqueda", "Index", "NotaIngreso")</li>
                                    }

                                    @if (usuario.creaGuias)
                                    {
                                        <li id="linkMantenimientoNotaIngreso" class="@linkMantenimientoNotaIngreso">@Html.ActionLink("Nota de Ingreso - Crear/Modificar", "Ingresar", "NotaIngreso")</li>
                                    }
                                </ul>
                            </li>
                        }

                        if (usuario.creaDocumentosVenta || usuario.administraDocumentosVenta || usuario.visualizaDocumentosVenta || usuario.creaDocumentosCompra)
                        {

                            <li class="@linkDocumentosVenta">
                                <a class="dropdown-toggle" data-toggle="dropdown">
                                    Documentos de Venta/Compra
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu" role="menu">

                                    @if (usuario.creaDocumentosVenta || usuario.administraDocumentosVenta || usuario.visualizaDocumentosVenta)
                                    {
                                        <li id="linkBusquedaFactura" class="@linkBusquedaFactura">@Html.ActionLink("Documentos de Venta - Búsqueda", "Index", "Factura")</li>
                                    }

                                    @if (usuario.visualizaGuiasPendienteFacturacion || usuario.creaFacturaConsolidadaMultiregional || usuario.creaFacturaConsolidadaLocal)
                                    {
                                        <li id="linkCrearFacturaConsolidada" class="@linkCrearFacturaConsolidada">@Html.ActionLink("Documentos de Venta - Crear Factura Consolidada", "ConsolidarFactura", "GuiaRemision")</li>
                                    }

                                    @if (usuario.creaDocumentosCompra || usuario.visualizaDocumentosCompra)
                                    {
                                        <li id="linkBusquedaDocumentoCompra" class="@linkBusquedaDocumentosCompra">@Html.ActionLink("Documentos de Compra - Búsqueda", "Index", "DocumentoCompra")</li>
                                    }

                                    @*@if (usuario.visualizaDocumentoVentaNotificacion)
                                        {
                                            <li id="linkBusquedaDocumentoVentaNotificacion" class="@linkBusquedaDocumentoVentaNotificacion">@Html.ActionLink("Documentos de Venta - Notificaciones pendientes", "ValidarNotificacionAnulacion", "DocumentoVenta")</li>
                                        }*@


                                    @if (usuario.administraPermisos)
                                    {
                                        <li id="linkExportarCPEs" class="@linkExportarCPEs">@Html.ActionLink("Exportar CPEs Venta", "ExportarCPEs", "DocumentoVenta")</li>
                                    }
                                    @if (usuario.visualizaVentas)
                                    {
                                        <li id="linkBusquedaVentas" class="@linkBusquedaVentas">@Html.ActionLink("Venta - Búsqueda", "Lista", "Venta")</li>
                                    }
                                </ul>
                            </li>
                        }

                        if (usuario.modificaMaestroClientes || usuario.modificaMaestroProductos || usuario.modificaGrupoClientes
                            || usuario.visualizaGrupoClientes)
                        {
                            <li class="@linkMaestros">
                                <a class="dropdown-toggle" data-toggle="dropdown">
                                    Maestros
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    @if (usuario.modificaMaestroClientes || usuario.visualizaClientes)
                                    {
                                        <li id="linkBusquedaCliente" class="@linkMantenimientoCliente">@Html.ActionLink("Cliente - Búsqueda", "Index", "Cliente")</li>
                                    }
                                    @if (usuario.modificaMaestroClientes)
                                    {
                                        <li id="linkMantenimientoCliente" class="@linkMantenimientoCliente">@Html.ActionLink("Cliente - Crear/Modificar", "Editar", "Cliente")</li>
                                    }

                                    @if (usuario.modificaGrupoClientes || usuario.visualizaGrupoClientes || usuario.esVendedor)
                                    {
                                        <li id="linkBusquedaGrupoCliente" class="@linkMantenimientoGrupoCliente">@Html.ActionLink("Grupo Cliente - Búsqueda", "Index", "GrupoCliente")</li>
                                    }
                                    @if (usuario.modificaGrupoClientes || usuario.esVendedor)
                                    {
                                        <li id="linkMantenimientoGrupoCliente" class="@linkMantenimientoGrupoCliente">@Html.ActionLink("Grupo Cliente - Crear/Modificar", "Editar", "GrupoCliente")</li>
                                    }


                                    @if (usuario.modificaMaestroProductos || usuario.visualizaProductos || usuario.realizaCargaMasivaProductos)
                                    {
                                        <li id="linkBusquedaProducto" class="@linkBusquedaProducto">@Html.ActionLink("Producto - Búsqueda", "List", "Producto")</li>
                                    }
                                    @if (usuario.modificaMaestroProductos)
                                    {
                                        <li id="linkMantenimientoProducto" class="@linkMantenimientoProducto">@Html.ActionLink("Producto - Crear/Modificar ", "Editar", "Producto")</li>
                                    }
                                    @if (usuario.realizaCargaMasivaProductos)
                                    {
                                        <li id="linkCRProducto" class="@linkCargaMasivaProducto">@Html.ActionLink("Producto - Importar ", "Index", "Producto")</li>
                                    }


                                    @if (usuario.modificaOrigen || usuario.visualizaOrigenes)
                                    {
                                        <li id="linkBusquedaOrigen" class="@linkBusquedaOrigen">@Html.ActionLink("Origen - Búsqueda", "List", "Origen")</li>
                                    }
                                    @if (usuario.modificaOrigen)
                                    {
                                        <li id="linkCROrigen" class="@linkMantenimientoOrigen">@Html.ActionLink("Origen - Crear/Modificar ", "Editar", "Origen")</li>
                                    }


                                    @if (usuario.modificaSubDistribuidor || usuario.visualizaSubDistribuidores)
                                    {
                                        <li id="linkBusquedaSubDistribuidor" class="@linkBusquedaSubDistribuidor">@Html.ActionLink("Categoría Subdistribuidor - Búsqueda", "List", "SubDistribuidor")</li>
                                    }
                                    @if (usuario.modificaSubDistribuidor)
                                    {
                                        <li id="linkCRSubDistribuidor" class="@linkMantenimientoSubDistribuidor">@Html.ActionLink("Categoría Subdistribuidor - Crear/Modificar ", "Editar", "SubDistribuidor")</li>
                                    }

                                    @if (usuario.modificaRubro || usuario.visualizaRubros)
                                    {
                                        <li id="linkBusquedaSubDistribuidor" class="@linkBusquedaSubDistribuidor">@Html.ActionLink("Rubro - Búsqueda", "List", "Rubro")</li>
                                    }
                                    @if (usuario.visualizaRubros)
                                    {
                                        <li id="linkCRSubDistribuidor" class="@linkMantenimientoSubDistribuidor">@Html.ActionLink("Rubro - Crear/Modificar ", "Editar", "Rubro")</li>
                                    }
                                </ul>
                            </li>
                        }

                        if (usuario.visualizaRoles || usuario.modificaRol || usuario.administraPermisos || usuario.visualizaVendedor || usuario.modificaVendedor)
                        {
                            <li class="@linkMaestros">
                                <a class="dropdown-toggle" data-toggle="dropdown">
                                    Sistema
                                    <span class="caret"></span>
                                </a>

                                <ul class="dropdown-menu" role="menu">
                                    @if (usuario.administraPermisos)
                                    {
                                        <li id="linkAsignaPermisos" class="@linkAsignacionPermisos">@Html.ActionLink("Asignación Permisos", "AsignarPermisos", "Permiso")</li>
                                    }

                                    @if (usuario.modificaVendedor || usuario.visualizaVendedor)
                                    {
                                        <li id="linkBusquedaVendedor" class="@linkBusquedaVendedor">@Html.ActionLink("Vendedor - Búsqueda", "Lista", "Vendedor")</li>
                                    }
                                    @if (usuario.modificaVendedor)
                                    {
                                        <li id="linkMantenimientoVendedor" class="@linkMantenimientoVendedor">@Html.ActionLink("Vendedor - Crear/Modificar ", "Editar", "Vendedor")</li>
                                    }

                                    @if (usuario.modificaLogCampo || usuario.visualizaLogCampo)
                                    {
                                        <li id="linkBusquedaLogCampo" class="@linkMantenimientoLogCampo">@Html.ActionLink("LogCampo - Búsqueda", "Lista", "LogCampo")</li>
                                    }

                                    @if (usuario.modificaRol || usuario.visualizaRoles)
                                    {
                                        <li id="linkBusquedaRol" class="@linkBusquedaRol">@Html.ActionLink("Rol - Búsqueda", "List", "Rol")</li>
                                    }
                                    @if (usuario.modificaRol)
                                    {
                                        <li id="linkCRRol" class="@linkMantenimientoRol">@Html.ActionLink("Rol - Crear/Modificar ", "Editar", "Rol")</li>
                                    }

                                    @if (usuario.modificaUsuario || usuario.visualizaUsuarios)
                                    {
                                        <li id="linkBusquedaUsuario" class="@linkBusquedaUsuario">@Html.ActionLink("Usuario - Búsqueda", "List", "Usuario")</li>
                                    }

                                    @if (usuario.visualizaMensaje || usuario.modificaMensaje)
                                    {
                                        <li id="linkBusquedaMensaje" class="@linkBusquedaMensaje">@Html.ActionLink("Mensaje - Búsqueda", "Lista", "Mensaje")</li>
                                    }
                                    @if (usuario.modificaMensaje)
                                    {
                                        <li id="linkCrearMensaje" class="@linkCrearMensaje">@Html.ActionLink("Mensaje - Crear/Modificar", "Editar", "Mensaje")</li>
                                    }


                                    @*@if (usuario.modificaUsuario)
                                        {
                                            <li id="linkCRUsuario" class="@linkMantenimientoUsuario">@Html.ActionLink("Usuario - Crear/Modificar ", "Editar", "Usuario")</li>
                                        }*@


                                    @if (usuario.administraPermisos)
                                    {
                                        <li id="linkAsignaPermisos" class="@linkAsignacionPermisos">@Html.ActionLink("Permisos - Búsqueda", "List", "Permiso")</li>
                                    }

                                </ul>
                            </li>
                        }
                    }

                </ul>

                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @if (usuario != null && usuario.alertasList != null && usuario.alertasList.Count > 0)
        {
            <a href="@Url.Action("Pendientes", "Validacion")" style="text-decoration: none;">
                <div class="alert alert-warning">
                    Tienes @usuario.alertasList.Count.ToString() cambios por validar
                </div>
            </a>

        }
        <p></p>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - MP Institucional</p>
        </footer>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jquery-ui")
    @Scripts.Render("~/bundles/footable")
    @Scripts.Render("~/bundles/jquery-chosen")
    @RenderSection("scripts", required: false)
    @Scripts.Render("~/bundles/loadingModal")
    @Scripts.Render("~/bundles/confirm")
    @Scripts.Render("~/bundles/utiles")
    @Scripts.RenderFormat("<script type=\"text/javascript\" src=\"{0}?nocache=" + TempData["ScriptVersion"] + "\"></script>", "~/bundles/mensaje")
</body>
</html>
