<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cotizador - @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>


<body>


    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img src="~/images/logo_ind.jpg" height="42" width="230" style="margin:3px; margin-right: 10px" />
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @{
                        var linkCotizaciones = "";
                        var linkBusquedaCotizaciones = "";
                        var linkMantenimientoCotizacion = "";

                        var linkPedidos = "";
                        var linkBusquedaPedidos = "";
                        var linkMantenimientoPedido = "";
                        var linkBusquedaPedidosEntrada = "";
                        var linkMantenimientoPedidoEntrada = "";


                        var linkMovimientosAlmacen = "";
                        var linkBusquedaGuiasRemision = "";
                        var linkMantenimientoGuiaRemision = "";


                        var linkDocumentosVenta = "";
                        var linkBusquedaFactura = "";
                        var linkMantenimientoFactura = "";

                        var linkBusquedaBoleta = "";
                        var linkMantenimientoBoleta = "";

                        var linkBusquedaNotaCredito = "";
                        var linkMantenimientoNotaCredito = "";

                        var linkBusquedaNotaDebito = "";
                        var linkMantenimientoNotaDebito = "";

                        var linkMaestros = "";
                        var linkMantenimientoCliente = "";
                        var linkMantenimientoProducto = "";

                        var linkBusquedaGuiasRemisionConsolidarFactura = "";

                        var linkBusquedaNotasIngreso = "";
                        var linkMantenimientoNotaIngreso = "";

                    }
                    @if (this.Session["pagina"] != null)
                    {
                        switch ((int)this.Session["pagina"])
                        {
                            case 0: linkBusquedaCotizaciones = "ative"; linkCotizaciones = "active"; break;
                            case 1: linkMantenimientoCotizacion = "ative"; linkCotizaciones = "active"; break;
                            case 2: linkBusquedaPedidos = "ative"; linkPedidos = "active"; break;
                            case 3: linkMantenimientoPedido = "ative"; linkPedidos = "active"; break;
                            case 4: linkBusquedaGuiasRemision = "ative"; linkMovimientosAlmacen = "active"; break;
                            case 5: linkMantenimientoGuiaRemision = "ative"; linkMovimientosAlmacen = "active"; break;
                            case 19: linkBusquedaGuiasRemisionConsolidarFactura = "ative"; linkMovimientosAlmacen = "active"; break;

                            case 6: linkBusquedaFactura = "ative"; linkDocumentosVenta = "active"; break;
                            case 7: linkMantenimientoFactura = "ative"; linkDocumentosVenta = "active"; break;
                            case 8: linkBusquedaBoleta = "ative"; linkDocumentosVenta = "active"; break;
                            case 9: linkMantenimientoBoleta = "ative"; linkDocumentosVenta = "active"; break;
                            case 10: linkBusquedaNotaCredito = "ative"; linkDocumentosVenta = "active"; break;
                            case 11: linkMantenimientoNotaCredito = "ative"; linkDocumentosVenta = "active"; break;
                            case 12: linkBusquedaNotaDebito = "ative"; linkDocumentosVenta = "active"; break;
                            case 13: linkMantenimientoNotaDebito = "ative"; linkDocumentosVenta = "active"; break;
                            case 14: linkMantenimientoNotaDebito = "ative"; linkDocumentosVenta = "active"; break;
                            case 15: linkMantenimientoNotaDebito = "ative"; linkDocumentosVenta = "active"; break;
                            case 16: linkMantenimientoCliente = "ative"; linkMaestros = "active"; break;
                            case 17: linkMantenimientoProducto = "ative"; linkMaestros = "active"; break;



                            case 20: linkBusquedaNotasIngreso = "ative"; linkMovimientosAlmacen = "active"; break;
                            case 21: linkMantenimientoNotaIngreso = "ative"; linkMovimientosAlmacen = "active"; break;
                            case 22: linkBusquedaPedidosEntrada = "ative"; linkPedidos = "active"; break;
                            case 23: linkMantenimientoPedidoEntrada = "ative"; linkPedidos = "active"; break;

                        }
                        var usuario = (Model.Usuario)this.Session["usuario"] == null ? new Model.Usuario() : (Model.Usuario)this.Session["usuario"];
                        if (usuario.creaCotizaciones || usuario.apruebaCotizaciones || usuario.visualizaCotizaciones)
                        {
                            <li class="@linkCotizaciones">
                                <a class="dropdown-toggle" data-toggle="dropdown">
                                    Cotizaciones
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    @if (usuario.creaCotizaciones || usuario.apruebaCotizaciones || usuario.visualizaCotizaciones)
                                    {
                                        <li id="linkBusquedaCotizaciones" class="@linkBusquedaCotizaciones">@Html.ActionLink("Búsqueda Cotizaciones", "Index", "Cotizacion")</li>
                                    }
                                    @if (usuario.creaCotizaciones)
                                    {
                                        <li id="linkMantenimientoCotizacion" class="@linkMantenimientoCotizacion">@Html.ActionLink("Crear/Modificar Cotización", "Cotizar", "Cotizacion")</li>
                                    }
                                </ul>
                            </li>
                        }

                        if (usuario.tomaPedidos || usuario.apruebaPedidos || usuario.visualizaPedidos)
                        {

                            <li class="@linkPedidos">
                                <a class="dropdown-toggle" data-toggle="dropdown">
                                    Pedidos
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    @if (usuario.tomaPedidos || usuario.apruebaPedidos || usuario.visualizaPedidos)
                                    {
                                        <li id="linkBusquedaPedidos" class="@linkBusquedaPedidos">@Html.ActionLink("Búsqueda Pedidos", "Index", "Pedido")</li>}
                                    @if (usuario.tomaPedidos)
                                    {
                                        <li id="linkMantenimientoPedido" class="@linkMantenimientoPedido">@Html.ActionLink("Crear/Modificar Pedido", "Pedir", "Pedido")</li>
                                    }                              
                                </ul>
                            </li>
                        }

                        if (usuario.creaGuias || usuario.administraGuias || usuario.visualizaGuias)
                        {

                            <li class="@linkMovimientosAlmacen">
                                <a class="dropdown-toggle" data-toggle="dropdown">
                                    Guías de Remisión
                                    <span class="caret"></span>
                                </a>

                                <ul class="dropdown-menu" role="menu">
                                    @if (usuario.administraGuias || usuario.creaGuias || usuario.visualizaGuias)
                                    {
                                        <li id="linkBusquedaGuiasRemision" class="@linkBusquedaGuiasRemision">@Html.ActionLink("Búsqueda Guias de Remisión", "Index", "GuiaRemision")</li>
                                    }

                                    @if (usuario.creaGuias)
                                    {
                                        <li id="linkMantenimientoGuiaRemision" class="@linkMantenimientoGuiaRemision">@Html.ActionLink("Crear/Modificar Guía de Remisión", "Guiar", "GuiaRemision")</li>
                                    }

                              <!--      @if (usuario.administraGuias || usuario.creaGuias || usuario.visualizaGuias)
                                    {
                                        <li id="linkBusquedaNotasIngreso" class="@linkBusquedaNotasIngreso">@Html.ActionLink("Búsqueda Notas de Ingreso", "Index", "NotaIngreso")</li>
                                    }

                                    @if (usuario.creaGuias)
                                    {
                                        <li id="linkMantenimientoNotaIngreso" class="@linkMantenimientoNotaIngreso">@Html.ActionLink("Crear/Modificar Nota de Ingreso", "Ingresar", "NotaIngreso")</li>
                                    }-->
                                </ul>
                            </li>
                        }

                        if (usuario.creaDocumentosVenta || usuario.administraDocumentosVenta || usuario.visualizaDocumentosVenta)
                        {

                            <li class="@linkDocumentosVenta">
                                <a class="dropdown-toggle" data-toggle="dropdown">
                                    Documentos de Venta
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu" role="menu">

                                    @if (usuario.creaDocumentosVenta || usuario.administraDocumentosVenta || usuario.visualizaDocumentosVenta)
                                    {
                                        <li id="linkBusquedaFactura" class="@linkBusquedaFactura">@Html.ActionLink("Búsqueda Documentos de Venta", "Index", "Factura")</li>
                                    }
                                    <!-- <li id="linkBusquedaBoleta" class="@linkBusquedaBoleta">@Html.ActionLink("Búsqueda Boletas", "Index", "Boleta")</li>
                                    <li id="linkBusquedaNotaCredito" class="@linkBusquedaNotaCredito">@Html.ActionLink("Búsqueda Notas de Crédito", "Index", "NotaCredito")</li>
                                    <li id="linkBusquedaNotaDebito" class="@linkBusquedaNotaDebito">@Html.ActionLink("Búsqueda Notas de Débito", "Index", "NotaDebito")</li>-->
                                </ul>
                            </li>
                        }

                        if (usuario.modificaMaestroClientes || usuario.modificaMaestroProductos)
                        {
                            <li class="@linkMaestros">
                                <a class="dropdown-toggle" data-toggle="dropdown">
                                    Maestros
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    @if (usuario.modificaMaestroClientes)
                                    {
                                        <li id="linkMantenimientoCliente" class="@linkMantenimientoCliente">@Html.ActionLink("Mantenimiento Cliente", "Editar", "Cliente")</li>
                                    }
                                    @if (usuario.modificaMaestroProductos)
                                    {
                                        <li id="linkMantenimientoProducto" class="@linkMantenimientoProducto">@Html.ActionLink("Mantenimiento Producto", "Index", "Producto")</li>
                                    }
                                </ul>
                            </li>
                        }

                    }

                </ul>

                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        <p></p>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - MP Institucional</p>
        </footer>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jquery-ui")
    @Scripts.Render("~/bundles/footable")
    @Scripts.Render("~/bundles/jquery-chosen")
    @RenderSection("scripts", required: false)
    @Scripts.Render("~/bundles/loadingModal")
    @Scripts.Render("~/bundles/confirm")
    @Scripts.Render("~/bundles/utiles")
</body>
</html>
