@{
    TempData["ScriptVersion"] = "295";

    var usuario = (Model.Usuario)this.Session["usuario"] == null ? new Model.Usuario() : (Model.Usuario)this.Session["usuario"];
    int pagina = ViewBag.pagina == null ? 0 : ViewBag.pagina;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cotizador - @ViewBag.Title</title>
    
    @Styles.RenderFormat("<link rel=\"stylesheet\" href=\"{0}?nocache=" + TempData["ScriptVersion"] + "\"/>", "~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<body>


    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img src="~/images/logo_ind.jpg" height="42"  style="margin:3px; margin-right: 10px" />
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @{
                        var linkCotizaciones = "";
                        var linkBusquedaCotizaciones = "";
                        var linkMantenimientoCotizacion = "";

                        var linkPedidos = "";
                        var linkBusquedaPedidos = "";
                        var linkMantenimientoPedido = "";

                        var linkGuiasRemision = "";

                        var linkBusquedaPeriodoSolicitud = "";
                        var linkMantenimientoPeriodoSolicitud = "";

                        var linkDocumentosVenta = "";
                        var linkBusquedaFactura = "";

                        /*        var linkMantenimientoFactura = "";

                                var linkBusquedaBoleta = "";
                                var linkMantenimientoBoleta = "";

                                var linkBusquedaNotaCredito = "";
                                var linkMantenimientoNotaCredito = "";

                                var linkBusquedaNotaDebito = "";
                                var linkMantenimientoNotaDebito = "";*/

                        var linkMaestros = "";

                        var linkBusquedaUsuario = "";

                        var linkAsignacionPermisos = "";

                        var linkAdministracion = "";
                    }
                    @if (this.Session["pagina"] != null)
                    {
                        switch ((int)this.Session["pagina"])
                        {
                            case 0: linkBusquedaCotizaciones = "ative"; linkCotizaciones = "active"; break;
                            case 1: linkMantenimientoCotizacion = "ative"; linkCotizaciones = "active"; break;

                            case 2: linkBusquedaPedidos = "ative"; linkPedidos = "active"; break;
                            case 3: linkMantenimientoPedido = "ative"; linkPedidos = "active"; break;

                            case 6: linkBusquedaFactura = "ative"; linkDocumentosVenta = "active"; break;

                            case 38: linkAsignacionPermisos = "ative"; linkMaestros = "active"; break;

                            case 103: linkBusquedaUsuario = "ative"; linkMaestros = "active"; break;

                            case 1001: linkBusquedaPeriodoSolicitud = "ative"; linkAdministracion = "active"; break;
                            case 1002: linkMantenimientoPeriodoSolicitud = "ative"; linkAdministracion = "active"; break;
                                //case 104: linkMantenimientoUsuario = "ative"; linkMaestros = "active"; break;
                        }



                        if (usuario.tomaPedidos || usuario.apruebaPedidos || usuario.visualizaPedidos)
                        {

                            <li class="@linkPedidos">
                                <a class="dropdown-toggle" data-toggle="dropdown">
                                    Pedidos
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    @if (usuario.tomaPedidos || usuario.apruebaPedidos || usuario.visualizaPedidos)
                                    {
                                        <li id="linkBusquedaPedidos" class="@linkBusquedaPedidos">@Html.ActionLink("Pedido Venta - Búsqueda", "Index", "Pedido")</li>
}
                                    @if (usuario.tomaPedidos)
                                    {
                                        <li id="linkMantenimientoPedido" class="@linkMantenimientoPedido">@Html.ActionLink("Pedido Venta - Crear/Modificar", "Pedir", "Pedido")</li>
                                    }
                                </ul>
                            </li>
                        }



                        <li class="@linkGuiasRemision">
                            <a class="dropdown-toggle" data-toggle="dropdown">
                                Guias Remisión
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li id="linkBusquedaGuiasRemision" class="@linkBusquedaPedidos">@Html.ActionLink("Guías Remisión - Búsqueda", "Index", "GuiaRemision")</li>
                            </ul>
                        </li>


                        if (usuario.visualizaDocumentosVenta)
                        {

                            <li class="@linkDocumentosVenta">
                                <a class="dropdown-toggle" data-toggle="dropdown">
                                    Documentos de Venta
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu" role="menu">

                                    @if (usuario.visualizaDocumentosVenta)
                                    {
                                        <li id="linkBusquedaFactura" class="@linkBusquedaFactura">@Html.ActionLink("Documentos de Venta - Búsqueda", "Index", "Factura")</li>
                                    }
                                </ul>
                            </li>
                        }


                        if (usuario.modificaPeriodoSolicitud)
                        {

                            <li class="@linkAdministracion">
                                <a class="dropdown-toggle" data-toggle="dropdown">
                                    Administración
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu" role="menu">

                                    @if (usuario.modificaPeriodoSolicitud)
                                    {
                                        <li id="linkBusquedaPeriodoSolicitud" class="@linkBusquedaPeriodoSolicitud">@Html.ActionLink("Periodo Requerimeinto - Búsqueda", "List", "PeriodoSolicitud")</li>
                                        <li id="linkMantenimientoPeriodoSolicitud" class="@linkMantenimientoPeriodoSolicitud">@Html.ActionLink("Periodo Requerimeinto - Crear/Modificar", "Editar", "PeriodoSolicitud")</li>
                                    }
                                </ul>
                            </li>
                        }
                    }

                </ul>

                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @if (usuario != null && usuario.alertasList != null && usuario.alertasList.Count > 0) {
        <a href="@Url.Action("Pendientes", "Validacion")" style="text-decoration: none;">
            <div class="alert alert-warning">
                Tienes @usuario.alertasList.Count.ToString() cambios por validar
            </div>
        </a>
        
        }
        <p></p>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - MP Institucional</p>
        </footer>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jquery-ui")
    @Scripts.Render("~/bundles/footable")
    @Scripts.Render("~/bundles/jquery-chosen")
    @RenderSection("scripts", required: false)
    @Scripts.Render("~/bundles/loadingModal")
    @Scripts.Render("~/bundles/confirm")
    @Scripts.Render("~/bundles/utiles")
</body>
</html>
