<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cotizador - @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>


<body>


    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img src="~/images/logo_ind.jpg" height="42" width="230" style="margin:3px; margin-right: 10px" />
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @{
                        var linkCotizaciones = "";
                        var linkBusquedaCotizaciones = "";
                        var linkMantenimientoCotizacion = "";

                        var linkPedidosYGuiasDeRemision = "";
                        var linkBusquedaPedidos = "";
                        var linkMantenimientoPedido = "";
                        var linkBusquedaGuiasRemision = "";
                        var linkMantenimientoGuiaRemision = "";
                    }
                    @switch ((int)this.Session["pagina"])
                    {
                        case 0: linkBusquedaCotizaciones = "ative"; linkCotizaciones = "active"; break;
                        case 1: linkMantenimientoCotizacion = "ative"; linkCotizaciones = "active"; break;
                        case 2: linkBusquedaPedidos = "ative"; linkPedidosYGuiasDeRemision = "active"; break;
                        case 3: linkMantenimientoPedido = "ative"; linkPedidosYGuiasDeRemision = "active"; break;
                        case 4: linkBusquedaGuiasRemision = "ative"; linkPedidosYGuiasDeRemision = "active"; break;
                        case 5: linkMantenimientoGuiaRemision = "ative"; linkPedidosYGuiasDeRemision = "active"; break;
                    }
                    @{ var usuario = (Model.Usuario)this.Session["usuario"] == null ? new Model.Usuario() : (Model.Usuario)this.Session["usuario"];}
                    @if (usuario.creaCotizaciones)
                    {
                        <li class="@linkCotizaciones">
                            <a class="dropdown-toggle" data-toggle="dropdown">
                                Cotizaciones
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li id="linkBusquedaCotizaciones" class="@linkBusquedaCotizaciones">@Html.ActionLink("Búsqueda Cotizaciones", "Index", "Cotizacion")</li>
                                <li id="linkMantenimientoCotizacion" class="@linkMantenimientoCotizacion">@Html.ActionLink("Crear/Modificar Cotización", "Cotizar", "Cotizacion")</li>
                            </ul>
                        </li>
                    }

                    @if (usuario.tomaPedidos || usuario.creaGuias || usuario.apruebaPedidos)
                    {

                        <li class="@linkPedidosYGuiasDeRemision">
                            <a class="dropdown-toggle" data-toggle="dropdown">
                                Pedidos y Guías de Remisión
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                @if (usuario.tomaPedidos || usuario.apruebaPedidos)
                                {
                                    <li id="linkBusquedaPedidos" class="@linkBusquedaPedidos">@Html.ActionLink("Búsqueda Pedidos", "Index", "Pedido")</li>}
                                @if (usuario.tomaPedidos)
                                {
                                    <li id="linkMantenimientoPedido" class="@linkMantenimientoPedido">@Html.ActionLink("Crear/Modificar Pedido", "Pedir", "Pedido")</li>
                                }
                                @if (usuario.creaGuias)
                                {
                                    <li id="linkBusquedaGuiasRemision" class="@linkBusquedaGuiasRemision">@Html.ActionLink("Búsqueda Guias de Remisión", "Index", "GuiaRemision")</li>
                                    <li id="linkMantenimientoGuiaRemision" class="@linkMantenimientoGuiaRemision">@Html.ActionLink("Crear/Modificar Guía Remisión", "Guiar", "GuiaRemision")</li>
                                }
                            </ul>
                        </li>
                    }
                </ul>

                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        <p></p>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - MP Institucional</p>
        </footer>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jquery-ui")    
    @Scripts.Render("~/bundles/footable")
    @Scripts.Render("~/bundles/jquery-chosen")
    @RenderSection("scripts", required: false)

</body>
</html>
