<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cotizador - @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>


<body>


    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img src="~/images/logo_ind.jpg" height="42" width="230" style="margin:3px; margin-right: 10px" />
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li id="linkListaCotizaciones">@Html.ActionLink("Mis Cotizaciones", "Index", "Home")</li>
                    <li id="linkMatenimientoCotizacion">@Html.ActionLink("Cotizar", "Cotizar", "Home")</li>

                    <li id="linkListaPedidos">@Html.ActionLink("Mis Pedidos", "Index", "Pedido")</li>
                    <li id="linkMantenimientoPedido">@Html.ActionLink("Pedir", "Pedir", "Pedido")</li>

                    <li id="linkMisPedidos">@Html.ActionLink("Mis Facturas", "Index", "Factura")</li>
                    <li id="linkPedir">@Html.ActionLink("Facturar", "Facturar", "Factura")</li>
                    <!--
                    <li>
                        <a class="dropdown-toggle" data-toggle="dropdown">
                            Carga de Archivos
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("Cargar Clientes", "Index", "Cliente")</li>
                            <li>@Html.ActionLink("Cargar Productos", "Index", "Producto")</li>
                            <li>@Html.ActionLink("Cargar Precios", "Index", "Precio")</li>
                            <li>@Html.ActionLink("Cargar Facturas", "Index", "Factura")</li>
                        </ul>

                    </li>-->

                </ul>

                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        <p></p>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - MP Institucional</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jquery")

    @Scripts.Render("~/bundles/jquery-chosen")
    @RenderSection("scripts", required: false)

    @if (this.Session["pagina"] != null)
    {

        if ((int)this.Session["pagina"] == 1 || (int)this.Session["pagina"] == 0)
        {
            @Scripts.Render("~/bundles/cotizacion")
        }
        else if ((int)this.Session["pagina"] == 2 || (int)this.Session["pagina"] == 3)
        {
            @Scripts.Render("~/bundles/pedido")
        }
    }



</body>
</html>
