@{
    ViewBag.Title = "Crear/Modificar Guía Remisión";
    Model.GuiaRemision guiaRemision = ViewBag.guiaRemision;
    Model.Transportista transportista = ViewBag.transportista;
}



<div class="page-header">
    <h3>@ViewBag.Title</h3>
</div>
<div class="container">

    <input type="hidden" id="respuestaConfirmacion" />
    <input type="hidden" id="pagina" value="@ViewBag.pagina" />
    <input type="hidden" value="@ViewBag.debug" />
    <input type="hidden" id="esGuiaDiferida" value="@(guiaRemision.esGuiaDiferida ? "1" : "0")" />
    <form class="form-horizontal">
        <input type="hidden" id="idGuiaRemision" name="idGuiaRemision" value="2" />


        <!--SEDE ORIGEN-->
        <div class="row">
            <!--SEDE MP-->
            <div class="col-sm-6 col-lg-4">
                <div class="form-group">
                    @Html.LabelFor(g => guiaRemision.ciudadOrigen, htmlAttributes: new { @class = "control-label col-xs-4", @for = "idCiudad" })
                    <div class="col-xs-8">
                        @Html.TextBoxFor(g => guiaRemision.ciudadOrigen.nombre, htmlAttributes: new { @class = "form-control", disabled = "disabled" })
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-8">
                <!--Dirección Origen-->
                <div class="form-group">
                    @Html.LabelFor(g => guiaRemision.ciudadOrigen.direccionPuntoPartida, htmlAttributes: new { @class = "control-label col-xs-2" })
                    <div class="col-xs-10">
                        @if (guiaRemision.pedido.numeroPedido > 0)
                        {
                            @Html.TextBoxFor(g => guiaRemision.ciudadOrigen.direccionPuntoPartida, htmlAttributes: new { @class = "form-control", disabled = "disabled" })
                        }
                        else
                        {
                            @Html.TextBoxFor(g => guiaRemision.ciudadOrigen.direccionPuntoPartida, htmlAttributes: new { @class = "form-control" })
                        }
                    </div>
                </div>
            </div>
        </div>




        <!--NUMEROS DOCUMENTO-->
        <div class="row">



            <div class="col-sm-6 col-lg-4">
                <!--fecha Emision-->
                <div class="form-group">
                    @Html.LabelFor(g => guiaRemision.fechaEmision, htmlAttributes: new { @class = "control-label col-xs-4" })
                    <div class="col-xs-8">
                        <input type="hidden" id="fechaEmisiontmp" value="@ViewBag.fechaEmisiontmp" />
                        <input class="form-control" type="text" id="guiaRemision_fechaEmision" name="guiaRemision_fechaEmision">
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-4">
                <!--fecha Traslado-->
                <div class="form-group">
                    @Html.LabelFor(g => guiaRemision.fechaTraslado, htmlAttributes: new { @class = "control-label col-xs-4" })
                    <div class="col-xs-8">
                        <input type="hidden" id="fechaTrasladotmp" value="@ViewBag.fechaTrasladotmp" />
                        <input class="form-control" type="text" id="guiaRemision_fechaTraslado" name="guiaRemision_fechaTraslado">
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-4">
                <div class="form-group">
                    @Html.LabelFor(p => guiaRemision.numeroDocumento, htmlAttributes: new { @class = "control-label col-xs-4" })
                    <div class="col-xs-8">
                        @Html.TextBoxFor(g => guiaRemision.serieNumeroGuia, htmlAttributes: new { @class = "form-control", disabled = "disabled" })
                        <br />
                        @if (false && guiaRemision.usuario.creaGuiasDiferidas)
                        {
                            if (guiaRemision.esGuiaDiferida)
                            {
                                <button id="btnCambiarASerieDiferida" type="button" class="btn btn-warning" style="display: none;">Atención Diferida</button>
                                <button id="btnCambiarASerieNormal" type="button" class="btn btn-info">Atención Normal</button>
                            }
                            else
                            {
                                <button id="btnCambiarASerieDiferida" type="button" class="btn btn-warning">Atención Diferida</button>
                                <button id="btnCambiarASerieNormal" type="button" class="btn btn-info" style="display: none;">Atención Normal</button>
                            }
                        }
                    </div>
                </div>
            </div>

        </div>






        <!--NUMEROS PEDIDO-->
        <div class="row">
            <div class="col-sm-6 col-lg-4">
                <!--Numero Pedido-->
                <div class="form-group">
                    @Html.LabelFor(g => guiaRemision.pedido.numeroPedido, htmlAttributes: new { @class = "control-label col-xs-4" })
                    <div class="col-xs-8">
                        @Html.TextBoxFor(g => guiaRemision.pedido.numeroPedidoString, htmlAttributes: new { @class = "form-control", type = "number", min = "0", disabled = "disabled" })
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-4">
                <!-- Cliente-->
                <div class="form-group">
                    @Html.LabelFor(g => guiaRemision.pedido.cliente, htmlAttributes: new { @class = "control-label col-xs-4" })
                    <div class="col-xs-8">
                        @Html.TextBoxFor(g => guiaRemision.pedido.cliente, htmlAttributes: new { @class = "form-control", disabled = "disabled" })
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-4">
                <!--Numero Referencia Cliente-->
                <div class="form-group">
                    @Html.LabelFor(g => guiaRemision.pedido.numeroReferenciaCliente, htmlAttributes: new { @class = "control-label col-xs-4" })
                    <div class="col-xs-8">
                        @Html.TextBoxFor(g => guiaRemision.pedido.numeroReferenciaCliente, htmlAttributes: new { @class = "form-control", disabled = "disabled" })
                    </div>
                </div>
            </div>




        </div>

        <div class="row">


            <!--MOTIVO DE TRASLADO-->
            <div class="col-sm-6 col-lg-4">
                <div class="form-group">
                    @Html.LabelFor(g => guiaRemision.motivoTraslado, htmlAttributes: new { @class = "control-label col-xs-4" })
                    <div class="col-xs-8">
                        @Html.DropDownList("motivoTraslado",
                                                        EnumHelper.GetSelectList(typeof(Model.GuiaRemision.motivosTraslado), guiaRemision.motivoTraslado),
                                                        new { @class = "form-control", disabled = "disabled" }
                                                        )
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-4">
                <div class="form-group">

                    @if (guiaRemision.notaIngresoAExtornar == null)
                    {<label for="guiaRemision_atencionParcial" class="control-label col-xs-4">Atención Parcial:</label>}
                    else
                    { <label for="guiaRemision_atencionParcial" class="control-label col-xs-4">Devolución Parcial:</label>}
                    <div class="col-xs-8">
                        @if (guiaRemision.atencionParcial)
                        {
                            <input checked type="checkbox" id="guiaRemision_atencionParcial" name="guiaRemision_atencionParcial" />
                        }
                        else
                        {
                            <input type="checkbox" id="guiaRemision_atencionParcial" name="guiaRemision_atencionParcial" />
                        }



                        @if (guiaRemision.ultimaAtencionParcial)
                        {
                            <span class="form-control-static" id="descripcionUltimaAtencionParcial">(Última Atención Parcial)</span>
                        }
                        else
                        {
                            <span class="form-control-static" id="descripcionUltimaAtencionParcial"></span>
                        }


                    </div>

                </div>
            </div>



        </div>

        <div class="row">

            <!--OBSERVACIOENS DEL PEDIDO-->
            <div class="col-sm-6 col-lg-8">
                <div class="form-group">
                    @Html.LabelFor(g => guiaRemision.pedido.observaciones, htmlAttributes: new { @class = "control-label col-xs-2", style = "color: darkred" })
                    <div class="col-xs-10">
                        @Html.TextAreaFor(g => guiaRemision.pedido.observaciones, htmlAttributes: new { @class = "form-control", disabled = "disabled" })
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-4">
                <div class="form-group">
                    <label for="archivoAdjunto" class="control-label col-xs-4">Archivos Adjuntos:</label>
                    <div class="col-xs-8">
                        <ul id="nombreArchivos">
                            @foreach (Model.PedidoAdjunto pedidoAdjunto in guiaRemision.pedido.pedidoAdjuntoList)
                            {
                                <li>
                                    <a href="javascript:m();" class="descargar">@pedidoAdjunto.nombre</a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>

        </div>

        @if (guiaRemision.notaIngresoAExtornar == null)
        {

            <fieldset>
                <legend id="divpedido_transportista">Entregar en:</legend>
                <!--DESTINO-->
                <div class="row">

                    <div class="col-sm-6 col-lg-4">
                        <!--Numero Pedido-->
                        <div class="form-group">
                            @Html.LabelFor(p => guiaRemision.pedido.ubigeoEntrega.Departamento, htmlAttributes: new { @class = "control-label col-xs-4" })
                            <div class="col-xs-8">
                                @Html.TextBoxFor(p => guiaRemision.pedido.ubigeoEntrega.Departamento, htmlAttributes: new { @class = "form-control", disabled = "disabled" })
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <!--Numero Pedido-->
                        <div class="form-group">
                            @Html.LabelFor(p => guiaRemision.pedido.ubigeoEntrega.Provincia, htmlAttributes: new { @class = "control-label col-xs-4" })
                            <div class="col-xs-8">
                                @Html.TextBoxFor(p => guiaRemision.pedido.ubigeoEntrega.Provincia, htmlAttributes: new { @class = "form-control", disabled = "disabled" })
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <!--Numero Pedido-->
                        <div class="form-group">
                            @Html.LabelFor(p => guiaRemision.pedido.ubigeoEntrega.Distrito, htmlAttributes: new { @class = "control-label col-xs-4" })
                            <div class="col-xs-8">
                                @Html.TextBoxFor(p => guiaRemision.pedido.ubigeoEntrega.Distrito, htmlAttributes: new { @class = "form-control", disabled = "disabled" })
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-sm-6 col-lg-8">
                        <!--Dirección Destino-->
                        <div class="form-group">
                            @Html.LabelFor(g => guiaRemision.pedido.direccionEntrega.descripcion, htmlAttributes: new { @class = "control-label col-xs-2" })
                            <div class="col-xs-10">
                                @Html.TextBoxFor(g => guiaRemision.pedido.direccionEntrega.descripcion, htmlAttributes: new { @class = "form-control", disabled = "disabled" })
                            </div>
                        </div>
                    </div>

                </div>

            </fieldset>
        }
        else
        {
            <fieldset>
                <legend id="divpedido_direccionEntrega">Datos de Entrega:</legend>

                <div class="row mostrarDatosParaGuia">
                    <!--ENTREGAR EN-->
                    <div class="col-sm-6 col-lg-8">
                        <div class="form-group">
                            @Html.LabelFor(p => guiaRemision.pedido.direccionEntrega.descripcion, htmlAttributes: new { @class = "control-label  col-xs-4 col-lg-2" })
                            <div class="col-xs-8 col-lg-9">
                                @Html.DropDownList("guiaRemision_pedido_direccionEntrega",
                                                                     new SelectList(guiaRemision.pedido.cliente.direccionEntregaList as IEnumerable<Model.DireccionEntrega>, "idDireccionEntrega", "descripcion", guiaRemision.pedido.direccionEntrega.idDireccionEntrega, null),
                                                                     "Seleccione Dirección de Entrega",
                                                                     new { @class = "form-control" })
                            </div>
                            <!--   <div class="col-xs-2 col-lg-1">
                                <button id="btnAgregarDireccion" type="button" class="btn btn-primary bouton-image-add addDireccion" data-toggle="modal" data-target="#modalAgregarDireccion"></button>
                            </div>-->
                        </div>


                    </div>



                </div>
                <!-- <div class="row mostrarDatosParaGuia">-->
                <!--CONTACTO ENTREGA -->
                <!-- <div class="col-sm-6 col-lg-8">
                        <div class="form-group">
                            @Html.LabelFor(p => guiaRemision.pedido.direccionEntrega.contacto, htmlAttributes: new { @class = "control-label col-xs-2" })
                            <div class="input-group col-xs-6">
                                <div class="input-group-addon">
                                    <span class="input-group-text" id="basic-addon1">Nombre:</span>
                                </div>

                                @Html.TextBoxFor(p => guiaRemision.pedido.direccionEntrega.contacto, htmlAttributes: new { @class = "form-control" })
                            </div>
                            <div class="input-group col-xs-4">
                                <div class="input-group-addon">
                                    <span class="input-group-text" id="basic-addon1">Teléfono:</span>
                                </div>
                                @Html.TextBoxFor(p => guiaRemision.pedido.direccionEntrega.telefono, htmlAttributes: new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="form-group">
                            <div class="input-group col-xs-12">
                                <div class="input-group-addon">
                                    <span class="input-group-text" id="basic-addon1">Dirección:</span>
                                </div>
                                @Html.TextBoxFor(p => guiaRemision.pedido.direccionEntrega.descripcion, htmlAttributes: new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>

                        -->




                <div class="row mostrarDatosParaGuia">
                    <div class="col-sm-6 col-lg-4">
                        <div class="form-group">
                            @Html.LabelFor(model => guiaRemision.pedido.ubigeoEntrega.Departamento, new { @class = "control-label col-xs-4" })
                            <div class="col-xs-8">
                                <!--class="control-departamento-width" style="display:flex">-->
                                @Html.Action("GetDepartamentos", "Ubigeo",
                                                                            new
                                                                            {
                                                                                departamentoSelectId = "ActualDepartamento",
                                                                                provinciaSelectId = "ActualProvincia",
                                                                                distritoSelectId = "ActualDistrito",
                                                                                provinciaDivId = "dvProvincias",
                                                                                distritoDivId = "dvDistritos",
                                                                                selectedValue = guiaRemision.pedido.ubigeoEntrega.Id.Substring(0, 2)
                                                                            })

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="form-group">

                            @Html.LabelFor(model => guiaRemision.pedido.ubigeoEntrega.Provincia, new { @class = "control-label col-xs-4" })
                            <div id="dvProvincias" class="col-xs-8">
                                <!-- class="control-provincia-width" style="display:flex">-->
                                @Html.Action("GetProvinciasPorDepartamento", "Ubigeo",
                                                                        new
                                                                        {
                                                                            departamentoSelectId = "ActualDepartamento",
                                                                            provinciaSelectId = "ActualProvincia",
                                                                            distritoSelectId = "ActualDistrito",
                                                                            distritoDivId = "dvDistritos",
                                                                            codigoDepartamento = guiaRemision.pedido.ubigeoEntrega.Id.Substring(0, 2),
                                                                            selectedValue = guiaRemision.pedido.ubigeoEntrega.Id.Substring(0, 4)
                                                                        })
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="form-group">

                            @Html.LabelFor(model => guiaRemision.pedido.ubigeoEntrega.Distrito, new { @class = "control-label col-xs-4" })
                            <div id="dvDistritos" class="col-xs-8">
                                <!-- class="control-distrito-width" style="display:flex">-->
                                @Html.Action("GetDistritosPorProvincia", "Ubigeo", new
                                {
                                    distritoSelectId = "ActualDistrito",
                                    codigoDepartamento = guiaRemision.pedido.ubigeoEntrega.Id.Substring(0, 2),
                                    codigoProvincia = guiaRemision.pedido.ubigeoEntrega.Id.Substring(0, 4),
                                    selectedValue = guiaRemision.pedido.ubigeoEntrega.Id.Substring(0, 6)
                                })

                            </div>
                        </div>
                    </div>
                </div>

            </fieldset>

        }


        <fieldset>
            <legend id="divpedido_transportista">Transporte:</legend>
            <div class="row">

                <div class="col-sm-6 col-lg-8">
                    <!--TRANSPORTISTA-->
                    <div class="form-group">
                        @Html.LabelFor(g => guiaRemision.transportista, htmlAttributes: new { @class = "control-label col-xs-2" })
                        <div class="col-xs-9">
                            @Html.DropDownList("guiaRemision_transportista",
                                     new SelectList(guiaRemision.ciudadOrigen.transportistaList as IEnumerable<Model.Transportista>, "idTransportista", "descripcion", guiaRemision.transportista.idTransportista, null),
                                     "Seleccione Transportista",
                                     new { @class = "form-control" })
                        </div>
                        <div class="col-xs-2 col-lg-1">
                            <button id="btnAgregarTransportista" type="button" class="btn btn-primary bouton-image-add addTransportista" data-toggle="modal" data-target="#modalAgregarTransportista"></button>
                        </div>
                    </div>
                </div>



            </div>


            <div class="row">
                <!--TRANSPORTISTA ENTREGA -->
                <div class="col-sm-6 col-lg-8">
                    <div class="form-group">

                        <label for="pedido_transportista_descripcion" class="control-label col-xs-2">Datos Transportista:</label>

                        <div class="input-group col-xs-6">
                            <div class="input-group-addon">
                                <span class="input-group-text" id="basic-addon1">Nombre:</span>
                            </div>
                            @Html.TextBoxFor(g => guiaRemision.transportista.descripcion, htmlAttributes: new { @class = "form-control", disabled = "disabled" })
                        </div>
                        <div class="input-group col-xs-4">
                            <div class="input-group-addon">
                                <span class="input-group-text" id="basic-addon1">RUC:</span>
                            </div>
                            @Html.TextBoxFor(g => guiaRemision.transportista.ruc, htmlAttributes: new { @class = "form-control", disabled = "disabled" })
                        </div>
                    </div>
                </div>
                <!--brevete TRANSPORTISTA-->

                <div class="col-sm-6 col-lg-4">
                    <div class="form-group">
                        <div class="input-group col-xs-12">
                            <div class="input-group-addon">
                                <span class="input-group-text" id="basic-addon1">Brevete:</span>
                            </div>
                            @Html.TextBoxFor(g => guiaRemision.transportista.brevete, htmlAttributes: new { @class = "form-control", disabled = "disabled" })
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-sm-6 col-lg-8">
                    <div class="form-group">
                        <label for="pedido_transportista_descripcion" class="control-label col-xs-2"></label>
                        <div class="input-group col-xs-10">
                            <div class="input-group-addon">
                                <span class="input-group-text" id="basic-addon1">Dirección:</span>
                            </div>
                            @Html.TextBoxFor(g => guiaRemision.transportista.direccion, htmlAttributes: new { @class = "form-control", disabled = "disabled" })
                        </div>
                    </div>
                </div>


            </div>

            <div class="row">



                <!--PLACA VEHICULO-->
                <div class="col-sm-6 col-lg-4">
                    <div class="form-group">
                        @Html.LabelFor(g => guiaRemision.placaVehiculo, htmlAttributes: new { @class = "control-label col-xs-4" })
                        <div class="col-xs-8">
                            @Html.TextBoxFor(g => guiaRemision.placaVehiculo, htmlAttributes: new { @class = "form-control" })
                        </div>
                    </div>
                </div>

                <!--
                <div class="col-sm-6 col-lg-4">

                        <div class="form-group">
                            @Html.LabelFor(g => guiaRemision.certificadoInscripcion, htmlAttributes: new { @class = "control-label col-xs-4" })
                            <div class="col-xs-8">
                                @Html.TextBoxFor(g => guiaRemision.certificadoInscripcion, htmlAttributes: new { @class = "form-control" })
                            </div>
                        </div>
                    </div>-->

            </div>
        </fieldset>

        @if (guiaRemision.notaIngresoAExtornar != null)
        {
            <fieldset>
                <legend>Documento a extornar:</legend>
                <!--GUIA REMISIÓN A EXTORNAR-->
                <div class="row">
                    <div class="col-sm-6 col-lg-4">
                        <div class="form-group">
                            <label for="tipoMovimientoAlmacen" class="control-label col-xs-4">Documento:</label>
                            <div class="col-xs-8">
                                <input type="text" class="form-control" disabled value="Nota Ingreso" />
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-4">
                        <div class="form-group">
                            @Html.LabelFor(g => guiaRemision.notaIngresoAExtornar.serieNumeroNotaIngreso, htmlAttributes: new { @class = "control-label col-xs-4" })
                            <div class="col-xs-8">
                                @Html.TextBoxFor(g => guiaRemision.notaIngresoAExtornar.serieNumeroNotaIngreso, htmlAttributes: new { @class = "form-control", @disabled = "disabled" })
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="form-group">
                            @Html.LabelFor(p => guiaRemision.notaIngresoAExtornar.fechaEmision, htmlAttributes: new { @class = "control-label col-xs-4" })
                            <div class="col-xs-8">
                                @Html.TextBoxFor(p => guiaRemision.notaIngresoAExtornar.fechaEmisionFormatoImpresion, htmlAttributes: new { @class = "form-control", @disabled = "disabled" })
                            </div>
                        </div>
                    </div>

                </div>


            </fieldset>


            <fieldset>
                <legend>Detalle del extorno:</legend>
                <div class="row">
                    <div class="col-sm-6 col-lg-8">
                        <!--Sustento-->
                        <div class="form-group">
                            @Html.LabelFor(g => guiaRemision.sustentoExtorno, htmlAttributes: new { @class = "control-label col-xs-2" })
                            <div class="col-xs-10">
                                @Html.TextBoxFor(g => guiaRemision.sustentoExtorno, htmlAttributes: new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>

            </fieldset>
        }



        @{var edicionTableDetalleGuia = "true";
        }
        @if (!guiaRemision.atencionParcial)
        {
            edicionTableDetalleGuia = "false";
        }



        <table id="tableDetalleGuia" class="table" data-editing="@edicionTableDetalleGuia"
               data-editing-show-text='<span class="fooicon fooicon-pencil" aria-hidden="true"></span> Editar Detalle'
               data-editing-allow-add="true"
               data-editing-allow-delete="false"
               data-editing-allow-edit="false"
               data-sorting="true"
               data-show-toggle="false"
               data-editing-hide-text="Finalizar Edición Detalle"
               data-editing-add-text="Descartar Cambios Detalle">
            <thead>
                <tr>
                    <th data-name="idProducto" data-visible="false"></th>
                    <th data-name="sku" data-sortable="false">Código</th>
                    <th data-name="cantidadPendienteAtencion" data-sortable="false" data-visible="true" data-breakpoints="xs sm" style="width: 70px">Cant. Pend. Atención</th>
                    <th data-name="stockr" data-sortable="false" data-visible="true" data-breakpoints="xs sm" style="width: 70px">Stock</th>
                    <th data-name="cantidadPorAtender" data-sortable="false" data-visible="true" data-breakpoints="xs sm" style="width: 70px">Cantidad a Atender</th>
                    <th data-name="presentacion" data-sortable="false" data-breakpoints="xs">Unidad</th>
                    <th data-name="producto" data-sortable="false">Producto</th>
                </tr>
            </thead>
            <tbody>

                @{int contador = 0;}
                @foreach (var documentoDetalle in guiaRemision.documentoDetalle)
                {

                    <!--Bien o Bien Comodato-->
                    if ((int)documentoDetalle.producto.tipoProducto == 1 || (int)documentoDetalle.producto.tipoProducto == 2)
                    {



                        contador++;
                        <tr data-expanded="true" idProducto="@documentoDetalle.producto.idProducto" idProductoPresentacion="@(documentoDetalle.ProductoPresentacion == null ? 0 : documentoDetalle.ProductoPresentacion.IdProductoPresentacion)">
                            <td>  @documentoDetalle.producto.idProducto</td>
                            <td>  @documentoDetalle.producto.sku</td>
                            <!--<td class="@documentoDetalle.producto.idProducto" style="text-align:right">@documentoDetalle.cantidadSolicitada</td>-->

                            <td class="@documentoDetalle.producto.idProducto detcantidadSaldo" style="text-align:right">@documentoDetalle.cantidadPendienteAtencionPermitida</td>
                            <td class="@documentoDetalle.producto.idProducto detStock" style="text-align:right; font-weight: bold;">...</td>
                            <td class="@documentoDetalle.producto.idProducto detcantidad" style="text-align:right">@documentoDetalle.cantidadPorAtenderPermitida</td>
                            <td>  @documentoDetalle.unidad</td>
                            <td>
                                @documentoDetalle.producto.descripcion
                                @if (documentoDetalle.producto.descripcionLarga != null && !documentoDetalle.producto.descripcionLarga.Trim().IsEmpty())
                                {
                                    string descripcionLargaInfo = Html.Partial("../Producto/_LabelDescripcionLarga").ToString();
                                    descripcionLargaInfo = descripcionLargaInfo.Replace("_DATA_TIPSO_", documentoDetalle.producto.descripcionLarga);
                                    descripcionLargaInfo = descripcionLargaInfo.Replace("_CLASS_TOOLTIP_", "tooltip-motivo-restriccion");

                                    @Html.Raw(descripcionLargaInfo)
                                }
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>


        <div class="row">
            <!--OBSERVACIONES-->
            <div class="col-sm-6 col-lg-8">
                <div class="form-group">
                    @Html.LabelFor(g => guiaRemision.observaciones, htmlAttributes: new { @class = "control-label col-xs-2" })
                    <div class="col-xs-10">
                        @Html.TextBoxFor(g => guiaRemision.observaciones, htmlAttributes: new { @class = "form-control" })
                        <!--<textarea class="form-control" rows="5" id="guiaRemision_observaciones" cols="100" name="guiaRemision_observaciones"></textarea>-->
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="pull-right">
                <button type="button" id="btnCancelarGuiaRemision" class="btn btn-danger">Cancelar</button>
                <button id="btnFinalizarCreacionGuiaRemision" type="button" class="btn btn-success">Generar Guía Remisión</button>
            </div>
        </div>


    </form>
</div>


<div class="modal fade" id="modalAgregarTransportista" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modalAgregarTransportistaTitle"><b>Nuevo Transportista</b></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <p></p>
            </div>



            <div class="modal-body">
                <form class="form-horizontal">


                    <div class="row">

                        <div class="col-sm-6 col-lg-12">
                            <!--Nombre / Descripcion-->
                            <div class="form-group">
                                @Html.LabelFor(d => transportista.descripcion, htmlAttributes: new { @class = "control-label  col-xs-2" })
                                <div class="col-xs-10">
                                    @Html.TextBoxFor(d => transportista.descripcion, htmlAttributes: new { @class = "form-control" })
                                </div>
                            </div>
                        </div>


                    </div>

                    <div class="row">

                        <div class="col-sm-6 col-lg-12">
                            <!--Dirección-->
                            <div class="form-group">
                                @Html.LabelFor(d => transportista.direccion, htmlAttributes: new { @class = "control-label  col-xs-2" })
                                <div class="col-xs-10">
                                    @Html.TextBoxFor(d => transportista.direccion, htmlAttributes: new { @class = "form-control" })
                                </div>
                            </div>
                        </div>


                    </div>


                    <div class="row">

                        <div class="col-sm-6 col-lg-6">
                            <!--CONTACTO-->
                            <div class="form-group">
                                @Html.LabelFor(d => transportista.ruc, htmlAttributes: new { @class = "control-label  col-xs-4" })
                                <div class="col-xs-8">
                                    @Html.TextBoxFor(d => transportista.ruc, htmlAttributes: new { @class = "form-control" })
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-lg-6">
                            <!--TELEFONO-->
                            <div class="form-group">
                                @Html.LabelFor(d => transportista.telefono, htmlAttributes: new { @class = "control-label  col-xs-4" })
                                <div class="col-xs-8">
                                    @Html.TextBoxFor(d => transportista.telefono, htmlAttributes: new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    </div>



                </form>
            </div>

            <div class="modal-footer">
                <button type="button" id="btnCancelTransportista" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" id="btnSaveTransportista" class="btn btn-primary">Aceptar</button>
            </div>
        </div>
    </div>
</div>







@section Scripts {
    @Scripts.RenderFormat("<script type=\"text/javascript\" src=\"{0}?nocache=" + TempData["ScriptVersion"] + "\"></script>", "~/bundles/guiaRemision")
}



