@{
    ViewBag.Title = "Vista Previa Impresión Guía Remisión";
    Model.GuiaRemision guiaRemision = ViewBag.guiaRemision;

}

<div>

    <input type="hidden" id="pagina" value="@ViewBag.pagina" />
    <input type="hidden" id="idGuiaRemision" value="" />


    <div>
        <div class="row row_uno">
            <div class="col_uno">&nbsp;</div>
            <div class="col_dos">@guiaRemision.pedido.cliente.codigo</div>
            <div class="col_tres">@guiaRemision.fechaEmisionFormatoImpresion</div>
            <div class="col_cuatro">@guiaRemision.fechaTrasladoFormatoImpresion</div>
        </div>
        <div class="row row_dos">
            <div class="col_uno">&nbsp;</div>
            <div class="col_dos">@guiaRemision.pedido.cliente.razonSocial</div>
            <div class="col_tres">@guiaRemision.pedido.cliente.ruc</div>
        </div>
        <div class="row row_tres">
            <div class="col_uno">&nbsp;</div>
            <div class="col_dos">@guiaRemision.ciudadOrigen.direccionPuntoPartida</div>
            <div class="col_tres">@guiaRemision.serieNumeroGuia</div>
        </div>
        <div class="row row_cuatro">
            <div class="col_uno">&nbsp;</div>
            <div class="col_dos">@guiaRemision.pedido.direccionEntrega.descripcion</div>
            <div class="col_tres">&nbsp;</div>
        </div>
        <div class="row row_seis">
            <div class="col_uno">&nbsp;</div>
            <div class="col_dos">@guiaRemision.observaciones</div>
        </div>
        <div class="row row_siete">
            <div class="col_uno">&nbsp;</div>
            <div class="col_dos">@guiaRemision.transportista.descripcion</div>
            <div class="col_tres">@guiaRemision.transportista.ruc</div>
            <div class="col_cuatro">@guiaRemision.certificadoInscripcion</div>
        </div>
        <div class="row row_ocho">
            <div class="col_uno">&nbsp;</div>
            <div class="col_dos">@guiaRemision.transportista.direccion</div>
            <div class="col_tres">&nbsp;</div>
            <div class="col_cuatro">@guiaRemision.placaVehiculo</div>
            <div class="col_cinco">@guiaRemision.transportista.brevete</div>
        </div>
    </div>



    <div class="detalle">

        @foreach (Model.DocumentoDetalle documentoDetalle in @guiaRemision.documentoDetalle)
        {
            <div class="row row_detalle">
                <div class="col_uno">@documentoDetalle.producto.sku</div>
                <div class="col_dos">@documentoDetalle.cantidad</div>
                <div class="col_tres">@documentoDetalle.unidad</div>
                <div class="col_cuatro">@(documentoDetalle.producto.descripcion + " (" + documentoDetalle.producto.skuProveedor + ")")</div>
            </div>

        }



    </div>




</div>



@section Scripts {
    @Scripts.RenderFormat("<script type=\"text/javascript\" src=\"{0}?nocache=" + TempData["ScriptVersion"] + "\"></script>", "~/bundles/guiaRemision")
}

<link href="@Url.Content("~/Content/PrintGuiaP.css?nocache=" + TempData["ScriptVersion"])" rel="stylesheet" type="text/css" />
