@{
    Model.Usuario usuario = ViewBag.usuario;
    ViewBag.Title = "Listado de Permisos asignados al Usuario: " + usuario.nombre + " (" + usuario.email + ")";
    List<Model.Permiso> permisos = ViewBag.permisos;

    int idCategoriaTemp = 0;
}

<div class="page-header">
    <h3>@ViewBag.Title</h3>
</div>
<div class="container">
    <input type="hidden" id="pagina" value="@ViewBag.pagina" />
    <input type="hidden" value="@ViewBag.debug" />
    <form id="formPermisosUsuario" action="@Url.Action("UpdatePermisos", "Usuario")" method="post">
        <input type="hidden" name="idUsuario" id="idUsuario" value="@usuario.idUsuario" />
        @if (usuario.idUsuario != Guid.Empty)
        {
            <div class="row">
                @foreach (Model.Permiso per in permisos)
                {

                    if (idCategoriaTemp != per.categoriaPermiso.idCategoriaPermiso)
                    {
                        idCategoriaTemp = per.categoriaPermiso.idCategoriaPermiso;
                        string titulo = "</div><br/><div class=\"row\"><div class=\"col-sm-12 col-lg-12 col-xs-12\"><h3>" + per.categoriaPermiso.descripcion + "</h3></div>";

                        @Html.Raw(titulo)
                    }

                    string itemChecked = usuario.TienePermiso(per.idPermiso) ? "checked" : "";
                    string itemDisabled = usuario.PermisoPorRol(per.idPermiso) ? "disabled" : "name=\"permiso_" + per.idPermiso.ToString() + "\"";
                    string classDisabled = itemDisabled.Equals("disabled") ? "color:#929292;" : "";

                    <div class="col-sm-6 col-lg-4 col-xs-12">
                        <label class="radio-label" for="permiso_@per.idPermiso">
                            <input type="checkbox" @itemChecked @Html.Raw(itemDisabled) class="chk-permiso" id="permiso_@per.idPermiso" value="1">
                            <span style="@classDisabled">@per.descripcion_corta - (@per.codigo)</span>
                        </label>
                    </div>
                }
            </div>

        }
    </form>
    <br /><br />
    <div class="row">
        <div class="pull-right">
            <button type="button" id="btnCancelarEdicionPermisos" class="btn btn-danger">Cancelar</button>
            <button id="btnFinalizarEdicionPermisos" type="button" class="btn btn-success">Guardar Permisos</button>
        </div>
    </div>
</div>



@section Scripts {
    @Scripts.RenderFormat("<script type=\"text/javascript\" src=\"{0}?nocache=" + TempData["ScriptVersion"] + "\"></script>", "~/bundles/usuario")
}