@{
    ViewBag.Title = "Crear/Modificar Cliente";
    Model.Cliente cliente = ViewBag.cliente;
    var disabledLabel = "disabled = ''";
    /*Model.DireccionEntrega direccionEntrega = ViewBag.direccionEntrega;*/
    // Model.pedido.OpcionesConsiderarCantidades opcionesConsiderarCantidades;
    // @model Enum;

    string displaySubDistribuidor = "";
    string disabledSunat = "";
    string displayCanalMultiregional = "";
    string displaySearchSunat = "display: none;";

    string hideNegociacionGrupal = "";
    if (cliente.grupoCliente == null || cliente.grupoCliente.idGrupoCliente == 0)
    {
        hideNegociacionGrupal = "display: none;";
    }

    if (!cliente.esSubDistribuidor)
    {
        displaySubDistribuidor = "display: none;";
    }

    if (!cliente.perteneceCanalMultiregional)
    {
        displayCanalMultiregional = "display: none;";
    }

    if (ViewBag.esRuc)
    {

        displaySearchSunat = "";
        /*
                if (cliente.razonSocialSunat == null || cliente.razonSocialSunat.Trim() == "")
                {
                    disabledSunat = "disabled=\"disabled\"";
                    displaySearchSunat = "display: none;";
                }*/
    }

    string displayChrAsesor = "";
    if (cliente.hoyEsFechaRegistro || cliente.responsableComercial.idVendedor.ToString().Equals(cliente.chrAsesor.preValor)) {
        displayChrAsesor = "display:none;";
    }

    string displayChrSupervisor = "";
    if (cliente.hoyEsFechaRegistro || cliente.supervisorComercial.idVendedor.ToString().Equals(cliente.chrSupervisor.preValor)) {
        displayChrSupervisor = "display:none;";
    }

    string displayChrAsistente = "";
    if (cliente.hoyEsFechaRegistro || cliente.asistenteServicioCliente.idVendedor.ToString().Equals(cliente.chrAsistente.preValor)) {
        displayChrAsistente = "display:none;";
    }

    string solicitarCHRForm = "1";
    if (cliente.hoyEsFechaRegistro)
    {
        solicitarCHRForm = "0";
    }

    if (cliente.esClienteLite && cliente.tipoDocumento == null)
    {
        cliente.ruc = "";
    }
}

<div class="page-header">
    <h3>@ViewBag.Title</h3>
</div>
<div class="container">
    <input type="hidden" id="pagina" value="@ViewBag.pagina" />
    <input type="hidden" id="bloqueaFiltroAsesor" value="0" />
    <input type="hidden" value="@ViewBag.debug" />
    <input type="hidden" id="fechaRegistro" value='@cliente.FechaRegistro.ToString("dd/MM/yyyy")' />
    <input type="hidden" id="esClienteLite" value='@cliente.clienteLiteValue.ToString()' />

    <form class="form-horizontal" enctype="multipart/form-data" id="formularioConArchivos" method="post">
        <input type="hidden" id="considerarCantidades" name="considerarCantidades" value="2" />

        <div class="row">

            @if (cliente.codigo != null && cliente.codigo.Length > 0)
            {
                <div class="col-sm-6 col-lg-4">
                    <div class="form-group">
                        @Html.LabelFor(c => cliente.ciudad, htmlAttributes: new { @class = "control-label col-xs-4", @for = "idCiudad" })
                        <div class="col-xs-8">
                            @Html.Action("GetCiudades", "Ciudad",
                                   new
                                   {
                                       ciudadSelectId = "idCiudad",
                                       selectedValue = cliente.ciudad.idCiudad,
                                       disabled = "disabled"
                                   })
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="col-sm-6 col-lg-4">
                    <div class="form-group">
                        @Html.LabelFor(c => cliente.ciudad, htmlAttributes: new { @class = "control-label col-xs-4", @for = "idCiudad" })
                        <div class="col-xs-8">
                            @Html.Action("GetCiudades", "Ciudad",
                                           new
                                           {
                                               ciudadSelectId = "idCiudad",
                                               selectedValue = cliente.ciudad.idCiudad
                                           })
                        </div>
                    </div>
                </div>
            }

            <input type="hidden" id="idCliente" name="idCliente" value="@cliente.idCliente" />


            <!--CODIGO CLIENTE-->
            <div class="col-sm-6 col-lg-4">
                <div class="form-group">
                    @Html.LabelFor(c => cliente.codigo, htmlAttributes: new { @class = "control-label col-xs-4" })
                    <div class="col-xs-8">
                        @Html.TextBoxFor(c => cliente.codigo, htmlAttributes: new { @class = "form-control", @disabled = "disabled" })
                    </div>
                </div>
            </div>

            <!--CODIGO GRUPO CLIENTE-->
            <div class="col-sm-6 col-lg-4">
                @if (cliente.modificaGrupo == 1)
                {
                    <div class="form-group">
                        @Html.LabelFor(c => cliente.grupoCliente, htmlAttributes: new { @class = "control-label col-xs-4" })
                        <div class="col-xs-8">

                            @*<p class="form-control-static" id="verGrupoCliente"></p>*@

                            @Html.Action("GetGruposCliente", "GrupoCliente",
                                        new
                                        {
                                            grupoClienteSelectId = "idGrupoCliente",
                                            selectedValue = cliente.grupoCliente.idGrupoCliente
                                        })
                        </div>
                        <label class="radio-label" style="margin-left: 15px; margin-top: 5px; @hideNegociacionGrupal">
                            @if (cliente.habilitadoNegociacionGrupal)
                            {
                                <input checked type="checkbox" name="cliente_habilitadoNegociacionGrupal" id="cliente_habilitadoNegociacionGrupal" value="1">
                            }
                            else
                            {
                                <input type="checkbox" name="cliente_habilitadoNegociacionGrupal" id="cliente_habilitadoNegociacionGrupal" value="1">
                            }


                            @if (cliente.codigo != String.Empty)
                            {
                                <span>Este Cliente (@cliente.codigo) hereda los precios del grupo.</span>
                            }
                            else
                            {
                                <span>Este Cliente heredará los precios del grupo.</span>
                            }

                        </label>
                    </div>
                }
                else
                {
                    <div class="form-group">
                        <label for="cliente_grupo" class="control-label col-xs-4">Grupo Cliente:</label>
                        <div class="col-xs-6">
                            <p class="form-control-static" id="verGrupoCliente">@cliente.grupoCliente.nombre</p>
                        </div>
                        <label id="verHabilitadoNegociacionGrupal" class="radio-label" style="font-size:12px; color:forestgreen; margin-left: 15px;margin-top: 5px;">
                            <span>Este Cliente (@cliente.codigo) hereda los precios del grupo.</span>
                        </label>
                    </div>
                }
            </div>
        </div>

        <div class="row">

            <!--Tipo Documento Identidad-->
            <div class="col-sm-6 col-lg-4">
                <div class="form-group">
                    @Html.LabelFor(dv => cliente.tipoDocumentoIdentidad, htmlAttributes: new { @class = "control-label col-xs-4 col-lg-4" })
                    <div class="col-xs-8">
                        @Html.DropDownList("tipoDocumentoIdentidad",
                         EnumHelper.GetSelectList(typeof(Model.DocumentoVenta.TiposDocumentoIdentidad), cliente.tipoDocumentoIdentidad),
                         new { @class = "form-control" }
                         )
                    </div>
                </div>
            </div>

            <!--Número Documento-->
            <div class="col-sm-6 col-lg-4">
                <div class="form-group">
                    <label for="cliente_ruc" class="control-label col-xs-4">Número. Documento:</label>
                    <div class="col-xs-5">
                        @Html.TextBoxFor(c => cliente.ruc, htmlAttributes: new { @class = "form-control" })

                    </div>
                    <div class="col-xs-3 row">
                        <button id="btnRecuperarDatosSunat" type="button" class="btn btn-primary"><img src="~/images/logo_sunat.svg" style="height: 18px; background-color: #ffffff;" /></button>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-4">
                <div class="form-group">
                    @Html.LabelFor(c => cliente.origen, htmlAttributes: new { @class = "control-label col-xs-4 col-sm-4 col-lg-4", @for = "idOrigen" })
                    <div class="col-xs-8 col-sm-8 col-lg-8">
                        @Html.Action("GetOrigenes", "Origen",
                                new
                                {
                                    origenSelectId = "idOrigen",
                                    selectedValue = cliente.origen.idOrigen,
                                })
                    </div>
                </div>
            </div>

        </div>
        <br />

        <fieldset id="divContinueEdit" @disabledSunat>
            <fieldset id="fieldSetDatosSunat">
                <legend>Datos obtenidos desde SUNAT:</legend>
                <!--Razon SOcial Cliente-->
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-lg-8">
                        <div class="form-group">
                            @Html.LabelFor(c => cliente.razonSocialSunat, htmlAttributes: new { @class = "control-label col-xs-4 col-sm-2 col-lg-2" })
                            <div class="col-xs-8 col-sm-10 col-lg-10">
                                @Html.TextBoxFor(c => cliente.razonSocialSunat, htmlAttributes: new { @class = "form-control", @disabled = "disabled" })
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-lg-4">
                        <div class="form-group">
                            @Html.LabelFor(c => cliente.estadoContribuyente, htmlAttributes: new { @class = "control-label col-xs-4" })
                            <div class="col-xs-8">
                                @Html.TextBoxFor(c => cliente.estadoContribuyente, htmlAttributes: new { @class = "form-control", @disabled = "disabled" })
                            </div>
                        </div>
                    </div>
                </div>

                <!--NombreComercial SUNAT-->
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-lg-8">
                        <div class="form-group">
                            @Html.LabelFor(c => cliente.nombreComercialSunat, htmlAttributes: new { @class = "control-label col-xs-4 col-sm-2 col-lg-2" })
                            <div class="col-xs-8 col-sm-10 col-lg-10">
                                @Html.TextBoxFor(c => cliente.nombreComercialSunat, htmlAttributes: new { @class = "form-control", @disabled = "disabled" })
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-lg-4">
                        <div class="form-group">
                            @Html.LabelFor(c => cliente.condicionContribuyente, htmlAttributes: new { @class = "control-label col-xs-4" })
                            <div class="col-xs-8">
                                @Html.TextBoxFor(c => cliente.condicionContribuyente, htmlAttributes: new { @class = "form-control", @disabled = "disabled" })
                            </div>
                        </div>
                    </div>
                </div>

                <!--DOMICILIO LEGAL CLIENTE-->
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-lg-8">
                        <div class="form-group">
                            @Html.LabelFor(c => cliente.direccionDomicilioLegalSunat, htmlAttributes: new { @class = "control-label col-xs-4 col-sm-2 col-lg-2" })
                            <div class="col-xs-8 col-sm-10 col-lg-10">
                                @Html.TextBoxFor(c => cliente.direccionDomicilioLegalSunat, htmlAttributes: new { @class = "form-control", @disabled = "disabled" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6 col-lg-4">
                        <div class="form-group">
                            @Html.LabelFor(c => cliente.ubigeo.Departamento, htmlAttributes: new { @class = "control-label col-xs-4" })
                            <div class="col-xs-8">
                                @Html.TextBoxFor(c => cliente.ubigeo.Departamento, htmlAttributes: new { @class = "form-control", @disabled = "disabled" })
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="form-group">
                            @Html.LabelFor(c => cliente.ubigeo.Provincia, htmlAttributes: new { @class = "control-label col-xs-4" })
                            <div class="col-xs-8">
                                @Html.TextBoxFor(c => cliente.ubigeo.Provincia, htmlAttributes: new { @class = "form-control", @disabled = "disabled" })
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="form-group">
                            @Html.LabelFor(c => cliente.ubigeo.Distrito, htmlAttributes: new { @class = "control-label col-xs-4" })
                            <div class="col-xs-8">
                                @Html.TextBoxFor(c => cliente.ubigeo.Distrito, htmlAttributes: new { @class = "form-control", @disabled = "disabled" })
                            </div>
                        </div>
                    </div>
                </div>

            </fieldset>
            <br />
            <fieldset id="fieldSetDatosComerciales">
                <legend>Información Comercial:</legend>
                <div class="row">
                    <!--Nombre COmercial CLIENTE-->
                    <div class="col-sm-6 col-lg-8">
                        <div class="form-group">
                            @Html.LabelFor(c => cliente.nombreComercial, htmlAttributes: new { @class = "control-label col-xs-4 col-sm-4 col-lg-2", @id = "labelClienteNombre" })
                            <div class="col-xs-8 col-sm-8 col-lg-10">
                                @Html.TextBoxFor(c => cliente.nombreComercial, htmlAttributes: new { @class = "form-control" })
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-4">
                        <div class="form-group">
                            @Html.LabelFor(c => cliente.rubro, htmlAttributes: new { @class = "control-label col-xs-4 col-sm-4 col-lg-4", @for = "idRubroPadre" })
                            <div class="col-xs-8 col-sm-8 col-lg-8">
                                @Html.Action("GetRubros", "Rubro",
                                    new
                                    {
                                        rubroSelectId = "idRubroPadre",
                                        selectedValue = cliente.rubro.padre == null ? 0 : cliente.rubro.padre.idRubro,
                                        sinNoAsignado = 1
                                    })

                                @Html.Action("GetRubros", "Rubro",
                                    new
                                    {
                                        rubroSelectId = "idRubro",
                                        selectedValue = cliente.rubro.idRubro,
                                        idPadre = cliente.rubro.padre == null ? -2 : cliente.rubro.padre.idRubro,
                                        sinNoAsignado = 1
                                    })
                            </div>
                        </div>
                    </div>


                </div>
                <!--CORREO CLIENTE-->
                <div class="row">

                    <div class="col-sm-6 col-lg-8">
                        <div class="form-group">
                            @Html.LabelFor(c => cliente.correoEnvioFactura, htmlAttributes: new { @class = "control-label col-xs-4  col-sm-4 col-lg-2" })
                            <div class="col-xs-8 col-sm-8 col-lg-10">
                                @Html.TextBoxFor(c => cliente.correoEnvioFactura, htmlAttributes: new { @class = "form-control" })
                                <span style="color:darkred">Si desea agregar varias direcciones de correo use ";" (Punto y coma) para separarlos.</span>
                            </div>
                        </div>
                    </div>



                    <div class="col-sm-6 col-lg-4">
                        @*<div class="form-group">
                                @Html.LabelFor(c => cliente.contacto1, htmlAttributes: new { @class = "control-label col-xs-4 col-sm-4 col-lg-4" })
                                <div class="col-xs-8 col-sm-8 col-lg-8">
                                    @Html.TextBoxFor(c => cliente.contacto1, htmlAttributes: new { @class = "form-control" })
                                </div>
                            </div>*@
                    </div>
                </div>


                <div class="row">
                    <div class="col-sm-6 col-lg-8">
                        <div class="form-group">
                            @Html.LabelFor(p => cliente.observaciones, htmlAttributes: new { @class = "control-label  col-xs-4  col-sm-4 col-lg-2" })
                            <div class="col-xs-8 col-sm-8 col-lg-10">
                                @Html.TextAreaFor(p => cliente.observaciones, htmlAttributes: new { @class = "form-control", rows = "6", cols = "300", style = "min-width: 100%" })
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-4">
                        @*<div class="form-group">
                                @Html.LabelFor(c => cliente.telefonoContacto1, htmlAttributes: new { @class = "control-label col-xs-4 col-sm-4 col-lg-4" })
                                <div class="col-xs-8 col-sm-8 col-lg-8">
                                    @Html.TextBoxFor(c => cliente.telefonoContacto1, htmlAttributes: new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(c => cliente.emailContacto1, htmlAttributes: new { @class = "control-label col-xs-4 col-sm-4 col-lg-4" })
                                <div class="col-xs-8 col-sm-8 col-lg-8">
                                    @Html.TextBoxFor(c => cliente.emailContacto1, htmlAttributes: new { @class = "form-control" })
                                </div>
                            </div>*@
                    </div>
                </div>


            </fieldset>

            <br />
            <fieldset>
                <legend>Crédito y Condiciones de Pago:</legend>
                <div class="row">
                    <div class="col-sm-6 col-lg-4">
                        <div class="form-group">
                            @Html.LabelFor(dv => cliente.plazoCreditoSolicitado, htmlAttributes: new { @class = "control-label col-xs-4 col-lg-4" })
                            <div class="col-xs-8">
                                @if (cliente.usuario.apruebaPlazoCredito)
                                {
                                    @Html.DropDownList("plazoCreditoSolicitado",
                                                   EnumHelper.GetSelectList(typeof(Model.DocumentoVenta.TipoPago), cliente.plazoCreditoSolicitado),
                                                   new { @class = "form-control", @disabled = "disabled" }
                                                   )
                                }
                                else
                                {
                                    @Html.DropDownList("plazoCreditoSolicitado",
                                                   EnumHelper.GetSelectList(typeof(Model.DocumentoVenta.TipoPago), cliente.plazoCreditoSolicitado),
                                                   new { @class = "form-control" }
                                                   )
                                }
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-4">
                        <div class="form-group">
                            @Html.LabelFor(dv => cliente.tipoPagoFactura, htmlAttributes: new { @class = "control-label col-xs-4 col-lg-4" })
                            <div class="col-xs-8">
                                @if (cliente.usuario.apruebaPlazoCredito)
                                {

                                    @Html.DropDownList("tipoPagoCliente",
                                                   EnumHelper.GetSelectList(typeof(Model.DocumentoVenta.TipoPago), cliente.tipoPagoFactura),
                                                   new { @class = "form-control" }
                                                   )
                                }
                                else
                                {
                                    @Html.DropDownList("tipoPagoCliente",
                                                   EnumHelper.GetSelectList(typeof(Model.DocumentoVenta.TipoPago), cliente.tipoPagoFactura),
                                                   new { @class = "form-control", @disabled = "disabled" }
                                                   )
                                }
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-4">
                        <div class="form-group">
                            @Html.LabelFor(dv => cliente.sobrePlazo, htmlAttributes: new { @class = "control-label col-xs-4 col-lg-4" })
                            <div class="col-xs-8">
                                @if (cliente.usuario.apruebaPlazoCredito)
                                {
                                    @Html.TextBoxFor(c => cliente.sobrePlazo, htmlAttributes: new { @class = "form-control", type = "number", min = "0" })
                                }
                                else
                                {
                                    @Html.TextBoxFor(c => cliente.sobrePlazo, htmlAttributes: new { @class = "form-control", @disabled = "disabled", type = "number", min = "0" })
                                }
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">

                    <div class="col-sm-6 col-lg-4">
                        <div class="form-group">
                            @Html.LabelFor(dv => cliente.creditoSolicitado, htmlAttributes: new { @class = "control-label col-xs-4 col-lg-4" })
                            <div class="col-xs-8">
                                @if (cliente.usuario.apruebaMontoCredito)
                                {
                                    @Html.TextBoxFor(c => cliente.creditoSolicitado, htmlAttributes: new { @class = "form-control", disabled = "disabled", type = "number", min = "0.00", step = "0.01", value = "0.00", placeholder = "0.00" })
                                }
                                else
                                {
                                    @Html.TextBoxFor(c => cliente.creditoSolicitado, htmlAttributes: new { @class = "form-control", type = "number", min = "0.00", step = "0.01", value = "0.00", placeholder = "0.00" })
                                }

                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-4">
                        <div class="form-group">
                            @Html.LabelFor(dv => cliente.creditoAprobado, htmlAttributes: new { @class = "control-label col-xs-4 col-lg-4" })
                            <div class="col-xs-8">
                                @if (cliente.usuario.apruebaMontoCredito)
                                {
                                    @Html.TextBoxFor(c => cliente.creditoAprobado, htmlAttributes: new { @class = "form-control", type = "number", min = "0.00", step = "0.01", value = "0.00", placeholder = "0.00" })
                                }
                                else
                                {
                                    @Html.TextBoxFor(c => cliente.creditoAprobado, htmlAttributes: new { @class = "form-control", @disabled = "disabled", type = "number", min = "0.00", step = "0.01", value = "0.00", placeholder = "0.00" })
                                }
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-4">
                        <div class="form-group">
                            @Html.LabelFor(dv => cliente.sobreGiro, htmlAttributes: new { @class = "control-label col-xs-4 col-lg-4" })
                            <div class="col-xs-8">
                                @if (cliente.usuario.apruebaMontoCredito)
                                {
                                    @Html.TextBoxFor(c => cliente.sobreGiro, htmlAttributes: new { @class = "form-control", type = "number", min = "0.00", step = "0.01", value = "0.00", placeholder = "0.00" })
                                }
                                else
                                {
                                    @Html.TextBoxFor(c => cliente.sobreGiro, htmlAttributes: new { @class = "form-control", @disabled = "disabled", type = "number", min = "0.00", step = "0.01", value = "0.00", placeholder = "0.00" })
                                }
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">

                    <div class="col-sm-6 col-lg-8">
                        <div class="form-group">
                            @Html.LabelFor(p => cliente.observacionesCredito, htmlAttributes: new { @class = "control-label  col-xs-4  col-sm-4 col-lg-2" })
                            <div class="col-xs-8 col-sm-8 col-lg-10">

                                @if (cliente.usuario.apruebaPlazoCredito || cliente.usuario.apruebaMontoCredito)
                                {
                                    @Html.TextAreaFor(p => cliente.observacionesCredito, htmlAttributes: new { @class = "form-control", rows = "6", cols = "300", style = "min-width: 100%" })
                                }
                                else
                                {
                                    @Html.TextAreaFor(p => cliente.observacionesCredito, htmlAttributes: new { @class = "form-control", rows = "6", cols = "300", style = "min-width: 100%", @disabled = "disabled" })
                                }

                            </div>
                        </div>
                    </div>

                    <!--
                    <div class="col-sm-6 col-lg-4">
                        <div class="form-group">
                            @Html.LabelFor(dv => cliente.plazoCredito, htmlAttributes: new { @class = "control-label col-xs-4 col-lg-4" })
                            <div class="col-xs-8">
                                @Html.TextBoxFor(c => cliente.plazoCredito, htmlAttributes: new { @class = "form-control", @disabled = "disabled" })
                            </div>
                        </div>
                    </div>
                        -->

                    <div class="col-sm-6 col-lg-4">
                        <div class="form-group">
                            @Html.LabelFor(dv => cliente.formaPagoFactura, htmlAttributes: new { @class = "control-label col-xs-4 col-lg-4" })
                            <div class="col-xs-8">
                                @Html.DropDownList("formaPagoCliente",
                                EnumHelper.GetSelectList(typeof(Model.DocumentoVenta.FormaPago), cliente.formaPagoFactura),
                                new { @class = "form-control" }
                                )
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(c => cliente.tipoLiberacionCrediticia, htmlAttributes: new { @class = "control-label col-xs-4 col-sm-4 col-lg-4" })
                            <div class="col-xs-8 col-sm-8 col-lg-8">

                                @if (cliente.usuario.bloqueaClientes)
                                {
                                    if (cliente.requiereLiberacionCrediticia)
                                    {
                                        <input checked type="radio" id="cliente_tlc_requiere" name="cliente_tipoLiberacionCrediticia" />
                                    }
                                    else
                                    {
                                        <input type="radio" id="cliente_tlc_requiere" name="cliente_tipoLiberacionCrediticia" />
                                    }
                                    <label class="control-label" for="cliente_tlc_requiere">Requiere</label><br />

                                    if (cliente.exoneradoLiberacionCrediticia)
                                    {
                                        <input checked type="radio" id="cliente_tlc_exonerado" name="cliente_tipoLiberacionCrediticia" />
                                    }
                                    else
                                    {
                                        <input type="radio" id="cliente_tlc_exonerado" name="cliente_tipoLiberacionCrediticia" />
                                    }
                                    <label class="control-label" for="cliente_tlc_exonerado">Exonerado</label><br />

                                    if (cliente.bloqueadoLiberacionCrediticia)
                                    {
                                        <input checked type="radio" id="cliente_tlc_bloqueado" name="cliente_tipoLiberacionCrediticia" />
                                    }
                                    else
                                    {
                                        <input type="radio" id="cliente_tlc_bloqueado" name="cliente_tipoLiberacionCrediticia" />
                                    }
                                    <label class="control-label" for="cliente_tlc_bloqueado">Bloqueado</label>
                                }

                                else
                                {
                                    <span>@cliente.tipoLiberacionCrediticiaString</span>
                                }

                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-sm-6 col-lg-8">
                        <div class="form-group">
                            <label for="archivoAdjunto" class="control-label col-xs-2">Adjuntos:</label>
                            <div class="col-xs-3">
                                <div class="upload-btn-wrapper">
                                    <button class="btn btn-primary">Adjuntar Archivo</button>
                                    <input type="file" class="form-control" name="files" id="files" accept=".*" multiple>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6 col-lg-8">
                        <div class="form-group">
                            <label for="archivoAdjunto" class="control-label col-xs-2"></label>
                            <div class="col-xs-8">
                                <ul id="nombreArchivos">
                                    @foreach (Model.ClienteAdjunto clienteAdjunto in cliente.clienteAdjuntoList)
                                    {
                                        <li>
                                            <a href="javascript:mostrar();" class="descargar">@clienteAdjunto.nombre</a>
                                            <a href="javascript:mostrar();"><img src="~/images/icon-close.png" id="@clienteAdjunto.nombre" class="btnDeleteArchivo" /></a>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </fieldset>





            <fieldset>
                <legend>Responsables Comerciales Asignados:</legend>
                <div class="row">
                    <!--Responsable Comercial-->
                    <div class="col-sm-6 col-lg-4">
                        <div class="form-group">
                            <div class="col-xs-4">
                            </div>
                            <div class="col-xs-8">
                                @if (cliente.vendedoresAsignados)
                                {

                                    <span id="spanVendedoresAsignados" style="color:forestgreen">Los Responsables Comerciales han sido validados.</span>
                                    <span id="spanVendedoresNoAsignados" style="color:darkred" hidden="hidden">No se ha culminado la validación de los Responsables Comerciales.</span>
                                }
                                else
                                {
                                    <span id="spanVendedoresAsignados" style="color:forestgreen" hidden="hidden">Los Responsables Comerciales han sido validados.</span>
                                    <span id="spanVendedoresNoAsignados" style="color:darkred">No se ha culminado la validación de los Responsables Comerciales.</span>

                                }
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <!--Responsable Comercial-->
                    <div class="col-sm-6 col-lg-4">
                        <div class="form-group">
                            @Html.LabelFor(c => cliente.responsableComercial, htmlAttributes: new { @class = "control-label col-xs-4", @for = "idResponsableComercial" })
                            <div class="col-xs-8">
                                @if (cliente.usuario.modificaResponsableComercial || (cliente.IdUsuarioRegistro == cliente.usuario.idUsuario && cliente.responsableComercial.idVendedor == 43))
                                {
                                    @Html.Action("GetResponsablesComerciales", "Vendedor",
                                    new
                                    {
                                        vendedorSelectId = "idResponsableComercial",
                                        mostrarFormCHR = solicitarCHRForm,
                                        prevValue = cliente.chrAsesor.preValor,
                                        selectedValue = cliente.responsableComercial.idVendedor
                                    })
                                }
                                else
                                {
                                    @Html.Action("GetResponsablesComerciales", "Vendedor",
                                           new
                                           {
                                               vendedorSelectId = "idResponsableComercial",
                                               selectedValue = cliente.responsableComercial.idVendedor,
                                               mostrarFormCHR = solicitarCHRForm,
                                               prevValue = cliente.chrAsesor.preValor,
                                               disabled = "disabled"
                                           })

                                }

                            </div>
                        </div>
                        <div id="divChrAsesor" style="@displayChrAsesor">
                            <div class="row">
                                <!--Fecha Inicio Vigencia-->
                                <label class="control-label col-xs-4" for="file">Inicio <br />Vigencia:</label>
                                <div class="col-xs-8">
                                    <input class="form-control" type="text" id="chrFechaInicioVigenciaAsesor" name="chrFechaInicioVigenciaAsesor" value="@cliente.chrAsesor.FechaInicioVigenciaDesc" readonly style="cursor:pointer;">
                                </div>
                            </div>
                            <div class="row">
                                <!--Observacion-->
                                <label class="control-label col-xs-4" for="file">Observación:</label>
                                <div class="col-xs-8">
                                    <textarea class="form-control" name="chrObservacionAsesor" id="chrObservacionAsesor" value="@cliente.chrAsesor.observacion"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Supervisor Comercial-->
                    <div class="col-sm-6 col-lg-4">
                        <div class="form-group">
                            @Html.LabelFor(c => cliente.supervisorComercial, htmlAttributes: new { @class = "control-label col-xs-4", @for = "idSupervisorComercial" })
                            <div class="col-xs-8">
                                @if (cliente.usuario.modificaSupervisorComercial)
                                {
                                    @Html.Action("GetSupervisoresComerciales", "Vendedor",
                                            new
                                            {
                                                vendedorSelectId = "idSupervisorComercial",
                                                mostrarFormCHR = solicitarCHRForm,
                                                prevValue = cliente.chrSupervisor.preValor,
                                                selectedValue = cliente.supervisorComercial.idVendedor,
                                            })
                                }
                                else
                                {
                                    @Html.Action("GetSupervisoresComerciales", "Vendedor",
                                            new
                                            {
                                                vendedorSelectId = "idSupervisorComercial",
                                                mostrarFormCHR = solicitarCHRForm,
                                                prevValue = cliente.chrSupervisor.preValor,
                                                selectedValue = cliente.supervisorComercial.idVendedor,
                                                disabled = "disabled"
                                            })
                                }
                            </div>
                        </div>
                        <div id="divChrSupervisor" style="@displayChrSupervisor">
                            <div class="row">
                                <!--Fecha Inicio Vigencia-->
                                <label class="control-label col-xs-4" for="file">Inicio <br />Vigencia:</label>
                                <div class="col-xs-8">
                                    <input class="form-control" type="text" id="chrFechaInicioVigenciaSupervisor" name="chrFechaInicioVigenciaSupervisor" value="@cliente.chrSupervisor.FechaInicioVigenciaDesc" readonly style="cursor:pointer;">
                                </div>
                            </div>
                            <div class="row">
                                <!--Observacion-->
                                <label class="control-label col-xs-4" for="file">Observación:</label>
                                <div class="col-xs-8">
                                    <textarea class="form-control" name="chrObservacionSupervisor" id="chrObservacionSupervisor" value="@cliente.chrAsesor.observacion"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Asistente Servicio al Cliente-->
                    <div class="col-sm-6 col-lg-4">
                        <div class="form-group">
                            @Html.LabelFor(c => cliente.asistenteServicioCliente, htmlAttributes: new { @class = "control-label col-xs-4", @for = "idAsistenteServicioCliente" })
                            <div class="col-xs-8">
                                @if (cliente.usuario.modificaAsistenteAtencionCliente)
                                {
                                    @Html.Action("GetAsistentesServicioCliente", "Vendedor",
                                                 new
                                                 {
                                                     vendedorSelectId = "idAsistenteServicioCliente",
                                                     mostrarFormCHR = solicitarCHRForm,
                                                     prevValue = cliente.chrAsistente.preValor,
                                                     selectedValue = cliente.asistenteServicioCliente.idVendedor,
                                                 })
                                }
                                else
                                {
                                    @Html.Action("GetAsistentesServicioCliente", "Vendedor",
                                            new
                                            {
                                                vendedorSelectId = "idAsistenteServicioCliente",
                                                mostrarFormCHR = solicitarCHRForm,
                                                prevValue = cliente.chrAsistente.preValor,
                                                selectedValue = cliente.asistenteServicioCliente.idVendedor,
                                                disabled = "disabled"
                                            })
                                }

                            </div>
                        </div>
                        <div id="divChrAsistente" style="@displayChrAsistente">
                            <div class="row">
                                <!--Fecha Inicio Vigencia-->
                                <label class="control-label col-xs-4" for="file">Inicio <br />Vigencia:</label>
                                <div class="col-xs-8">
                                    <input class="form-control" type="text" id="chrFechaInicioVigenciaAsistente" name="chrFechaInicioVigenciaAsistente" value="@cliente.chrAsistente.FechaInicioVigenciaDesc" readonly style="cursor:pointer;">
                                </div>
                            </div>
                            <div class="row">
                                <!--Observacion-->
                                <label class="control-label col-xs-4" for="file">Observación:</label>
                                <div class="col-xs-8">
                                    <textarea class="form-control" name="chrObservacionAsistente" id="chrObservacionAsistente" value="@cliente.chrAsistente.observacion"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </fieldset>


            <fieldset>
                <legend>Horarios Entrega:</legend>
                <div class="row">
                    <div class="col-sm-6 col-lg-4">
                        <div class="form-group">
                            @Html.LabelFor(p => cliente.primerTurnoEntrega, htmlAttributes: new { @class = "control-label col-xs-6 col-lg-4" })
                            <div class="input-group col-xs-6 col-lg-8">
                                <div class="input-group-addon" style="width:70px">
                                    <span class="input-group-text" id="basic-addon1">Desde:</span>
                                </div>
                                @Html.TextBoxFor(c => cliente.horaInicioPrimerTurnoEntregaFormat, htmlAttributes: new { @class = "form-control timepicker" })
                            </div>
                            <label for="horaEntregaHasta" class="control-label col-xs-6 col-lg-4"></label>
                            <div class="input-group col-xs-6 col-lg-8">

                                <div class="input-group-addon" style="width:70px">
                                    <span class="input-group-text" id="basic-addon1">Hasta:</span>
                                </div>
                                @Html.TextBoxFor(c => cliente.horaFinPrimerTurnoEntregaFormat, htmlAttributes: new { @class = "form-control timepicker" })
                            </div>
                        </div>
                    </div>



                    <div class="col-sm-6 col-lg-4">
                        <div class="form-group">
                            @Html.LabelFor(p => cliente.segundoTurnoEntrega, htmlAttributes: new { @class = "control-label col-xs-6 col-lg-4" })
                            <div class="input-group col-xs-6 col-lg-8">
                                <div class="input-group-addon" style="width:70px">
                                    <span class="input-group-text" id="basic-addon1">Desde:</span>
                                </div>
                                @Html.TextBoxFor(c => cliente.horaInicioSegundoTurnoEntregaFormat, htmlAttributes: new { @class = "form-control timepicker" })
                            </div>
                            <label for="horaEntregaHasta" class="control-label col-xs-6 col-lg-4"></label>
                            <div class="input-group col-xs-6 col-lg-8">

                                <div class="input-group-addon" style="width:70px">
                                    <span class="input-group-text" id="basic-addon1">Hasta:</span>
                                </div>
                                @Html.TextBoxFor(c => cliente.horaFinSegundoTurnoEntregaFormat, htmlAttributes: new { @class = "form-control timepicker" })
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-4">
                        <div class="form-group">
                            @Html.LabelFor(p => cliente.observacionHorarioEntrega, htmlAttributes: new { @class = "control-label col-xs-4 col-lg-4" })
                            <div class="input-group col-xs-8 col-lg-8">
                                @Html.TextAreaFor(c => cliente.observacionHorarioEntrega, htmlAttributes: new { @class = "form-control", @rows = "3" })
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>

            @if (cliente.usuario.modificaCanales)
            {
                <fieldset>
                    <legend>Canales:</legend>

                    <div class="row">
                        <div class="col-sm-6 col-lg-4">
                            <div class="form-group">
                                @Html.LabelFor(c => cliente.perteneceCanalLima, htmlAttributes: new { @class = "control-label col-xs-10 col-sm-10 col-lg-10" })
                                <div class="col-xs-2 col-sm-2 col-lg-2">
                                    @if (cliente.perteneceCanalLima)
                                    {
                                        <input checked type="checkbox" id="cliente_CanalLima" name="cliente_CanalLima" />
                                    }
                                    else
                                    {
                                        <input type="checkbox" id="cliente_CanalLima" name="cliente_CanalLima" />
                                    }
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-lg-4">

                            <div class="form-group">
                                @Html.LabelFor(c => cliente.perteneceCanalProvincias, htmlAttributes: new { @class = "control-label col-xs-10 col-sm-10 col-lg-10" })
                                <div class="col-xs-2 col-sm-2 col-lg-2">
                                    @if (cliente.perteneceCanalProvincias)
                                    {
                                        <input checked type="checkbox" id="cliente_CanalProvincias" name="cliente_CanalProvincias" />
                                    }
                                    else
                                    {
                                        <input type="checkbox" id="cliente_CanalProvincias" name="cliente_CanalProvincias" />
                                    }
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-lg-4">
                            <div class="form-group">
                                @Html.LabelFor(c => cliente.perteneceCanalPCP, htmlAttributes: new { @class = "control-label col-xs-10 col-sm-10 col-lg-10" })
                                <div class="col-xs-2 col-sm-2 col-lg-2">
                                    @if (cliente.perteneceCanalPCP)
                                    {
                                        <input checked type="checkbox" id="cliente_CanalPCP" name="cliente_CanalPCP" />
                                    }
                                    else
                                    {
                                        <input type="checkbox" id="cliente_CanalPCP" name="cliente_CanalPCP" />
                                    }
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6 col-lg-4">
                            <div class="form-group">
                                @Html.LabelFor(c => cliente.perteneceCanalMultiregional, htmlAttributes: new { @class = "control-label col-xs-10 col-sm-10 col-lg-10" })
                                <div class="col-xs-2 col-sm-2 col-lg-2">
                                    @if (cliente.perteneceCanalMultiregional)
                                    {
                                        <input checked type="checkbox" id="cliente_CanalMultireginal" name="cliente_CanalMultireginal" />
                                    }
                                    else
                                    {
                                        <input type="checkbox" id="cliente_CanalMultireginal" name="cliente_CanalMultireginal" />
                                    }
                                </div>
                            </div>
                        </div>


                        <div class="col-sm-6 col-lg-4 hasCanalMultiregional" style="@displayCanalMultiregional">
                            <div class="form-group">
                                <label for="cliente_negociacionMultiregional" class="control-label col-xs-10 col-sm-10 col-lg-10" style="color:cornflowerblue;">RUC Habilitado para negociacion multiregional</label>
                                <div class="col-xs-2 col-sm-2 col-lg-2">
                                    @if (cliente.negociacionMultiregional)
                                    {
                                        <input checked type="checkbox" id="cliente_negociacionMultiregional" name="cliente_negociacionMultiregional" />
                                    }
                                    else
                                    {
                                        <input type="checkbox" id="cliente_negociacionMultiregional" name="cliente_negociacionMultiregional" />
                                    }
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-lg-4 hasCanalMultiregional" style="@displayCanalMultiregional">
                            <div class="form-group">
                                <label for="cliente_sedePrincipal" class="control-label col-xs-10 col-sm-10 col-lg-10" style="color:cornflowerblue;">MP <span id="spn_vercliente_mp_registracotizaciones">@cliente.ciudad.nombre</span> Registra cotizaciones multiregionales para este RUC</label>
                                <div class="col-xs-2 col-sm-2 col-lg-2">
                                    @if (cliente.sedePrincipal)
                                    {
                                        <input checked type="checkbox" id="cliente_sedePrincipal" name="cliente_sedePrincipal" />
                                    }
                                    else
                                    {
                                        <input @if (!cliente.negociacionMultiregional) { @disabledLabel }
                                               type="checkbox" id="cliente_sedePrincipal" name="cliente_sedePrincipal" />
                                    }
                                </div>
                            </div>
                        </div>

                    </div>


                </fieldset>
            }

            @if (cliente.usuario.asignaSubdistribuidor)
            {
                <fieldset>
                    <legend>SubDistribución:</legend>

                    <div class="row">
                        <div class="col-sm-6 col-lg-4">
                            <div class="form-group">
                                @Html.LabelFor(c => cliente.esSubDistribuidor, htmlAttributes: new { @class = "control-label col-xs-10 col-sm-10 col-lg-10" })
                                <div class="col-xs-2 col-sm-2 col-lg-2">
                                    @if (cliente.esSubDistribuidor)
                                    {
                                        <input checked type="checkbox" id="cliente_esSubdistribuidor" name="cliente_esSubdistribuidor" />
                                    }
                                    else
                                    {
                                        <input type="checkbox" id="cliente_esSubdistribuidor" name="cliente_esSubdistribuidor" />
                                    }
                                </div>
                            </div>
                        </div>

                        <div id="divSubDistribuidor" class="col-sm-6 col-lg-4" style="@displaySubDistribuidor">
                            <div class="form-group">
                                @Html.LabelFor(c => cliente.subDistribuidor, htmlAttributes: new { @class = "control-label col-xs-4 col-sm-4 col-lg-4", @for = "idSubDistribuidor" })
                                <div class="col-xs-8 col-sm-8 col-lg-8">
                                    @Html.Action("GetSubDistribuidores", "SubDistribuidor",
                             new
                             {
                                 subDistribuidorSelectId = "idSubDistribuidor",
                                 selectedValue = cliente.subDistribuidor.idSubDistribuidor,
                             })
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            }


            <fieldset>
                <legend>Configuración:</legend>

                <div class="row">
                    <div class="col-sm-12 col-lg-6">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <div class="onoffswitch">
                                    <input type="checkbox" name="onoffswitch" @(cliente.configuraciones.agregarNombreSedeObservacionFactura ? "checked" : "") class="onoffswitch-checkbox" id="chkConfigAgregarNombreSedeObservacionFactura">
                                    <label class="onoffswitch-label" for="chkConfigAgregarNombreSedeObservacionFactura"></label>
                                </div>
                                <h5 id="lblChkConfigAgregarNombreSedeObservacionFactura" style="width: 90%; font-size: 16px; margin-left: 45px; margin-top: -24px; font-weight:bold; cursor:pointer;">Agregar nombre de sede de dirección de entrega a observaciones de factura</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-lg-6">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <div class="onoffswitch">
                                    <input type="checkbox" name="onoffswitch" @(cliente.esAgenteRetencion ? "checked" : "") class="onoffswitch-checkbox" id="chkEsAgenteRetencion">
                                    <label class="onoffswitch-label" for="chkEsAgenteRetencion"></label>
                                </div>
                                <h5 id="lblChkEsAgenteRetencion" style="width: 90%; font-size: 16px; margin-left: 45px; margin-top: -24px; font-weight:bold; cursor:pointer;">Es agente de retención</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-lg-6">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <div class="onoffswitch">
                                    <input type="checkbox" name="onoffswitch" @(cliente.facturaUnica ? "checked" : "") class="onoffswitch-checkbox" id="chkFacturaUnica">
                                    <label class="onoffswitch-label" for="chkFacturaUnica"></label>
                                </div>
                                <h5 id="lblChkFacturaUnica" style="width: 90%; font-size: 16px; margin-left: 45px; margin-top: -24px; font-weight:bold; cursor:pointer;">Facturación única</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-lg-6">
                        <div class="col-sm-12">
                            <div class="form-group">
                                @if (cliente.usuario.activaClienteFacturaCompleja)
                                {
                                    <div class="onoffswitch">
                                        <input type="checkbox" name="onoffswitch" @(cliente.configuraciones.facturacionCompleja ? "checked" : "") class="onoffswitch-checkbox" id="chkConfigFacturacionCompleja">
                                        <label class="onoffswitch-label" for="chkConfigFacturacionCompleja"></label>
                                    </div>
                                }
                                else
                                {
                                    <div class="onoffswitch">
                                        @if (cliente.configuraciones.facturacionCompleja)
                                        {
                                            <label style="color:#40b34f">SI</label>
                                        }
                                        else
                                        {
                                            <label style="color:#d81717">NO</label>
                                        }
                                    </div>
                                }
                                <h5 id="lblChkConfigFacturacionCompleja" style="width: 90%; font-size: 16px; margin-left: 45px; margin-top: -24px; font-weight:bold; cursor:pointer;">Facturación compleja</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </fieldset>

        <div class="row">


            <div class="pull-right">
                <button type="button" id="btnCancelarCliente" class="btn btn-danger">Cancelar</button>
                <button id="btnFinalizarEdicionCliente" type="button" class="btn btn-success">Finalizar Creación</button>
            </div>
        </div>

    </form>
</div>



<div class="modal fade" id="modalAgregarHistorialReasignacion" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modalActualizarTipoCambio"><b>Cambio de <span id="spnTitleHistorialReasignacion"></span></b></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <p></p>
            </div>


            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12 col-lg-12">
                        <!--Fecha Inicio Vigencia-->
                        <label class="control-label col-xs-3" for="file">Inicio <br />Vigencia:</label>
                        <div class="col-xs-9">
                            <input id="fechaInicioVigenciatmp" type="hidden" value="@DateTime.Now.ToString("dd/MM/yyyy")" />
                            <input class="form-control" type="text" id="chrFechaInicioVigencia" name="chrFechaInicioVigencia">
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-12">
                        <!--Observacion-->
                        <label class="control-label col-xs-3" for="file">Observación:</label>
                        <div class="col-xs-9">
                            <input class="form-control" type="number" value="" name="chrObservacion" id="chrObservacion" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <div class="pull-right">
                    <button type="button" id="btnActualizarChr" class="btn btn-primary ">Continuar</button>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="modalImportarClienteEmpresa" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modalImportarClienteEmpresa"><b>El cliente ya existe en otra empresa</b></h4>
                <p></p>
            </div>

            <div class="modal-body">
                <h4>Puede importar el cliente desde otra empresa.</h4>
                <div class="row" id="miceListaEmpresas">
                </div>
            </div>

            <div class="modal-footer">
                <button id="btnImportarOtraEmpresaCancel" type="button" class="btn btn-secondary">Cancelar</button>
                <button id="btnImportarOtraEmpresa" type="button" class="btn btn-primary">Importar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.RenderFormat("<script type=\"text/javascript\" src=\"{0}?nocache=" + TempData["ScriptVersion"] + "\"></script>", "~/bundles/cliente")
}