@{
    ViewBag.Title = "Crear/Modificar Cliente";
    Model.Cliente cliente = ViewBag.cliente;
    /*Model.DireccionEntrega direccionEntrega = ViewBag.direccionEntrega;*/
    // Model.pedido.OpcionesConsiderarCantidades opcionesConsiderarCantidades;
    // @model Enum;
}

<div class="page-header">
    <h3>@ViewBag.Title</h3>
</div>
<div class="container">
    <input type="hidden" id="pagina" value="@ViewBag.pagina" />
    <input type="hidden" value="@ViewBag.debug" />
    <form class="form-horizontal">
        <input type="hidden" id="considerarCantidades" name="considerarCantidades" value="2" />

        <div class="row">

            @if (cliente.codigo != null && cliente.codigo.Length > 0 )
            {
                <div class="col-sm-6 col-lg-4">
                    <div class="form-group">
                        @Html.LabelFor(c => cliente.ciudad, htmlAttributes: new { @class = "control-label col-xs-4", @for = "idCiudad" })
                        <div class="col-xs-8">
                            @Html.Action("GetCiudades", "Ciudad",
                                  new
                                  {
                                      ciudadSelectId = "idCiudad",
                                      selectedValue = cliente.ciudad.idCiudad,
                                      disabled = "disabled"
                                  })
                        </div>
                    </div>
                </div>
            }
            else
            {
                    <div class="col-sm-6 col-lg-4">
                    <div class="form-group">
                        @Html.LabelFor(c => cliente.ciudad, htmlAttributes: new { @class = "control-label col-xs-4", @for = "idCiudad" })
                        <div class="col-xs-8">
                            @Html.Action("GetCiudades", "Ciudad",
                                         new
                                         {
                                             ciudadSelectId = "idCiudad",
                                             selectedValue = cliente.ciudad.idCiudad
                                         })
                        </div>
                    </div>
                </div>
            }


            <div class="col-sm-6 col-lg-4">
                <div class="form-group">
                    <label for="idCliente" class="control-label col-xs-4">Cliente:</label>

                    <div class="col-xs-8">
                        <select class="form-control input-sm" id="idCliente" name="idCliente" required>
                            @if (cliente.codigo != null && cliente.codigo.Length > 0)
                            {
                                <option selected value="@cliente.idCliente">@cliente</option>
                            }
                            else
                            {
                                <option value=""></option>
                            }
                        </select>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <!--CODIGO CLIENTE-->
            <div class="col-sm-6 col-lg-4">
                <div class="form-group">
                    @Html.LabelFor(c => cliente.codigo, htmlAttributes: new { @class = "control-label col-xs-4" })
                    <div class="col-xs-8">
                        @Html.TextBoxFor(c => cliente.codigo, htmlAttributes: new { @class = "form-control", @disabled = "disabled" })
                    </div>
                </div>
            </div>

            <!--RUC CLIENTE-->
            <div class="col-sm-6 col-lg-4">
                <div class="form-group">
                    <label for="cliente_ruc" class="control-label col-xs-4">RUC / DNI:</label>
                    <div class="col-xs-8">
                        @Html.TextBoxFor(c => cliente.ruc, htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-4">
                <div class="form-group">
                    <button id="btnRecuperarDatosSunat" type="button" class="btn btn-primary">Obtener Datos Sunat</button>
                </div>
            </div>
            
        </div>


        <!--
          <div class="row">
              <div class="col-sm-12 col-lg-8">
                  <div class="form-group">
                      @Html.LabelFor(c => cliente.razonSocial, htmlAttributes: new { @class = "control-label col-xs-4 col-sm-2 col-lg-2" })
                      <div class="col-xs-8 col-sm-10 col-lg-10">
                          @Html.TextBoxFor(c => cliente.razonSocial, htmlAttributes: new { @class = "form-control" })
                      </div>
                  </div>
              </div>
          </div>
        -->

        <div class="row">
            <!--Nombre COmercial CLIENTE-->
            <div class="col-sm-12 col-lg-8">
                <div class="form-group">
                    @Html.LabelFor(c => cliente.nombreComercial, htmlAttributes: new { @class = "control-label col-xs-4 col-sm-2 col-lg-2" })
                    <div class="col-xs-8 col-sm-10 col-lg-10">
                        @Html.TextBoxFor(c => cliente.nombreComercial, htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>



        <!--DOMICILIO LEGAL CLIENTE
        <div class="row">

            <div class="col-sm-6  col-sm-12 col-lg-8">
                <div class="form-group">
                    @Html.LabelFor(c => cliente.domicilioLegal, htmlAttributes: new { @class = "control-label col-xs-4 col-sm-2 col-lg-2" })
                    <div class="col-xs-8 col-sm-10 col-lg-10">
                        @Html.TextBoxFor(c => cliente.domicilioLegal, htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>-->

        <!--CORREO CLIENTE-->
        <div class="row">

            <div class="col-sm-6 col-sm-12 col-lg-8">
                <div class="form-group">
                    @Html.LabelFor(c => cliente.correoEnvioFactura, htmlAttributes: new { @class = "control-label col-xs-4 col-sm-2 col-lg-2" })
                    <div class="col-xs-8 col-sm-10 col-lg-10">
                        @Html.TextBoxFor(c => cliente.correoEnvioFactura, htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>

        <fieldset>
            <legend>Crédito y Condiciones de Pago:</legend>
            <div class="row">

                <div class="col-sm-6 col-lg-4">
                    <div class="form-group">
                        <label for="cliente_plazoCredito" class="control-label col-xs-4"> Crédito (días):</label>
                        <div class="col-xs-8">
                            @Html.TextBoxFor(c => cliente.plazoCredito, htmlAttributes: new { @class = "form-control", @disabled = "disabled" })
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-4">
                    <div class="form-group">
                        @Html.LabelFor(dv => cliente.tipoPagoFactura, htmlAttributes: new { @class = "control-label col-xs-4 col-lg-4" })
                        <div class="col-xs-8">
                            @Html.DropDownList("tipoPagoCliente",
                            EnumHelper.GetSelectList(typeof(Model.DocumentoVenta.TipoPago), cliente.tipoPagoFactura),
                            new { @class = "form-control" }
                            )
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="form-group">
                        @Html.LabelFor(dv => cliente.formaPagoFactura, htmlAttributes: new { @class = "control-label col-xs-4 col-lg-4" })
                        <div class="col-xs-8">
                            @Html.DropDownList("formaPagoCliente",
                EnumHelper.GetSelectList(typeof(Model.DocumentoVenta.FormaPago), cliente.formaPagoFactura),
                new { @class = "form-control" }
                )
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">

                <div class="col-sm-6 col-lg-4">
                    <div class="form-group">
                        <label for="cliente_creditoSolicitado" class="control-label col-xs-4">Crédito Solicitado:</label>
                        <div class="col-xs-8">
                            @Html.TextBoxFor(c => cliente.creditoSolicitado, htmlAttributes: new { @class = "form-control" })
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-4">
                    <div class="form-group">
                        <label for="cliente_creditoAprobado" class="control-label col-xs-4">Crédito Aprobado:</label>
                        <div class="col-xs-8">
                            @Html.TextBoxFor(c => cliente.creditoAprobado, htmlAttributes: new { @class = "form-control", @disabled = "disabled" })
                        </div>
                    </div>
                </div>
            </div>


        </fieldset>




        <fieldset>
            <legend>Datos obtenidos desde SUNAT:</legend>
            <!--Razon SOcial Cliente-->
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-lg-8">
                    <div class="form-group">
                        @Html.LabelFor(c => cliente.razonSocialSunat, htmlAttributes: new { @class = "control-label col-xs-4 col-sm-2 col-lg-2" })
                        <div class="col-xs-8 col-sm-10 col-lg-10">
                            @Html.TextBoxFor(c => cliente.razonSocialSunat, htmlAttributes: new { @class = "form-control", @disabled = "disabled" })
                        </div>
                    </div>
                </div>
            </div>

            <!--NombreComercial SUNAT-->
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-lg-8">
                    <div class="form-group">
                        @Html.LabelFor(c => cliente.nombreComercialSunat, htmlAttributes: new { @class = "control-label col-xs-4 col-sm-2 col-lg-2" })
                        <div class="col-xs-8 col-sm-10 col-lg-10">
                            @Html.TextBoxFor(c => cliente.nombreComercialSunat, htmlAttributes: new { @class = "form-control", @disabled = "disabled" })
                        </div>
                    </div>
                </div>
            </div>

            <!--DOMICILIO LEGAL CLIENTE-->
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-lg-8">
                    <div class="form-group">
                        @Html.LabelFor(c => cliente.direccionDomicilioLegalSunat, htmlAttributes: new { @class = "control-label col-xs-4 col-sm-2 col-lg-2" })
                        <div class="col-xs-8 col-sm-10 col-lg-10">
                            @Html.TextBoxFor(c => cliente.direccionDomicilioLegalSunat, htmlAttributes: new { @class = "form-control" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6 col-lg-4">
                    <div class="form-group">
                        @Html.LabelFor(c => cliente.ubigeo.Departamento, htmlAttributes: new { @class = "control-label col-xs-4" })
                        <div class="col-xs-8">
                            @Html.TextBoxFor(c => cliente.ubigeo.Departamento, htmlAttributes: new { @class = "form-control", @disabled = "disabled" })
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="form-group">
                        @Html.LabelFor(c => cliente.ubigeo.Provincia, htmlAttributes: new { @class = "control-label col-xs-4" })
                        <div class="col-xs-8">
                            @Html.TextBoxFor(c => cliente.ubigeo.Provincia, htmlAttributes: new { @class = "form-control", @disabled = "disabled" })
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="form-group">
                        @Html.LabelFor(c => cliente.ubigeo.Distrito, htmlAttributes: new { @class = "control-label col-xs-4" })
                        <div class="col-xs-8">
                            @Html.TextBoxFor(c => cliente.ubigeo.Distrito, htmlAttributes: new { @class = "form-control", @disabled = "disabled" })
                        </div>
                    </div>
                </div>
            </div>

            <!--ESTADO CONTRIBUYENTE CLIENTE-->
            <div class="row">
                <div class="col-sm-6 col-lg-4">
                    <div class="form-group">
                        @Html.LabelFor(c => cliente.estadoContribuyente, htmlAttributes: new { @class = "control-label col-xs-4" })
                        <div class="col-xs-8">
                            @Html.TextBoxFor(c => cliente.estadoContribuyente, htmlAttributes: new { @class = "form-control", @disabled = "disabled" })
                        </div>
                    </div>
                </div>

                <!--DONDICIÓN CONTRIBUYENTE CLIENTE-->
                <div class="col-sm-6 col-lg-4">
                    <div class="form-group">
                        @Html.LabelFor(c => cliente.condicionContribuyente, htmlAttributes: new { @class = "control-label col-xs-4" })
                        <div class="col-xs-8">
                            @Html.TextBoxFor(c => cliente.condicionContribuyente, htmlAttributes: new { @class = "form-control", @disabled = "disabled" })
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>





        <div class="row">


            <div class="pull-right">

                <button type="button" id="btnCancelarCliente" class="btn btn-danger">Cancelar</button>
                

                @if (cliente.codigo == "" || cliente.codigo  == null)
                {
                    <button id="btnFinalizarEdicionCliente" type="button" class="btn btn-success">Finalizar Creación</button>
                }
                else
                {
                    <button id="btnFinalizarEdicionCliente" type="button" class="btn btn-success">Finalizar Edición</button>
                }
            </div>
        </div>


    </form>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/cliente")
}