@{
    ViewBag.Title = "Búsqueda Clientes";
    Model.Cliente cliente = ViewBag.cliente;
    Model.DireccionEntrega direccionEntrega = new Model.DireccionEntrega();
    Model.ClienteContacto clienteContacto = new Model.ClienteContacto();
    List<Model.Cliente> clienteList = ViewBag.clienteList;
}

<div class="page-header">
    <h3>@ViewBag.Title</h3>
</div>
<div class="container">
    <input type="hidden" id="idPedido" value="" />
    <input type="hidden" id="pagina" value="@ViewBag.pagina" />
    <input type="hidden" id="fechaHoy" value='@DateTime.Now.ToString("dd/MM/yyyy")' />
    <form class="form-horizontal">

        <div class="row">
            <!--codigo-->
            <div class="col-sm-6 col-lg-4">
                <div class="form-group">
                    @Html.LabelFor(c => cliente.codigo, htmlAttributes: new { @class = "control-label col-xs-4" })
                    <div class="col-xs-8">
                        @Html.TextBoxFor(c => cliente.codigo, htmlAttributes: new { @class = "form-control" })
                        <span style="margin-right: 20px; font-size:12px; color: darkred; font-weight: normal " class="has-error">*Si ingresa el código los otros criterios no serán considerados en la búsqueda. </span>
                    </div>
                </div>
            </div>

            <!--CIUDAD-->
            <div class="col-sm-6 col-lg-4">
                <div class="form-group">
                    @Html.LabelFor(c => cliente.ciudad, htmlAttributes: new { @class = "control-label col-xs-4", @for = "idCiudad" })
                    <div class="col-xs-8">
                        @Html.Action("GetCiudades", "Ciudad",
                                                                                        new
                                                                                        {
                                                                                            ciudadSelectId = "idCiudad",
                                                                                            selectedValue = cliente.ciudad.idCiudad
                                                                                        })
                    </div>
                </div>
            </div>



            <div class="col-sm-6 col-lg-4">
                <div class="form-group">
                    @Html.LabelFor(c => cliente.textoBusqueda, htmlAttributes: new { @class = "control-label col-xs-4" })
                    <div class="col-xs-8">
                        @Html.TextBoxFor(c => cliente.textoBusqueda, htmlAttributes: new { @class = "form-control" })
                        <span style="margin-right: 20px; font-size:12px; color: darkred; font-weight: normal " class="has-error">*Si desea obtener todos los clientes ingrese 3 veces símbolo porcentaje: %%% </span>
                    </div>
                </div>
            </div>
        </div>

        <!--Responsable Comercial-->
        <div class="row">

            <div class="col-sm-6 col-lg-4">
                <div class="form-group">
                    @Html.LabelFor(c => cliente.responsableComercial, htmlAttributes: new { @class = "control-label col-xs-4", @for = "idResponsableComercial" })
                    <div class="col-xs-8">
                        @Html.Action("GetResponsablesComerciales", "Vendedor",
                                new
                                {
                                    vendedorSelectId = "idResponsableComercial",
                                    selectedValue = cliente.responsableComercial.idVendedor,
                                })

                    </div>
                </div>
            </div>
            <!--Supervisor Comercial-->
            <div class="col-sm-6 col-lg-4">
                <div class="form-group">
                    @Html.LabelFor(c => cliente.supervisorComercial, htmlAttributes: new { @class = "control-label col-xs-4", @for = "idSupervisorComercial" })
                    <div class="col-xs-8">

                        @Html.Action("GetSupervisoresComerciales", "Vendedor",
                                       new
                                       {
                                           vendedorSelectId = "idSupervisorComercial",
                                           selectedValue = cliente.supervisorComercial.idVendedor,
                                       })

                    </div>
                </div>
            </div>
            <!--Asistente Servicio al Cliente-->
            <div class="col-sm-6 col-lg-4">
                <div class="form-group">
                    @Html.LabelFor(c => cliente.asistenteServicioCliente, htmlAttributes: new { @class = "control-label col-xs-4", @for = "idSupervisorComercial" })
                    <div class="col-xs-8">

                        @Html.Action("GetAsistentesServicioCliente", "Vendedor",
                                            new
                                            {
                                                vendedorSelectId = "idAsistenteServicioCliente",
                                                selectedValue = cliente.asistenteServicioCliente.idVendedor,
                                            })

                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <!--CODIGO GRUPO CLIENTE-->
            <div class="col-sm-6 col-lg-4">
                <div class="form-group">
                    @Html.LabelFor(c => cliente.grupoCliente, htmlAttributes: new { @class = "control-label col-xs-4" })
                    <div class="col-xs-8">
                        @Html.Action("GetGruposCliente", "GrupoCliente",
                                           new
                                           {
                                               grupoClienteSelectId = "idGrupoCliente",
                                               selectedValue = cliente.grupoCliente.idGrupoCliente
                                           })
                    </div>
                </div>
            </div>


            <div class="col-sm-6 col-lg-4">
                <div class="form-group">
                    <div class="col-xs-2">
                    </div>
                    <div class="col-xs-10">
                        <div class="row">
                            @if (cliente.sinPlazoCreditoAprobado)
                            {
                                <input class="radio-input" checked type="checkbox" name="cliente_sinPlazoCreditoAprobado" id="sinPlazoCreditos" value="1">
                            }
                            else
                            {
                                <input class="radio-input" type="checkbox" name="cliente_sinPlazoCreditoAprobado" id="sinPlazoCreditos" value="1">
                            }
                            <label for="sinPlazoCreditos" class="control-label">Solo sin plazo crédito aprobado</label>
                        </div>
                        <div class="row">
                            @if (cliente.vendedoresAsignados)
                            {
                                <input class="radio-input" checked type="checkbox" name="cliente_sinAsesorValidado" id="sinAsesorValidado" value="1">
                            }
                            else
                            {
                                <input class="radio-input" type="checkbox" name="cliente_sinAsesorValidado" id="sinAsesorValidado" value="1">
                            }
                            <label for="sinAsesorValidado" class="control-label">Solo con asesor pendiente de validación</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-4">
                <div class="form-group">
                    <div class="col-xs-4">
                        <label class="control-label">Canales:</label>
                    </div>
                    <div class="col-xs-8">
                        <div class="row">
                            @if (cliente.perteneceCanalLima)
                            {
                                <input class="radio-input" checked type="checkbox" name="cliente_perteneceCanalLima" id="cliente_CanalLima" value="1">
                            }
                            else
                            {
                                <input class="radio-input" type="checkbox" name="cliente_perteneceCanalLima" id="cliente_CanalLima" value="1">
                            }
                            <label for="cliente_perteneceCanalLima" class="control-label">Lima</label>
                        </div>
                        <div class="row">
                            @if (cliente.perteneceCanalProvincias)
                            {
                                <input class="radio-input" checked type="checkbox" name="cliente_perteneceCanalProvincias" id="cliente_CanalProvincias" value="1">
                            }
                            else
                            {
                                <input class="radio-input" type="checkbox" name="cliente_perteneceCanalProvincias" id="cliente_CanalProvincias" value="1">
                            }
                            <label for="cliente_perteneceCanalProvincias" class="control-label">Provincias</label>
                        </div>
                        <div class="row">
                            @if (cliente.perteneceCanalMultiregional)
                            {
                                <input class="radio-input" checked type="checkbox" name="cliente_perteneceCanalMultiregional" id="cliente_CanalMultireginal" value="1">
                            }
                            else
                            {
                                <input class="radio-input" type="checkbox" name="cliente_perteneceCanalMultiregional" id="cliente_CanalMultireginal" value="1">
                            }
                            <label for="cliente_perteneceCanalMultiregional" class="control-label">Multiregional</label>
                        </div>
                        <div class="row">
                            @if (cliente.perteneceCanalPCP)
                            {
                                <input class="radio-input" checked type="checkbox" name="cliente_perteneceCanalPCP" id="cliente_CanalPCP" value="1">
                            }
                            else
                            {
                                <input class="radio-input" type="checkbox" name="cliente_perteneceCanalPCP" id="cliente_CanalPCP" value="1">
                            }
                            <label for="cliente_perteneceCanalPCP" class="control-label">PCP</label>
                        </div>

                    </div>
                </div>
            </div>
        </div>



        <div class="row">
            <div class="col-sm-6 col-lg-4">
                <div class="form-group">
                    @Html.LabelFor(p => cliente.fechaVentasDesde, htmlAttributes: new { @class = "control-label col-xs-4" })
                    <div class="col-xs-4">
                        <input type="hidden" id="fechaVentasDesdetmp" value="@ViewBag.fechaVentasDesde" />
                        <input class="form-control" type="text" id="fechaVentasDesde" name="fechaVentasDesde">

                    </div>
                    <div class="col-xs-4 form-check">
                        @if (cliente.fechaVentasEsModificada)
                        {
                            <input type="checkbox" checked class="form-check-input" id="chkFechaVentasEsModificada">
                        }
                        else
                        {
                            <input type="checkbox" class="form-check-input" id="chkFechaVentasEsModificada">
                        }
                        <label class="form-check-label" for="chkFechaVentasEsModificada">Ingresar Fecha</label>
                    </div>
                </div>

            </div>


            <div class="col-sm-6 col-lg-4">
                <div class="form-group">
                    @Html.LabelFor(p => cliente.sku, htmlAttributes: new { @class = "control-label col-xs-4" })

                    <div class="col-xs-8">
                        @Html.TextBoxFor(p => cliente.sku, htmlAttributes: new { @class = "form-control" })
                        <span style="margin-right: 20px; font-size:12px; color: darkred; font-weight: normal " class="has-error">*Puede ingresar el SKU del producto que se encuentra en el detalle de alguna venta.</span>
                    </div>

                </div>
            </div>

            <div class="col-sm-6 col-lg-4">
                <div class="form-group">
                    @Html.LabelFor(c => cliente.tipoLiberacionCrediticia, htmlAttributes: new { @class = "control-label col-xs-4 col-sm-4 col-lg-4" })
                    <div class="col-xs-8 col-sm-8 col-lg-8">
                        @if (!cliente.requiereLiberacionCrediticia && !cliente.exoneradoLiberacionCrediticia && !cliente.bloqueadoLiberacionCrediticia)
                        {
                            <input checked type="radio" id="cliente_tlc_todos" name="cliente_tipoLiberacionCrediticia" />
                        }
                        else
                        {
                            <input type="radio" id="cliente_tlc_todos" name="cliente_tipoLiberacionCrediticia" />
                        }
                        <label class="control-label" for="cliente_tlc_todos">Todos</label><br />

                        @if (cliente.requiereLiberacionCrediticia)
                        {
                            <input checked type="radio" id="cliente_tlc_requiere" name="cliente_tipoLiberacionCrediticia" />
                        }
                        else
                        {
                            <input type="radio" id="cliente_tlc_requiere" name="cliente_tipoLiberacionCrediticia" />
                        }
                        <label class="control-label" for="cliente_tlc_requiere">Requiere</label><br />

                        @if (cliente.exoneradoLiberacionCrediticia)
                        {
                            <input checked type="radio" id="cliente_tlc_exonerado" name="cliente_tipoLiberacionCrediticia" />
                        }
                        else
                        {
                            <input type="radio" id="cliente_tlc_exonerado" name="cliente_tipoLiberacionCrediticia" />
                        }
                        <label class="control-label" for="cliente_tlc_exonerado">Exonerado</label><br />

                        @if (cliente.bloqueadoLiberacionCrediticia)
                        {
                            <input checked type="radio" id="cliente_tlc_bloqueado" name="cliente_tipoLiberacionCrediticia" />
                        }
                        else
                        {
                            <input type="radio" id="cliente_tlc_bloqueado" name="cliente_tipoLiberacionCrediticia" />
                        }
                        <label class="control-label" for="cliente_tlc_bloqueado">Bloqueado</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="row pull-right" style="margin-bottom:10px; margin-right:0px">
            @if (cliente.usuario.realizaCargaMasivaCliente)
            {
                <button id="btnImportarExcel" type="button" class="btn btn-primary  bouton-image botonExcel">Actualizar desde Excel</button>
            }
            <button id="btnLimpiarBusqueda" type="button" class="btn btn-primary  bouton-image botonClean">Limpiar</button>
            <button id="btnBusqueda" type="button" class="btn btn-primary  bouton-image botonSearch">Buscar</button>
        </div>

        <div id="divExportButton" class="row pull-left" style="margin-bottom:10px; margin-left:0px; display: none;">
            <button id="btnExportExcel" type="button" class="btn btn-primary  bouton-image botonExcel" actionLink="@Url.Action("ExportLastSearchExcel", "Cliente")">Exportar</button>

        </div>

        <table id="tableClientes" class="table" data-editing="false" data-paging="true" data-paging-count-format="{CP} de {TP}"
               data-editing-show-text='<span class="fooicon fooicon-pencil" aria-hidden="true"></span> Editar Detalle'
               data-editing-allow-add="false"
               data-editing-allow-delete="false"
               data-editing-allow-edit="false"
               data-sorting="true"
               data-show-toggle="false"
               data-editing-hide-text="Finalizar edición"
               data-editing-add-text="Descartar cambios">
            <thead>
                <tr>
                    <th data-name="idCliente" data-visible="false"></th>
                    <th data-name="codigo" data-visible="true">Código</th>
                    <th data-name="razonSocial" data-visible="true" data-sortable="true">Razón Social</th>
                    <th data-name="nombreComercial" data-visible="true" data-sortable="true">Nombre Comercial</th>
                    <th data-name="tipoDocumento" data-visible="true" data-sortable="true">Tipo Doc.</th>
                    <th data-name="numeroDocumento" data-visible="true" data-sortable="true">N° Doc.</th>
                    <th data-name="sedeMP" data-sortable="false" data-breakpoints="xs">Sede MP</th>
                    <th data-name="grupo" data-sortable="false" data-breakpoints="xs">Grupo</th>
                    <th data-name="vendedorAsignado" data-visible="true" data-sortable="true">¿Asesor Validado?</th>
                    <th data-name="asesorComercial" data-visible="true" data-sortable="true">Asesor Comercial</th>
                    <th data-name="supervisorComercial" data-visible="true" data-sortable="true">Supervisor Comercial</th>
                    <th data-name="asistenteServicioCliente" data-visible="true" data-sortable="true">Asistente Servicio Cliente</th>
                    <th data-name="plazoCreditoAprobado" data-visible="true" data-sortable="true">Plazo Crédito Aprobado</th>
                    <th data-name="montoCreditoAprobado" data-visible="true" data-sortable="true">Crédito Aprobado (S/)</th>
                    <th data-name="bloqueado" data-visible="true" data-sortable="true">¿Bloqueado?</th>
                    <th data-name="opciones" data-sortable="true" data-breakpoints="xs"></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </form>
</div>



<div class="modal fade" id="modalVerCliente" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modalVerCliente"><b>Información de Cliente</b></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <p></p>
            </div>


            <div class="modal-body">
                <form class="form-horizontal">
                    <input type="hidden" id="verIdCliente" />
                    <div class="row">

                        <div class="col-sm-6 col-lg-4">
                            <div class="form-group">
                                @Html.LabelFor(c => cliente.ciudad, htmlAttributes: new { @class = "control-label col-xs-4" })
                                <div class="col-xs-8">
                                    <p class="form-control-static" id="verCiudadNombre"></p>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-lg-4">
                            <div class="form-group">
                                @Html.LabelFor(c => cliente.codigo, htmlAttributes: new { @class = "control-label col-xs-4" })
                                <div class="col-xs-8">
                                    <p class="form-control-static" id="verCodigo"></p>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-lg-4">
                            <div class="form-group">
                                @Html.LabelFor(c => cliente.nombreCliente, htmlAttributes: new { @class = "control-label col-xs-4" })
                                <div class="col-xs-8">
                                    <p class="form-control-static" id="verNombreCliente"></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <!--Tipo Documento Identidad-->
                        <div class="col-sm-6 col-lg-4">
                            <div class="form-group">
                                @Html.LabelFor(dv => cliente.tipoDocumentoIdentidad, htmlAttributes: new { @class = "control-label col-xs-4 col-lg-4" })
                                <div class="col-xs-8">
                                    <p class="form-control-static" id="verTipoDocumentoIdentidad"></p>
                                </div>
                            </div>
                        </div>

                        <!--Número Documento-->
                        <div class="col-sm-6 col-lg-4">
                            <div class="form-group">
                                <label for="cliente_ruc" class="control-label col-xs-4">Número. Documento:</label>
                                <div class="col-xs-6">
                                    <p class="form-control-static" id="verNumeroDocumento"></p>
                                </div>
                            </div>
                        </div>

                        <!--Número Documento-->
                        <div class="col-sm-6 col-lg-4">
                            <div class="form-group">
                                <label for="cliente_grupo" class="control-label col-xs-4">Grupo Cliente:</label>
                                <div class="col-xs-6">
                                    <p class="form-control-static" id="verGrupoCliente"></p>
                                </div>
                                <label id="verHabilitadoNegociacionGrupal" class="radio-label" style="font-size:12px; color:forestgreen; margin-left: 15px;margin-top: 5px;">

                                </label>




                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12 col-lg-12">
                            <div class="form-group">
                            </div>
                        </div>
                    </div>

                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" id="showClienteinfo" href="#cliente_datos">Datos Generales</a></li>
                        <li><a data-toggle="tab" id="showClientePagos" href="#cliente_crediticia">Información Crediticia</a></li>
                        <li><a data-toggle="tab" id="showClientePrecios" href="#cliente_precios">Productos y Precios</a></li>
                        <li><a data-toggle="tab" id="showInformacionComercial" href="#cliente_comercial">Gestion Comercial</a></li>
                        <li><a data-toggle="tab" id="showDireccionesEntrega" href="#cliente_direccionesEntrega">Direcciones Entrega</a></li>
                        <li><a data-toggle="tab" id="showContactos" href="#cliente_contactos">Contactos</a></li>
                        <li><a data-toggle="tab" id="showConfiguraciones" href="#cliente_configuraciones">Configuraciones</a></li>
                    </ul>

                    <div class="tab-content">
                        <div id="cliente_datos" class="tab-pane fade in active">

                            <!--Razon SOcial Cliente-->
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-lg-8">
                                    <div class="form-group">
                                        @Html.LabelFor(c => cliente.razonSocialSunat, htmlAttributes: new { @class = "control-label col-xs-4 col-sm-2 col-lg-2" })
                                        <div class="col-xs-8 col-sm-10 col-lg-10">
                                            <p class="form-control-static" id="verRazonSocialSunat"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--NombreComercial SUNAT-->
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-lg-8">
                                    <div class="form-group">
                                        @Html.LabelFor(c => cliente.nombreComercialSunat, htmlAttributes: new { @class = "control-label col-xs-4 col-sm-2 col-lg-2" })
                                        <div class="col-xs-8 col-sm-10 col-lg-10">
                                            <p class="form-control-static" id="verNombreComercialSunat"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--DOMICILIO LEGAL CLIENTE-->
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-lg-8">
                                    <div class="form-group">
                                        @Html.LabelFor(c => cliente.direccionDomicilioLegalSunat, htmlAttributes: new { @class = "control-label col-xs-4 col-sm-2 col-lg-2" })
                                        <div class="col-xs-8 col-sm-10 col-lg-10">
                                            <p class="form-control-static" id="verDireccionDomicilioLegalSunat"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--
                            <div class="row">
                                <div class="col-sm-6 col-lg-4">
                                    <div class="form-group">
                                        @Html.LabelFor(c => cliente.ubigeo.Departamento, htmlAttributes: new { @class = "control-label col-xs-4" })
                                        <div class="col-xs-8">
                                            @Html.TextBoxFor(c => cliente.ubigeo.Departamento, htmlAttributes: new { @class = "form-control", @disabled = "disabled" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-lg-4">
                                    <div class="form-group">
                                        @Html.LabelFor(c => cliente.ubigeo.Provincia, htmlAttributes: new { @class = "control-label col-xs-4" })
                                        <div class="col-xs-8">
                                            @Html.TextBoxFor(c => cliente.ubigeo.Provincia, htmlAttributes: new { @class = "form-control", @disabled = "disabled" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-lg-4">
                                    <div class="form-group">
                                        @Html.LabelFor(c => cliente.ubigeo.Distrito, htmlAttributes: new { @class = "control-label col-xs-4" })
                                        <div class="col-xs-8">
                                            @Html.TextBoxFor(c => cliente.ubigeo.Distrito, htmlAttributes: new { @class = "form-control", @disabled = "disabled" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--ESTADO CONTRIBUYENTE CLIENTE-->

                            <div class="row">
                                <div class="col-sm-6 col-lg-4">
                                    <div class="form-group">
                                        @Html.LabelFor(c => cliente.estadoContribuyente, htmlAttributes: new { @class = "control-label col-xs-4" })
                                        <div class="col-xs-8">
                                            <p class="form-control-static" id="verEstadoContribuyente"></p>
                                        </div>
                                    </div>
                                </div>

                                <!--DONDICIÓN CONTRIBUYENTE CLIENTE-->
                                <div class="col-sm-6 col-lg-4">
                                    <div class="form-group">
                                        @Html.LabelFor(c => cliente.condicionContribuyente, htmlAttributes: new { @class = "control-label col-xs-4" })
                                        <div class="col-xs-8">
                                            <p class="form-control-static" id="verCondicionContribuyente"></p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6 col-lg-4">
                                    <div class="form-group">
                                        @Html.LabelFor(c => cliente.rubro, htmlAttributes: new { @class = "control-label col-xs-4" })
                                        <div class="col-xs-8">
                                            <p class="form-control-static" id="verRubro"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <!--Nombre COmercial CLIENTE-->
                                <div class="col-sm-6 col-lg-8">
                                    <div class="form-group">
                                        @Html.LabelFor(c => cliente.nombreComercial, htmlAttributes: new { @class = "control-label col-xs-4 col-sm-4 col-lg-2", @id = "labelClienteNombre" })
                                        <div class="col-xs-8 col-sm-8 col-lg-10">
                                            <p class="form-control-static" id="verNombreComercial"></p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6 col-lg-4">
                                    @*<div class="form-group">
                                        @Html.LabelFor(c => cliente.contacto1, htmlAttributes: new { @class = "control-label col-xs-4 col-sm-4 col-lg-4" })
                                        <div class="col-xs-8 col-sm-8 col-lg-8">
                                            <p class="form-control-static" id="verContacto"></p>
                                        </div>
                                    </div>*@
                                </div>
                            </div>

                            <!--CORREO CLIENTE-->
                            <div class="row">

                                <div class="col-sm-6 col-lg-8">
                                    <div class="form-group">
                                        @Html.LabelFor(c => cliente.correoEnvioFactura, htmlAttributes: new { @class = "control-label col-xs-4  col-sm-4 col-lg-2" })
                                        <div class="col-xs-8 col-sm-8 col-lg-10">
                                            <p class="form-control-static" id="verCorreoEnvioFactura"></p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6 col-lg-4">
                                    @*<div class="form-group">
                                        @Html.LabelFor(c => cliente.telefonoContacto1, htmlAttributes: new { @class = "control-label col-xs-4 col-sm-4 col-lg-4" })
                                        <div class="col-xs-8 col-sm-8 col-lg-8">
                                            <p class="form-control-static" id="verTelefonoContacto"></p>
                                        </div>
                                    </div>*@
                                </div>



                            </div>
                            <div class="row">
                                <div class="col-sm-6 col-lg-8">
                                    <div class="form-group">
                                        @Html.LabelFor(p => cliente.observaciones, htmlAttributes: new { @class = "control-label  col-xs-4  col-sm-4 col-lg-2" })
                                        <div class="col-xs-8 col-sm-8 col-lg-10">
                                            <p class="form-control-static" id="verObservaciones"></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-lg-4">
                                    @*<div class="form-group">
                                        @Html.LabelFor(c => cliente.emailContacto1, htmlAttributes: new { @class = "control-label col-xs-4 col-sm-4 col-lg-4" })
                                        <div class="col-xs-8 col-sm-8 col-lg-8">
                                            <p class="form-control-static" id="verEmailContacto"></p>
                                        </div>
                                    </div>*@

                                </div>
                            </div>



                            <fieldset>
                                <legend>Horarios Entrega:</legend>


                                <div class="row">
                                    <div class="col-sm-12 col-lg-12">
                                        <div class="form-group">
                                            <label class="control-label col-xs-12 col-sm-12 col-lg-4">Primer Turno de Entrega:</label>
                                            <div class="col-xs-8">
                                                <p class="form-control-static" id="primerTurnoEntrega"><span id="verHoraInicioPrimerTurnoEntrega"></span> - <span id="verHoraFinPrimerTurnoEntrega"></span></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-lg-12">
                                        <div class="form-group">
                                            <label class="control-label col-xs-12 col-sm-12 col-lg-4">Segundo Turno de Entrega:</label>
                                            <div class="col-xs-8">
                                                <p class="form-control-static" id="primerTurnoEntrega"><span id="verHoraInicioSegundoTurnoEntrega"></span> - <span id="verHoraFinSegundoTurnoEntrega"></span></p>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-12 col-lg-12">
                                        <div class="form-group">
                                            @Html.LabelFor(dv => cliente.observacionHorarioEntrega, htmlAttributes: new { @class = "control-label col-xs-4 col-lg-4" })
                                            <div class="col-xs-8">
                                                <p class="form-control-static" id="verObservacionHorarioEntrega"></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>

                        <div id="cliente_crediticia" class="tab-pane fade">
                            <div class="row">
                                <div class="col-sm-6 col-lg-4">
                                    <div class="form-group">
                                        @Html.LabelFor(dv => cliente.plazoCreditoSolicitado, htmlAttributes: new { @class = "control-label col-xs-4 col-lg-4" })
                                        <div class="col-xs-8">
                                            <p class="form-control-static" id="verPlazoCreditoSolicitado"></p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6 col-lg-4">
                                    <div class="form-group">
                                        @Html.LabelFor(dv => cliente.tipoPagoFactura, htmlAttributes: new { @class = "control-label col-xs-4 col-lg-4" })
                                        <div class="col-xs-8">
                                            <p class="form-control-static" id="verPlazoCreditoAprobado"></p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6 col-lg-4">
                                    <div class="form-group">
                                        @Html.LabelFor(dv => cliente.sobrePlazo, htmlAttributes: new { @class = "control-label col-xs-4 col-lg-4" })
                                        <div class="col-xs-8">
                                            <p class="form-control-static" id="verSobrePlazo"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--Monto Crédito-->
                            <div class="row">

                                <div class="col-sm-6 col-lg-4">
                                    <div class="form-group">
                                        @Html.LabelFor(dv => cliente.creditoSolicitado, htmlAttributes: new { @class = "control-label col-xs-4 col-lg-4" })
                                        <div class="col-xs-8">
                                            <p class="form-control-static" id="verCreditoSolicitado"></p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6 col-lg-4">
                                    <div class="form-group">
                                        @Html.LabelFor(dv => cliente.creditoAprobado, htmlAttributes: new { @class = "control-label col-xs-4 col-lg-4" })
                                        <div class="col-xs-8">
                                            <p class="form-control-static" id="verCreditoAprobado"></p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6 col-lg-4">
                                    <div class="form-group">
                                        @Html.LabelFor(dv => cliente.sobreGiro, htmlAttributes: new { @class = "control-label col-xs-4 col-lg-4" })
                                        <div class="col-xs-8">
                                            <p class="form-control-static" id="verSobreGiro"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--Observaciones Crédito-->
                            <div class="row">

                                <div class="col-sm-6 col-lg-8">
                                    <div class="form-group">
                                        @Html.LabelFor(p => cliente.observacionesCredito, htmlAttributes: new { @class = "control-label  col-xs-4  col-sm-4 col-lg-2" })
                                        <div class="col-xs-8 col-sm-8 col-lg-10">
                                            <p class="form-control-static" id="verObservacionesCredito"></p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6 col-lg-4">
                                    <div class="form-group">
                                        @Html.LabelFor(dv => cliente.formaPagoFactura, htmlAttributes: new { @class = "control-label col-xs-4 col-lg-4" })
                                        <div class="col-xs-8">
                                            <p class="form-control-static" id="verFormaPagoFactura"></p>
                                        </div>
                                    </div>
                                    @*<div class="form-group">
                                            @Html.LabelFor(c => cliente.bloqueado, htmlAttributes: new { @class = "control-label col-xs-4 col-sm-4 col-lg-4" })
                                            <div class="col-xs-8 col-sm-8 col-lg-8">
                                                <p class="form-control-static" id="verBloqueado"></p>
                                            </div>
                                        </div>*@
                                </div>

                            </div>

                            <div class="row" style="margin-right: 10px">
                                <div class="col-sm-6 col-lg-8">
                                    <div class="form-group">
                                        <label for="verNombreArchivos" class="control-label col-xs-2">Archivos Adjuntos:</label>
                                        <div class="col-xs-10">
                                            <ul id="verNombreArchivos"><li></li></ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div id="cliente_comercial" class="tab-pane fade">
                            <fieldset>
                                <legend>Responsables Comerciales Asignados:</legend>
                                <div class="row">
                                    <div class="col-sm-6 col-lg-4">
                                        <div class="form-group">
                                            <div class="col-xs-4">
                                            </div>
                                            <div class="col-xs-8">
                                                <span id="spanVendedoresAsignados" style="color:forestgreen" hidden="hidden">Los Responsables Comerciales han sido validados.</span>
                                                <span id="spanVendedoresNoAsignados" style="color:darkred" hidden="hidden">No se ha culminado la validación de los Responsables Comerciales.</span>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <!--Responsable Comercial-->
                                    <div class="col-sm-6 col-lg-4">
                                        <div class="form-group">
                                            @Html.LabelFor(c => cliente.responsableComercial, htmlAttributes: new { @class = "control-label col-xs-4", @for = "idResponsableComercial" })
                                            <div class="col-xs-8">
                                                <p class="form-control-static" id="verResponsableComercial"></p>
                                                <a class="lnkVerHistorialReasignaciones" campo="responsableComercial" style="cursor:pointer;">Ver Historial</a>
                                            </div>
                                        </div>
                                    </div>
                                    <!--Supervisor Comercial-->
                                    <div class="col-sm-6 col-lg-4">
                                        <div class="form-group">
                                            @Html.LabelFor(c => cliente.supervisorComercial, htmlAttributes: new { @class = "control-label col-xs-4", @for = "idSupervisorComercial" })
                                            <div class="col-xs-8">
                                                <p class="form-control-static" id="verSupervisorComercial"></p>
                                                <a class="lnkVerHistorialReasignaciones" campo="supervisorComercial" style="cursor:pointer;">Ver Historial</a>
                                            </div>
                                        </div>
                                    </div>
                                    <!--Asistente Servicio al Cliente-->
                                    <div class="col-sm-6 col-lg-4">
                                        <div class="form-group">
                                            @Html.LabelFor(c => cliente.asistenteServicioCliente, htmlAttributes: new { @class = "control-label col-xs-4", @for = "idSupervisorComercial" })
                                            <div class="col-xs-8">
                                                <p class="form-control-static" id="verAsistenteServicioCliente"></p>
                                                <a class="lnkVerHistorialReasignaciones" campo="asistenteServicioCliente" style="cursor:pointer;">Ver Historial</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </fieldset>



                            <fieldset id="fieldset_origen">
                                <legend>Origen: <spn id="spnVerOrigen"></spn></legend>
                            </fieldset>

                            <fieldset id="fieldset_canales">
                                <legend>Canales:</legend>

                                <div class="row">
                                    <div class="col-sm-12 col-lg-12">
                                        <div class="form-group">
                                            <ul class="list-unstyled">
                                                <li id="li_perteneceCanalLima">
                                                    &nbsp;&nbsp;&nbsp;&nbsp;<img src="~/images/check2.png" style="height: 20px;" />
                                                    &nbsp;&nbsp; <label for="cliente_habilitadoSedePrincipal">Lima</label>
                                                </li>
                                                <li id="li_perteneceCanalProvincias">
                                                    &nbsp;&nbsp;&nbsp;&nbsp;<img src="~/images/check2.png" style="height: 20px;" />
                                                    &nbsp;&nbsp; <label for="cliente_habilitadoSedePrincipal">Provincia</label>
                                                </li>
                                                <li id="li_perteneceCanalPCP">
                                                    &nbsp;&nbsp;&nbsp;&nbsp;<img src="~/images/check2.png" style="height: 20px;" />
                                                    &nbsp;&nbsp; <label for="cliente_habilitadoSedePrincipal">PCP</label>
                                                </li>
                                                <li id="li_perteneceCanalMultiregional">
                                                    &nbsp;&nbsp;&nbsp;&nbsp;<img src="~/images/check2.png" style="height: 20px;" />
                                                    &nbsp;&nbsp; <label for="cliente_habilitadoSedePrincipal">Multiregional</label>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <div class="row" id="div_multiregional" style="padding-left: 50px; margin-top: -20px;">
                                    <div class="col-sm-12 col-lg-12">
                                        <div class="form-group">
                                            <ul class="list-unstyled">
                                                <li id="li_negociacionMultiregional">
                                                    &nbsp;&nbsp;&nbsp;&nbsp;<img src="~/images/check2.png" style="height: 20px;" />
                                                    &nbsp;&nbsp; <label for="cliente_habilitadoSedePrincipal">Ruc Habilitado para negociacion multiregional</label>
                                                </li>
                                                <li id="li_sedePrincipal">
                                                    &nbsp;&nbsp;&nbsp;&nbsp;<img src="~/images/check.png" style="height: 20px;" />
                                                    &nbsp;&nbsp; <label for="cliente_habilitadoSedePrincipal">MP <span id="spn_vercliente_mp_registracotizaciones"></span> Registra cotizaciones multiregionales para este RUC</label>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>

                            <fieldset id="div_subdistribuidor">
                                <legend>Sub Distribuidor:</legend>

                                <div class="row">
                                    <!--Responsable Comercial-->
                                    <div class="col-sm-6 col-lg-4">
                                        <div class="form-group">
                                            @Html.LabelFor(c => cliente.subDistribuidor, htmlAttributes: new { @class = "control-label col-xs-4", @for = "idResponsableComercial" })
                                            <div class="col-xs-8">
                                                <p class="form-control-static" id="verSubDistribuidor"></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </fieldset>
                        </div>

                        <div id="cliente_precios" class="tab-pane fade">
                            <div class="row">
                                <div class="col-sm-12 col-lg-6">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="onoffswitch">
                                                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="chkSoloCanasta">
                                                <label class="onoffswitch-label" for="chkSoloCanasta"></label>
                                            </div>
                                            <h5 id="lblChkCanasta" style="width: 80%; margin-left: 45px; margin-top: -22px; font-weight:bold; cursor:pointer;" class="text-muted">Ver solo canasta de compra habitual</h5>
                                        </div>

                                        <div class="col-sm-12">
                                            <div class="onoffswitch">
                                                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="chkSoloVigentes">
                                                <label class="onoffswitch-label" for="chkSoloVigentes"></label>
                                            </div>
                                            <h5 id="lblChkSoloVigentes" style="width: 80%; margin-left: 45px; margin-top: -22px; font-weight:bold; cursor:pointer;" class="text-muted">Ocultar precios vencidos</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-lg-6">
                                    <div class="form-group right" style="padding-right: 10px;">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <span> Mostrar precios vigentes desde </span>
                                                <input style="width: 90px; text-align: center;" type="text" id="ppFechaDesde" name="ppFechaDesde" autocomplete="off" value="@ViewBag.fechaConsultaPrecios.ToString("dd/MM/yyyy")">
                                                <button type="button" id="btnPPActualizarFechaDesde" class="btn btn-success">Buscar Precios</button>
                                            </div>
                                            <div class="col-sm-12" style="text-align: right; margin-top: 5px;">
                                                <button type="button" id="btnLimpiarCanasta" class="btn btn-primary ">Limpiar Canasta Habitual</button>
                                                <button id="btnExportCanasta" type="button" class="btn btn-primary  bouton-image botonExcel" actionLink="@Url.Action("ExportLastShowCanasta", "Cliente")">Exportar Canasta</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <table id="tableListaPrecios" class="table" data-editing="false"
                                   data-editing-allow-add="false"
                                   data-editing-allow-delete="false"
                                   data-editing-allow-edit="false"
                                   data-show-toggle="false">
                                <thead>
                                    <tr>
                                        <th data-name="idProducto" data-visible="false"></th>
                                        <th data-name="canasta" class="listaPreciosCanasta" data-sortable="false">Pertenece <br />Canasta<br />Habitual</th>
                                        <th data-name="proveedor" data-sortable="false">Prov.</th>
                                        <th data-name="codigo" data-sortable="false" data-breakpoints="xs">Código</th>
                                        <th data-name="producto" data-sortable="false">Producto / Descripción</th>
                                        <th data-name="fechaInicioVigencia" data-sortable="false">Fecha Inicio Vigencia</th>
                                        <th data-name="fechaFinVigencia" data-sortable="false">Fecha Fin Vigencia</th>
                                        <th data-name="presentacion" data-sortable="false" data-breakpoints="xs">Unidad</th>
                                        <th data-name="equivalencia" data-sortable="false" data-breakpoints="xs">Equiv</th>
                                        <th data-name="imagen" data-sortable="false" data-breakpoints="xs sm">Imagen</th>
                                        <th data-name="precioLista" data-visible="true" data-sortable="false" data-breakpoints="xs sm">Precio Lista</th>
                                        <th data-name="porcentajeDescuentoMostrar" data-visible="true" data-sortable="false" data-breakpoints="xs sm">Dscto % al P. Lista</th>
                                        <th data-name="precioNeto" data-sortable="false" data-breakpoints="xs sm">Precio Neto</th>
                                        <th data-name="flete" data-sortable="false" data-breakpoints="xs sm">Flete</th>
                                        <th data-name="precioUnitario" data-sortable="false" data-breakpoints="xs sm">Precio Unit.</th>
                                        @if (cliente.usuario.visualizaMargen)
                                        {
                                            <th data-name="porcentajeMargen" class="porcentajeMargen" data-sortable="false" data-breakpoints="xs sm">Margen</th>
                                        }
                                        <th data-name="historialPrecios" data-sortable="false" data-visible="true" data-breakpoints="xs sm">Historial Precios</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>

                        <div id="cliente_direccionesEntrega" class="tab-pane fade">
                            <!--    <table id="tableListaDireccionesEntrega" class="table">
                                 </table>
                            -->
                            <div class="row">
                                <div class="col-sm-6 col-lg-6">

                                </div>
                                <div class="col-sm-6 col-lg-6 text-right">
                                    <button id="btnExportDirecciones" type="button" class="btn btn-primary  bouton-image botonExcel" actionLink="@Url.Action("ExportLastShowDirecciones", "Cliente")">Exportar Direcciones</button>
                                </div>
                            </div>
                            <table id="tableListaDireccionesEntrega" class="table" data-editing="true"
                                   data-editing-show-text='<span class="fooicon fooicon-pencil" aria-hidden="true"></span>Editar Direcciones'
                                   data-editing-allow-add="true"
                                   data-editing-allow-delete="true"
                                   data-editing-allow-edit="true"
                                   data-sorting="true"
                                   data-show-toggle="false"
                                   data-editing-hide-text="Finalizar Edición"
                                   data-editing-add-text="Agregar Dirección">
                                <thead>
                                    <tr>
                                        <th data-name="idDireccionEntrega" data-visible="false"></th>
                                        <th data-name="idCliente" data-visible="false"></th>
                                        <th data-name="idCiudad" data-visible="false"></th>
                                        <th data-name="idDomicilioLegal" data-sortable="false" data-visible="false"></th>
                                        <th data-name="codigoUbigeo" data-sortable="false" data-visible="false"></th>

                                        <th data-name="codigo" data-sortable="false">Código</th>
                                        <th data-name="sede" data-visible="true">Sede MP</th>
                                        <th data-name="ubigeo" data-sortable="false">Ubigeo</th>
                                        <th data-name="direccionEntrega" data-sortable="false">Dirección Entrega</th>
                                        <th data-name="contacto" data-sortable="false" data-breakpoints="xs">Nombre Contacto</th>
                                        <th data-name="telefono" data-sortable="false">Teléfono Contacto</th>
                                        <th data-name="codigoCliente" data-sortable="false">Código Cliente</th>
                                        <th data-name="nombre" data-sortable="false">Nombre</th>
                                        <th data-name="codigoMP" data-visible="false" data-breakpoints="xs">Código MP</th>
                                        <th data-name="emailRecepcionFacturas" data-sortable="false" data-breakpoints="xs">Email Recepción Facturas</th>
                                        <th data-name="direccionDomicilioLegal" data-sortable="false" data-breakpoints="xs">Dirección en Factura/Guía</th>

                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>

                        <div id="cliente_contactos" class="tab-pane fade">
                            <div class="row">
                                <div class="col-sm-6 col-lg-6">
                                    <button id="btnAgregarContacto" type="button" class="btn btn-primary" data-toggle='modal' data-target='#modalContactoCliente'>Agregar Contacto</button>
                                    @*<button id="btnExportDirecciones" type="button" class="btn btn-primary  bouton-image botonExcel" actionLink="@Url.Action("ExportLastShowDirecciones", "Cliente")">Exportar Direcciones</button>*@
                                </div>
                                <div class="col-sm-6 col-lg-6 text-right">
                                    <div class="form-group" style="padding-right: 15px;">
                                        <label class="control-label">Última Actualización:</label>
                                        <span class="form-control-static" id="verFechaActualizacionContactos"></span>
                                    </div>                                    
                                </div>
                            </div>
                            <table id="tableListaContactos" class="table" data-editing="false"
                                   data-sorting="true"
                                   data-show-toggle="false">
                                <thead>
                                    <tr>
                                        <th data-name="idClienteContacto" data-visible="false"></th>
                                        <th data-name="idCliente" data-visible="false"></th>
                                        <th data-name="nombre" data-sortable="true" data-breakpoints="xs">Nombre</th>
                                        <th data-name="telefono" data-sortable="false" data-breakpoints="xs">Teléfono</th>
                                        <th data-name="correo" data-sortable="false" data-breakpoints="xs">Correo</th>
                                        <th data-name="cargo" data-sortable="false" data-breakpoints="xs">Cargo</th>
                                        <th data-name="tipos" data-sortable="false" data-breakpoints="xs">Tipo</th>
                                        <th data-name="aplicaRuc" data-sortable="false" data-breakpoints="xs">Visible para otras Sedes</th>
                                        <th data-name="fechaActualizacion" data-sortable="false" data-breakpoints="xs">Última Actualización</th>
                                        <th data-sortable="false" data-breakpoints="xs"></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>

                        <div id="cliente_configuraciones" class="tab-pane fade">
                            <div class="row" style="margin-top: 10px;">
                                <div class="col-sm-12 col-lg-12">
                                    <div class="col-sm-12">
                                        <div class="onoffswitch">
                                            <label id="verChkConfigAgregarNombreSedeObservacionFactura_SI" style="color:#40b34f">SI</label>
                                            <label id="verChkConfigAgregarNombreSedeObservacionFactura_NO" style="color:#d81717">NO</label>
                                        </div>
                                        <h5 id="lblChkConfigAgregarNombreSedeObservacionFactura" style="width: 90%; font-size: 16px; margin-left: 45px; margin-top: -24px; font-weight:bold; cursor:pointer;">Agregar nombre de sede de dirección de entrega a observaciones de factura</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-lg-12">
                                    <div class="col-sm-12">
                                        <div class="onoffswitch">
                                            <label id="verChkConfigFacturacionCompleja_SI" style="color:#40b34f">SI</label>
                                            <label id="verChkConfigFacturacionCompleja_NO" style="color:#d81717">NO</label>
                                        </div>
                                        <h5 id="lblChkConfigFacturacionCompleja" style="width: 90%; font-size: 16px; margin-left: 45px; margin-top: -24px; font-weight:bold; cursor:pointer;">Facturación compleja</h5>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="msgBusquedaSinResultados" style="display:none;" class="col-lg-12">
                            <p class="pagination-centered" style=" font-size: medium" align="center">
                                No existen precios vigentes.
                            </p>
                        </div>


                </form>
            </div>

            <div class="modal-footer">
                <div class="pull-right">
                    <button type="button" id="btnCancelarVerCliente" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" id="btnEditarCliente" class="btn btn-primary ">Editar</button>
                </div>
            </div>

        </div>
    </div>
</div>



<!--MODAL IMPORTAR-->
<div class="modal fade" id="modalActualizarExcel" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modalActualizarExcel"><b>Actualizar clientes desde excel </b></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <p></p>
            </div>

            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="row">
                        <div class="col-sm-12 col-lg-12">
                            <div class="form-group">
                                <label for="numero" class="control-label col-xs-3">Subir Archivo:</label>
                                <div class="col-xs-9">
                                    <input id="fileUploadExcel" name="file" type="file" data-url-set-file="@Url.Action("UpdateByExcel", "Cliente")"
                                           class="btn btn-primary" data-max-size="2097152" data-max-size-text="2MB"
                                           accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button id="btnUpdateByExcel" type="button" class="btn btn-primary" data-dismiss="modal">Actualizar</button>
            </div>
        </div>
    </div>
</div>


<!--MODAL MOSTRAR PRECIOS-->
<div class="modal fade" id="modalMostrarPrecios" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modalMostrarPreciosTitle"><b>Precios Registrados en Facturación </b></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <p></p>
            </div>



            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="row">
                        <div class="col-sm-6 col-lg-8">
                            <div class="form-group">
                                <label for="numero" class="control-label col-xs-2">Producto:</label>
                                <div class="col-xs-10">
                                    <p class="form-control-static" id="verProducto"></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4">
                            <div class="form-group">
                                <label for="numero" class="control-label col-xs-4">Código:</label>
                                <div class="col-xs-8">
                                    <p class="form-control-static" id="verCodigoProducto"></p>
                                </div>
                            </div>
                        </div>

                    </div>

                    <table id="tableMostrarPrecios" class="table" data-editing="false"
                           data-editing-show-text='<span class="fooicon fooicon-pencil" aria-hidden="true"></span> Editar Detalle'
                           data-editing-allow-add="true"
                           data-editing-allow-delete="true"
                           data-editing-allow-edit="false"
                           data-sorting="true"
                           data-show-toggle="false"
                           data-editing-hide-text="Finalizar Edición Detalle"
                           data-editing-add-text="Descartar Cambios Detalle">
                        <thead>
                            <tr>
                                <th data-name="idProducto" data-visible="true">Número Cotización</th>
                                <th data-name="idProducto" data-visible="true">Fecha Inicio Vigencia</th>
                                <th data-name="idProducto" data-visible="true">Fecha Fin Vigencia</th>
                                <th data-name="idProducto" data-visible="true">Unidad</th>
                                <th data-name="idProducto" data-visible="true">Precio Neto</th>
                                <th data-name="idProducto" data-visible="true">Flete</th>
                                <th data-name="idProducto" data-visible="true">Precio Unitario</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="modalEdicionDireccionEntrega" tabindex="-1" role="dialog" aria-labelledby="modalEdicionDireccionEntregaTitle">
    <style scoped>
        /* provides a red astrix to denote required fields - this should be included in common stylesheet */
        .form-group.required .control-label:after {
            content: "*";
            color: red;
            margin-left: 4px;
        }
    </style>
    <div class="modal-dialog" role="document">
        <form class="modal-content form-horizontal" id="editorDireccionEntrega">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="modalEdicionDireccionEntregaTitle">Add Row</h4>
            </div>
            <div class="modal-body">
                <input id="idDireccionEntrega" name="idDireccionEntrega" class="hidden" />
                <input id="direccionEntrega_codigo" name="direccionEntrega_codigo" class="hidden" />
                <input id="direccionEntrega_cliente_ciudad_sede" name="direccionEntrega_cliente_ciudad_sede" class="hidden" />
                <!--  <input id="idCliente" name="idCliente" class="hidden" />-->


                <div class="form-group required">
                    @Html.LabelFor(p => direccionEntrega.cliente.ciudad, htmlAttributes: new { @class = "control-label col-sm-3", @for = "idCiudad" })
                    <div class="col-sm-9">
                        @Html.Action("GetCiudades", "Ciudad",
                       new
                       {
                           ciudadSelectId = "idCiudad",
                           selectedValue = ""
                       })
                    </div>
                </div>



                <div class="form-group required">
                    <label for="firstName" class="col-sm-3 control-label">Departamento</label>
                    <div class="col-sm-9">
                        @Html.Action("GetDepartamentos", "Ubigeo",
                        new
                        {
                        departamentoSelectId = "Departamento",
                        provinciaSelectId = "Provincia",
                        distritoSelectId = "Distrito",
                        provinciaDivId = "dvProvincias",
                        distritoDivId = "dvDistritos",
                        selectedValue = ""
                        })
                    </div>
                </div>
                <div class="form-group required">
                    <label for="lastName" class="col-sm-3 control-label">Provincia</label>
                    <div id="dvProvincias" class="col-sm-9">
                        @Html.Action("GetProvinciasPorDepartamento", "Ubigeo",
                        new
                        {
                        departamentoSelectId = "Departamento",
                        provinciaSelectId = "Provincia",
                        distritoSelectId = "Distrito",
                        distritoDivId = "dvDistritos",
                        codigoDepartamento = "",// pedido.ubigeoEntrega.Id.Substring(0, 2),
                            selectedValue = ""//pedido.ubigeoEntrega.Id.Substring(0, 4)
                        })
                    </div>
                </div>
                <div class="form-group required">
                    <label for="jobTitle" class="col-sm-3 control-label">Distrito</label>
                    <div id="dvDistritos" class="col-sm-9">
                        @Html.Action("GetDistritosPorProvincia", "Ubigeo", new
            {
                distritoSelectId = "Distrito",
                codigoDepartamento = "",// pedido.ubigeoEntrega.Id.Substring(0, 2),
                codigoProvincia = "",//pedido.ubigeoEntrega.Id.Substring(0, 4),
                selectedValue = "" //pedido.ubigeoEntrega.Id.Substring(0, 6)
            })
                    </div>
                </div>
                <div class="form-group required">
                    @Html.LabelFor(model => direccionEntrega.descripcion, new { @class = "control-label col-sm-3" })
                    <div class="col-sm-9">
                        @Html.TextBoxFor(p => direccionEntrega.descripcion, htmlAttributes: new { @class = "form-control" })
                        <!--<input type="text" class="form-control" id="direccionEntrega" name="direccionEntrega" placeholder="Avenida ...">-->
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => direccionEntrega.contacto, new { @class = "control-label col-sm-3" })
                    <div class="col-sm-9">
                        @Html.TextBoxFor(p => direccionEntrega.contacto, htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => direccionEntrega.telefono, new { @class = "control-label col-sm-3" })
                    <div class="col-sm-9">
                        @Html.TextBoxFor(p => direccionEntrega.telefono, htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => direccionEntrega.emailRecepcionFacturas, new { @class = "control-label col-sm-3" })
                    <div class="col-sm-9">
                        @Html.TextBoxFor(p => direccionEntrega.emailRecepcionFacturas, htmlAttributes: new { @class = "form-control" })
                        <span style="color:darkred">Si desea agregar varias direcciones de correo use ";" (Punto y coma) para separarlos.</span>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => direccionEntrega.codigoCliente, new { @class = "control-label col-sm-3" })
                    <div class="col-sm-9">
                        @Html.TextBoxFor(p => direccionEntrega.codigoCliente, htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => direccionEntrega.nombre, new { @class = "control-label col-sm-3" })
                    <div class="col-sm-9">
                        @Html.TextBoxFor(p => direccionEntrega.nombre, htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => direccionEntrega.domicilioLegal, new { @class = "control-label col-sm-3" })
                    <div class="col-sm-9">
                        <select class="form-control" id="direccionEntrega_idDomicilioLegal"></select>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" id="btnGuardarCambiosDireccionEntrega">Guardar Cambios</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>
        </form>
    </div>
</div>


<div class="modal fade" id="modalContactoCliente" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modalContactoCliente"><b>Formulario Contacto Cliente</b></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <p></p>
            </div>

            <div class="modal-body">
                <input id="clienteContacto_idClienteContacto" name="idClienteContacto" class="hidden" />
                <!--  <input id="idCliente" name="idCliente" class="hidden" />-->

                <div class="form-group row">
                    @Html.LabelFor(model => clienteContacto.nombre, new { @class = "control-label col-sm-3" })
                    <div class="col-sm-9">
                        @Html.TextBoxFor(p => clienteContacto.nombre, htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => clienteContacto.telefono, new { @class = "control-label col-sm-3" })
                    <div class="col-sm-9">
                        @Html.TextBoxFor(p => clienteContacto.telefono, htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => clienteContacto.correo, new { @class = "control-label col-sm-3" })
                    <div class="col-sm-9">
                        @Html.TextBoxFor(p => clienteContacto.correo, htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => clienteContacto.cargo, new { @class = "control-label col-sm-3" })
                    <div class="col-sm-9">
                        @Html.TextBoxFor(p => clienteContacto.cargo, htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => clienteContacto.tipos, new { @class = "control-label col-sm-3" })
                    <div class="col-sm-9">
                        <div class="row">
                            @foreach (Model.ClienteContactoTipo tipo in ViewBag.contactoTipos)
                            {
                                <div class="col-sm-6 col-xs-12">
                                    <label class="radio-label lblTipoClienteContacto" for="cliente_contacto_tipo_@tipo.idClienteContactoTipo.ToString()">
                                        <input type="checkbox" class="chk-cliente-contacto-tipo" name="cliente_contacto_tipos[]" id="cliente_contacto_tipo_@tipo.idClienteContactoTipo.ToString()" value="@tipo.idClienteContactoTipo.ToString()">
                                        <span>@tipo.nombre</span>
                                    </label>
                                </div>
                            }

                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-2">
                    </div>
                    <div class="col-sm-10">
                        <div class="onoffswitch">
                            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="chkClienteContactoAplicaRuc">
                            <label class="onoffswitch-label" for="chkClienteContactoAplicaRuc"></label>
                        </div>
                        <h5 id="lblChkClienteContactoAplicaRuc" for="chkClienteContactoAplicaRuc" style="width: 90%; font-size: 16px; margin-left: 45px; margin-top: -24px; font-weight:bold; cursor:pointer;">Visible para todas las sedes del cliente RUC</h5>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-2">
                    </div>
                    <div class="col-sm-10">
                        <div class="onoffswitch">
                            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="chkClienteContactoEsPrincipal">
                            <label class="onoffswitch-label" for="chkClienteContactoEsPrincipal"></label>
                        </div>
                        <h5 id="lblChkClienteContactoEsPrincipal" style="width: 90%; font-size: 16px; margin-left: 45px; margin-top: -24px; font-weight:bold; cursor:pointer;">Es contacto principal</h5>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" id="btnGuardarCambiosClienteContacto">Guardar Cambios</button>
                <button type="button" class="btn btn-default" id="btnCloseAgregarContacto">Cancelar</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modalVerHistorialReasignaciones" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modalVerHistorialReasignaciones"><b>Historial de Reasignaciones de <span id="historial_reasignaciones_tipo_vendedor"></span></b></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <p></p>
            </div>



            <div class="modal-body">
                <table id="tableHistorialReasignaciones" class="table" data-editing="false"
                       data-editing-allow-add="false"
                       data-editing-allow-delete="false"
                       data-editing-allow-edit="false"
                       data-show-toggle="false">
                    <thead>
                        <tr>
                            <th data-name="fechaInicioVigencia" data-sortable="false" data-breakpoints="xs">Inicio Vigencia</th>
                            <th data-name="vendedor" data-sortable="false" data-breakpoints="xs"><span id="spn_historial_reasignaciones_tipo_vendedor"></span></th>
                            <th data-name="fechaRegistro" data-sortable="false" data-breakpoints="xs">Fecha Registro</th>
                            <th data-name="usuario" data-sortable="false" data-breakpoints="xs">Usuario</th>
                            <th data-name="observacion" data-sortable="false" data-visible="true" data-breakpoints="xs">Observaciones</th>
                            @if (cliente.usuario.validaReponsablescomercialesAsignados)
                            {
                                <th></th>
                            }
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>

                <input type="hidden" id="puedeEditarRepsonableComercial" value="@cliente.usuario.validaReponsablescomercialesAsignados.ToString()" />
                @if (cliente.usuario.validaReponsablescomercialesAsignados)
                {
                    <div class="pull-right">
                        <button type="button" id="btnAgregarReasignacion" class="btn btn-primary">Agregar Reasignación</button>

                    </div>
                    <br />
                }
            </div>

            <div class="modal-footer">
                <div class="pull-right">
                    <button type="button" id="btnCloseHistorialReasignaciones" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>

            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="modalAgregarReasignacion" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modalAgregarReasignacion"><b>Agregar reasignación de <span id="spn_agregar_reasignacion_tipo_vendedor"></span></b></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <p></p>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="form-group" id="insertCHRResponsableComercial" style="display: none;">
                        @Html.LabelFor(c => cliente.responsableComercial, htmlAttributes: new { @class = "control-label col-xs-4", @for = "insertCHRIdResponsableComercial" })
                        <div class="col-xs-8">
                            @Html.Action("GetResponsablesComerciales", "Vendedor",
                            new
                            {
                                vendedorSelectId = "insertCHRIdResponsableComercial",
                                selectedValue = cliente.responsableComercial.idVendedor
                            })
                        </div>
                    </div>

                    <div class="form-group" id="insertCHRSupervisorComercial" style="display: none;">
                        @Html.LabelFor(c => cliente.supervisorComercial, htmlAttributes: new { @class = "control-label col-xs-4", @for = "insertCHRIdSupervisorComercial" })
                        <div class="col-xs-8">
                            @Html.Action("GetSupervisoresComerciales", "Vendedor",
                            new
                            {
                                vendedorSelectId = "insertCHRIdSupervisorComercial",
                                selectedValue = cliente.supervisorComercial.idVendedor,
                            })
                        </div>
                    </div>

                    <div class="form-group" id="insertCHRAsistenteServicioCliente" style="display: none;">
                        @Html.LabelFor(c => cliente.asistenteServicioCliente, htmlAttributes: new { @class = "control-label col-xs-4", @for = "insertCHRIdAsistenteServicioCliente" })
                        <div class="col-xs-8">
                            @Html.Action("GetAsistentesServicioCliente", "Vendedor",
                            new
                            {
                                vendedorSelectId = "insertCHRIdAsistenteServicioCliente",
                                selectedValue = cliente.asistenteServicioCliente.idVendedor,
                            })
                        </div>
                    </div>
                </div>

                <br />

                <div class="row">
                    <!--Fecha Inicio Vigencia-->
                    <label class="control-label col-xs-4" for="file">Inicio <br />Vigencia:</label>
                    <div class="col-xs-8">
                        <input class="form-control" type="text" id="insertCHRFechaInicioVigencia" name="insertCHRFechaInicioVigencia" readonly style="cursor:pointer;">
                    </div>
                </div>
                <div class="row">
                    <!--Observacion-->
                    <label class="control-label col-xs-4" for="file">Observación:</label>
                    <div class="col-xs-8">
                        <textarea class="form-control" name="insertCHRObservacionAsesor" id="insertCHRObservacionAsesor"></textarea>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <div class="pull-right">
                    <button type="button" id="btnCloseAgregarReasignacion" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" id="btnRegitrarReasignacion" class="btn btn-primary" data-dismiss="modal">Registrar</button>
                </div>

            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.RenderFormat("<script type=\"text/javascript\" src=\"{0}?nocache=" + TempData["ScriptVersion"] + "\"></script>", "~/bundles/cliente")
    @Scripts.RenderFormat("<script type=\"text/javascript\" src=\"{0}?nocache=" + TempData["ScriptVersion"] + "\"></script>", "~/Scripts/App/ubigeo.js")
}
