@{
    ViewBag.Title = "Reasignar Cartera de Clientes";
    Model.Cliente cliente = ViewBag.cliente;
    List<Model.Cliente> clientes = ViewBag.clientes;
}

<div class="page-header">
    <h3>@ViewBag.Title</h3>
</div>
<div class="container">
    <input type="hidden" id="pagina" value="@ViewBag.pagina" />

    <form action="/Cliente/ReasignarCartera" method="post" id="formReasignarCarteraClientes">
        <input id="inputDataReasignaciones" name="dataReasignaciones" type="hidden" value="" />
        <input type="hidden" id="fechaInicioVigencia" name="fechaInicioVigencia" value="@cliente.FechaInicioVigenciaDesc" />
        @foreach (Model.Cliente item in clientes)
        {
            <input type="hidden" id="idResignar_@item.idCliente.ToString()" name="idResignar_@item.idCliente.ToString()" class="input-reasignar-asesor" value=""
                   nombreCliente="(@item.codigo) @item.nombreCliente" nombreAsesor="@item.responsableComercial.codigoDescripcion" rucCliente="@item.ruc" ciudadCliente="@item.ciudad.nombre" nombreNuevoAsesor="" />
        }
    </form>
    <div class="row" style="margin-top: 10px;">
        <div class="col-xs-6 col-lg-4">
            <!--Fecha Inicio Vigencia-->
            <label class="control-label col-xs-3" for="kpiPeriodos">Responsable Comercial:</label>
            <div class="col-xs-9">
                @Html.Action("GetResponsablesComerciales", "Vendedor",
                new
                {
                    vendedorSelectId = "idResponsableComercial",
                    selectedValue = cliente.responsableComercial.idVendedor
                })
            </div>
        </div>

        <div class="col-xs-6 col-lg-4">
            <!--Fecha Inicio Vigencia-->
            <label class="control-label col-xs-3" for="kpiKpis">Sede:</label>
            <div class="col-xs-9">
                @Html.Action("GetCiudades", "Ciudad",
                new
                {
                    ciudadSelectId = "idCiudad",
                    selectedValue = cliente.ciudad.idCiudad
                })
            </div>
        </div>


        <div class="col-sm-6 col-lg-4">
            <div class="form-group">
                <div class="col-xs-4">
                    <label class="control-label">Subdistribuidor:</label>
                </div>
                <div class="col-xs-8">
                    <div class="row">
                        @if (cliente.esSubDistribuidor)
                        {
                            <input class="radio-input" checked type="checkbox" name="cliente_esSubDistribuidor" id="cliente_esSubdistribuidor" value="1">
                        }
                        else
                        {
                            <input class="radio-input" type="checkbox" name="cliente_esSubDistribuidor" id="cliente_esSubdistribuidor" value="1">
                        }
                        <label for="cliente_esSubdistribuidor" class="control-label">SI</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 10px;">
        <div class="col-sm-6 col-lg-4">
            <div class="form-group">
                @Html.LabelFor(c => cliente.grupoCliente, htmlAttributes: new { @class = "control-label col-xs-4" })
                <div class="col-xs-8">
                    @Html.Action("GetGruposCliente", "GrupoCliente",
                                new
                                {
                                    grupoClienteSelectId = "idGrupoCliente",
                                    selectedValue = cliente.grupoCliente.idGrupoCliente
                                })
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-lg-4">
            <div class="form-group">
                @Html.LabelFor(c => cliente.rubro, htmlAttributes: new { @class = "control-label col-xs-4 col-sm-4 col-lg-4", @for = "idRubroPadre" })
                <div class="col-xs-8 col-sm-8 col-lg-8">
                    @Html.Action("GetRubros", "Rubro",
                        new
                        {
                            rubroSelectId = "idRubroPadre",
                            selectedValue = cliente.rubro.padre == null ? 0 : cliente.rubro.padre.idRubro
                        })

                    @Html.Action("GetRubros", "Rubro",
                        new
                        {
                            rubroSelectId = "idRubro",
                            selectedValue = cliente.rubro.idRubro,
                            idPadre = cliente.rubro.padre == null ? -2 : cliente.rubro.padre.idRubro
                        })
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-lg-4">
            <div class="form-group">
                <div class="col-xs-4">
                    <label class="control-label">Canales:</label>
                </div>
                <div class="col-xs-8">
                    <div class="row">
                        @if (cliente.perteneceCanalLima)
                        {
                            <input class="radio-input" checked type="checkbox" name="cliente_perteneceCanalLima" id="cliente_CanalLima" value="1">
                        }
                        else
                        {
                            <input class="radio-input" type="checkbox" name="cliente_perteneceCanalLima" id="cliente_CanalLima" value="1">
                        }
                        <label for="cliente_CanalLima" class="control-label">Lima</label>
                    </div>
                    <div class="row">
                        @if (cliente.perteneceCanalProvincias)
                        {
                            <input class="radio-input" checked type="checkbox" name="cliente_perteneceCanalProvincias" id="cliente_CanalProvincias" value="1">
                        }
                        else
                        {
                            <input class="radio-input" type="checkbox" name="cliente_perteneceCanalProvincias" id="cliente_CanalProvincias" value="1">
                        }
                        <label for="cliente_CanalProvincias" class="control-label">Provincias</label>
                    </div>
                    <div class="row">
                        @if (cliente.perteneceCanalMultiregional)
                        {
                            <input class="radio-input" checked type="checkbox" name="cliente_perteneceCanalMultiregional" id="cliente_CanalMultireginal" value="1">
                        }
                        else
                        {
                            <input class="radio-input" type="checkbox" name="cliente_perteneceCanalMultiregional" id="cliente_CanalMultireginal" value="1">
                        }
                        <label for="cliente_CanalMultireginal" class="control-label">Multiregional</label>
                    </div>
                    <div class="row">
                        @if (cliente.perteneceCanalPCP)
                        {
                            <input class="radio-input" checked type="checkbox" name="cliente_perteneceCanalPCP" id="cliente_CanalPCP" value="1">
                        }
                        else
                        {
                            <input class="radio-input" type="checkbox" name="cliente_perteneceCanalPCP" id="cliente_CanalPCP" value="1">
                        }
                        <label for="cliente_CanalPCP" class="control-label">PCP</label>
                    </div>

                </div>
            </div>
        </div>
    </div>
    </div>

    <div class="row text-right" style="margin-bottom:10px; margin-right:0px">
        <button id="btnLimpiarBusquedaReasignacion" type="button" class="btn btn-primary  bouton-image botonClean">Limpiar</button>
        <button id="btnBusquedaReasignacion" type="button" class="btn btn-primary  bouton-image botonSearch">Buscar</button>
    </div>


    <div class="row">
        <div class="col-sm-12 col-lg-12">
            <table id="tableClientesReasignar" class="table" data-editing="false"
                   data-editing-allow-add="false"
                   data-editing-allow-delete="false"
                   data-editing-allow-edit="false"
                   data-sorting="true"
                   data-show-toggle="false">
                <thead>
                    <tr>
                        <th data-name="nombre" data-visible="true" data-sortable="true" data-sorted="true" data-direction="DESC">Razon Social / Nombre</th>
                        <th data-name="ciudad" data-visible="true" data-sortable="true">Sede</th>
                        <th data-name="rubro" data-visible="true" data-sortable="true">Rubro</th>
                        <th data-name="grupo" data-visible="true" data-sortable="true">Grupo</th>
                        <th data-name="subdistribuidor" data-visible="true" data-sortable="true">Sub<br />Distribuidor</th>
                        <th data-name="responsable" data-visible="true" data-sortable="true">Responsable<br />Comercial</th>
                        <th data-name="reasignar" data-sortable="false" data-breakpoints="xs">
                            Reasignar A:
                            @if (clientes.Count > 0)
                            {
                                @Html.Action("GetResponsablesComerciales", "Vendedor",
                                            new
                                            {
                                                vendedorSelectId = "idResignarGlobal"
                                            })
                            }
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Model.Cliente item in clientes)
                    {
                    <tr>
                        <td>(@item.codigo) @item.nombreCliente</td>
                        
                        <td>@item.ciudad.nombre</td>
                        <td>
                            @if (item.rubro.idRubro > 0)
                            {
                                @item.rubro.nombre
                            }
                            else
                            {
                                <span>-</span>
                            }
                        </td>
                        <td>
                            @if (item.grupoCliente.idGrupoCliente > 0)
                            {
                              <span>@item.grupoCliente.codigo - @item.grupoCliente.nombre</span>
                            }
                            else
                            {
                                <span>-</span>
                            }
                        </td>
                        <td>
                            @if (item.esSubDistribuidor)
                            {
                                <span>SI</span>
                            }
                            else
                            {
                                <span>-</span>
                            }
                        </td>
                        <td>@item.responsableComercial.codigoDescripcion</td>
                        <td class="td-reasignar-cartera-a">
                            @Html.Action("GetResponsablesComerciales", "Vendedor",
                                    new
                                    {
                                        vendedorSelectId = "idResignarSel_" + item.idCliente.ToString()
                                    })
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div class="row text-right" style="margin-bottom:10px; margin-right:0px">
        <button id="btnReasignarCartera" type="button" class="btn btn-success" data-toggle="modal" data-target="#modalConfirmarReasignacionClientes">Reasignar Clientes Cambiados</button>
    </div>
</div>

<div class="modal fade" id="modalConfirmarReasignacionClientes" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modalConfirmarReasignacionClientesTitle"><b>Confirmar Reasignación de Responsable Comercial de Clientes</b></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <p></p>
            </div>


            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6 col-lg-6">
                        <div class="form-group">
                            <label for="nuevoPrecio" class="control-label col-xs-6">Fecha Inicio Vigencia:</label>
                            <div class="col-xs-6">
                                <input class="form-control" type="text" id="fechaVigenciaSel">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-sm-12 col-lg-12" style="padding: 5px 35px;">
                    <h5 class="text-info">Se reasignarán los responsables comerciales de <span id="nroReasignacionesClientes"></span> clientes:</h5>
                </div>
            </div>

            <div class="row" style="padding: 10px 20px;">
                <div class="col-sm-12 col-lg-12" style="height: 450px;  overflow-y: scroll; ">
                    <input id="modalDataReasignaciones" type="hidden" value="" />
                    <table id="tableClientesConfirmarReasignar" class="table" data-editing="false"
                           data-editing-allow-add="false"
                           data-editing-allow-delete="false"
                           data-editing-allow-edit="false"
                           data-show-toggle="false">
                        <thead>
                            <tr>
                                <th data-name="nombre" data-visible="true" data-sortable="true" data-sorted="true" data-direction="DESC">Razon Social / Nombre</th>
                                <th data-name="ruc" data-visible="true" data-sortable="true">Nro. Documento</th>
                                <th data-name="ciudad" data-visible="true" data-sortable="true">Sede</th>
                                <th data-name="reasignar" data-sortable="true" data-breakpoints="xs">Reasignar A:</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" id="btnCancelConfirmarReasginarCartera" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" id="btnSaveConfirmarReasginarCartera" class="btn btn-primary">Registrar Reasignación Cartera</button>
            </div>
        </div>
    </div>
</div>



<script type="text/javascript">

    function funcionesPruebaReasignarCartera() {

        $("#fechaVigenciaSel").datepicker();

        setTimeout(function () {
            $("#idResignarGlobal").change(function () {
                //alert($("#idResignarGlobal").val());
                $(".td-reasignar-cartera-a select.form-control").val($("#idResignarGlobal").val());
                $(".input-reasignar-asesor").val($("#idResignarGlobal").val());
                $(".input-reasignar-asesor").attr("nombreNuevoAsesor", $("#idResignarGlobal option:selected").text());
                $("#idResignarGlobal").val("");
            });

        }, 1000);

        $('body').on('change', ".td-reasignar-cartera-a select.form-control", function () {
            var uuid = $(this).attr("name").replace("idResignarSel_", "");
            $("#idResignar_" + uuid).val($(this).val());
            $("#idResignar_" + uuid).attr("nombreNuevoAsesor", $("#idResignarSel_" + uuid + " option:selected").text());
        });

        $("#btnBusquedaReasignacion").click(function () {
            location.reload();
        });

        $("#btnReasignarCartera").click(function () {
            $("#fechaVigenciaSel").val($("#fechaInicioVigencia").val());
            $("#tableClientesConfirmarReasignar > tbody").empty();
            var reasignaciones = 0;
            var dataReasignaciones = "";
            $('.input-reasignar-asesor').each(function () {
                var idAsesor = parseInt($(this).val());

                if (idAsesor > 0) {
                    reasignaciones = reasignaciones + 1;
                    var dataRow = "|-*-|" + $(this).attr("nombreCliente") + "|*|" + $(this).attr("rucCliente") + "|*|" + $(this).attr("ciudadCliente")
                            + "|*|" + $(this).attr("nombreAsesor") + "|*|" + $(this).attr("nombreNuevoAsesor"); 
                    var itemRow = "<tr>" +
                        "<td>" + $(this).attr("nombreCliente") + "</td>" +
                        "<td>" + $(this).attr("rucCliente") + "</td>" +
                        "<td>" + $(this).attr("ciudadCliente") + "</td>" +
                        "<td>" + $(this).attr("nombreNuevoAsesor") + "</td>" +
                        "</tr>";
                    dataReasignaciones = dataReasignaciones + dataRow;
                    $("#tableClientesConfirmarReasignar").append(itemRow);
                }
            });

            $("#inputDataReasignaciones").val(dataReasignaciones);
            FooTable.init('#tableClientesConfirmarReasignar');

            $("#nroReasignacionesClientes").html(reasignaciones);
            
            if (reasignaciones <= 0) {
                setTimeout(function () {
                    $("#btnCancelConfirmarReasginarCartera").click();

                    $.alert({
                        title: 'Error de Validación',
                        content: "No se ha realizado la reasginación comercial de ningún cliente.",
                        type: 'orange',
                        buttons: {
                            OK: function () {
                            }
                        }
                    });
                }, 1000);
            }
        });

        $("#fechaVigenciaSel").change(function () {
            $("#fechaInicioVigencia").val($(this).val());
        });

        $(document).on('click', "#tableClientesReasignar a.footable-page-link, #tableClientesReasignar th[data-sortable='true']", function () {
            setTimeout(function () {
                $(".td-reasignar-cartera-a select.form-control").each(function () {
                    var uuid = $(this).attr("name").replace("idResignarSel_", "");
                    $(this).val($("#idResignar_" + uuid).val());
                });
            }, 500);
        });


        /*
        $("#btnLimpiarBusquedaReasignacion").click(function () {
            $.ajax({
                type: "POST",
                url: actionUrl,
                data: form.serialize(), // serializes the form's elements.
                success: function (data) {
                    $.alert({
                        title: 'Reasignación Exitosa',
                        content: "Se reasignaron los clientes correctamente.",
                        type: 'green',
                        buttons: {
                            OK: function () {
                                location.reload();
                            }
                        }
                    });
                }
            });
        });
        */

        $("#btnSaveConfirmarReasginarCartera").click(function () {
            var form = $("#formReasignarCarteraClientes");
            var actionUrl = form.attr('action');

            $('body').loadingModal({
                text: 'Registrando reasignaciones...'
            });
            $('body').loadingModal('show');


            $.ajax({
                type: "POST",
                url: actionUrl,
                data: form.serialize(), // serializes the form's elements.
                error: function (detalle) {
                    $('body').loadingModal('hide');
                },
                success: function (data) {
                    $('body').loadingModal('hide');

                    $.alert({
                        title: 'Reasignación Exitosa',
                        content: "Se reasignaron los clientes correctamente. Se descargó un excel con las reasignaciones realizadas.",
                        type: 'green',
                        buttons: {
                            OK: function () {
                                location.reload();
                            }
                        }
                    });

                    window.location.href = "/Cliente/ExportLastReasginacionCartera";
                }
            });
        });

    }
    if (window.addEventListener) // W3C standard
    {
        window.addEventListener('load', funcionesPruebaReasignarCartera, false); // NB **not** 'onload'
    }
    else if (window.attachEvent) // Microsoft
    {
        window.attachEvent('onload', funcionesPruebaReasignarCartera);
    }



</script>


@section Scripts {
    @Scripts.RenderFormat("<script type=\"text/javascript\" src=\"{0}?nocache=" + TempData["ScriptVersion"] + "\"></script>", "~/bundles/cliente")
}
