@{
    ViewBag.Title = "Registro/Edición de Ajuste de Almacén";
    Model.GuiaRemision ajuste = ViewBag.ajuste;
    List<Model.MotivoAjusteAlmacen> motivos = ViewBag.motivos;

    String disabledCierreStock = "";
    if (ajuste.idCierreStock != null && ajuste.idCierreStock != Guid.Empty)
    {
        disabledCierreStock = "disabled";
    }
}

<div class="page-header">
    <h3>@ViewBag.Title</h3>
</div>
<div class="container">
    <input type="hidden" id="pagina" value="@ViewBag.pagina" />

    <div class="row" style="min-height: 40px;">
        <!--SEDE-->
        <div class="col-sm-6 col-lg-4 col-xs-12">
            <div class="form-group">
                @Html.LabelFor(p => ajuste.ciudadOrigen, htmlAttributes: new { @class = "control-label col-xs-4", @for = "idCiudad" })
                <div class="col-xs-8">
                    @Html.Action("GetCiudades", "Ciudad",
                     new
                     {
                         ciudadSelectId = "idCiudad",
                         selectedValue = ajuste.ciudadOrigen.idCiudad,
                         disabled = disabledCierreStock
                     })
                </div>
            </div>
        </div>

        <!--TIPO MOVIMIENTO-->
        <div class="col-sm-6 col-lg-4 col-xs-12">
            <div class="form-group">
                <label for="tipoMovimiento" class="control-label col-xs-4">Tipo Ajuste:</label>
                <div class="col-xs-8">
                    <select id="tipoMovimiento" @disabledCierreStock class="form-control">
                        <option value="">Seleccione</option>
                        <option @(((char)ajuste.tipoMovimiento).ToString() == "S" ? "selected" : "") value="S">Pérdida</option>
                        <option @(((char)ajuste.tipoMovimiento).ToString() == "E" ? "selected" : "") value="E">Sobrante</option>
                    </select>
                </div>
            </div>
        </div>

        <!--MOTIVO AJUSTE-->
        <div class="col-sm-6 col-lg-4 col-xs-12">
            <div class="form-group">
                <label for="motivoAjuste" class="control-label col-xs-4">Motivo Ajuste:</label>
                <div class="col-xs-8">
                    <select id="motivoAjuste" @disabledCierreStock class="form-control">
                        <option value="">Seleccione</option>
                        @foreach (Model.MotivoAjusteAlmacen item in motivos)
                        {
                            string style = "";
                            if (((char)ajuste.tipoMovimiento).ToString() == "S" && item.tipo == 2) {
                                style = "display: none;";
                            }
                            if (((char)ajuste.tipoMovimiento).ToString() == "E" && item.tipo == 1)
                            {
                                style = "display: none;";
                            }
                            <option @(ajuste.motivoAjuste.idMotivoAjusteAlmacen == item.idMotivoAjusteAlmacen ? "selected" : "") style="@style" value="@item.idMotivoAjusteAlmacen" tipo="@item.tipo">@item.descripcion</option>
                        }
                    </select>
                </div>
            </div>
        </div>

    </div>

    <div class="row" style="margin-bottom: 20px;">
        <!--FECHA EMISION-->
        <div class="col-xs-12 col-sm-6 col-lg-4">
            <div class="form-group">
                <label for="fechaEmision" class="control-label col-xs-4">Fecha:</label>
                <div class="col-xs-8">
                    @if (DateTime.Compare(ajuste.fechaEmision, DateTime.Now.AddYears(-5)) < 0)
                    {
                        <input class="form-control" @disabledCierreStock type="text" value="" id="fechaEmision" name="fechaEmision">
                    }
                    else
                    {
                        <input class="form-control" @disabledCierreStock type="text" value="@ajuste.fechaEmision.ToString("dd/MM/yyyy")" id="fechaEmision" name="fechaEmision">
                    }
                </div>
            </div>
        </div>

        <!--OBSERVACIONES-->
        <div class="col-xs-12 col-sm-6 col-lg-8">
            <div class="form-group">
                <label for="observaciones" class="control-label col-xs-4 col-sm-4 col-lg-2">Observaciones:</label>
                <div class="col-xs-8 col-sm-8 col-lg-10">
                    <textarea class="form-control" id="observaciones" name="observaciones">@ajuste.observaciones</textarea>
                </div>
            </div>
        </div>

    </div>

    <div class="row pull-right" style="margin-bottom:10px; margin-right:0px">
        @if (ajuste.idCierreStock == null || ajuste.idCierreStock == Guid.Empty)
        {
            <button id="btnVerAgregarProducto" type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalAgregarProducto">Agregar Producto</button>
        }
    </div>


    <table id="tableProductosAjusteAlmacen" class="table" data-editing="false" data-paging="true" data-paging-count-format="{CP} de {TP}"
           data-editing-show-text='<span class="fooicon fooicon-pencil" aria-hidden="true"></span> Editar Detalle'
           data-editing-allow-add="false"
           data-editing-allow-delete="false"
           data-editing-allow-edit="false"
           data-sorting="true"
           data-show-toggle="false"
           data-editing-hide-text="Finalizar edición"
           data-editing-add-text="Descartar cambios">
        <thead>
            <tr>
                <th data-name="producto" data-visible="true" data-sortable="true">Producto</th>
                <th data-name="unidad" data-visible="true" data-sortable="true">Unidad</th>
                <th data-name="cantidad" data-visible="true" data-sortable="true">Cantidad</th>
                <th data-name="opciones" data-sortable="true" data-breakpoints="xs"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Model.DocumentoDetalle item in ajuste.documentoDetalle)
            {
                <tr>
                    <td>@item.producto.sku - @item.producto.descripcion</td>
                    <td>@item.unidad</td>
                    <td>@item.cantidad</td>
                    <td>
                        @if (ajuste.idCierreStock == null || ajuste.idCierreStock == Guid.Empty)
                        {
                            <button type="button" class="btn btn-danger btnEliminarAjusteDetalle" idProducto="@item.producto.idProducto">Quitar</button>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div class="row pull-right" style="margin-bottom:10px; margin-right:0px">
        <button id="btnCancelAjusteAlmacen" type="button" class="btn btn-danger">Cancelar</button>
        <button id="btnSaveAjusteAlmacen" type="button" class="btn btn-success">Guardar y Finalizar</button>
    </div>

    <!-- MODAL AGREGAR PRODUCTO -->
    <div class="modal fade" id="modalAgregarProducto" tabindex="-1">
        <!-- <div class="modal fade" id="modalAgregarProducto" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
           -->
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <!--CABECERA-->
                <div class="modal-header">
                    <h4 class="modal-title" id="modalAgregarProductoTitle"><b>Agregar Producto</b></h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <p></p>
                </div>


                <!--CUERPO-->
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="row">
                            <div class="col-sm-6 col-lg-6">
                                <!--PRODUCTO-->
                                <div class="form-group">
                                    <label for="producto" class="control-label col-xs-3">Producto:</label>
                                    <div class="col-xs-9">
                                        <select class="form-control" id="producto" name="producto">
                                            <option value=""></option>
                                        </select>
                                    </div>
                                </div>


                                <!--PRESENTACIÓN-->
                                <div class="form-group">
                                    <label for="unidad" class="control-label col-xs-3">Presentación:</label>
                                    <div class="col-xs-7">
                                        <select class="form-control" id="unidad" name="unidad"></select>
                                    </div>
                                    <div class="col-xs-2" style="margin-top: -2px;">
                                        <button id="btnStockUnidadAddProduct" type="button" title="Consultar Stock" class="verModalStockProducto btn" style="margin-bottom: 5px;">
                                            <img src="~/images/icon_stock.png" height="25" />
                                        </button>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="cantidad" class="control-label col-xs-3">Cantidad:</label>
                                    <div class="col-xs-9">
                                        <input class="form-control" type="number" value="" min="1" step="1" id="cantidad" name="cantidad">
                                    </div>

                                </div>

                                <div class="form-group" id="observacionProductoDiv">
                                    <label for="observacionProducto" class="control-label col-xs-3">Observaciones:</label>
                                    <div class="col-xs-9">
                                        <textarea rows="5" cols="35" id="observacionProducto" name="observacionProducto"> </textarea>
                                    </div>
                                </div>
                            </div>


                            <!--IMAGEN-->
                            <div class="col-sm-6 col-lg-6 ">
                                <div class="form-group modal-add-image" style="height:180px">
                                    <img id="imgProducto" src="/images/NoDisponible.gif">
                                </div>

                            </div>

                        </div>
                    </form>

                    <div class="row pull-right">
                        <span style="margin-right: 20px; color: red; font-weight: bold " class="has-error" id="resultadoAgregarProducto"></span>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" id="btnCancelAddProduct" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" id="btnAddProduct" class="btn btn-primary">Agregar</button>
                </div>
            </div>
        </div>
    </div>



    <script type="text/javascript">
        function funcionesPruebaRegistroAjuste() {

            $.datepicker.regional['es'] = {
                closeText: 'Cerrar',
                prevText: '< Ant',
                nextText: 'Sig >',
                currentText: 'Hoy',
                monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
                dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
                dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mié', 'Juv', 'Vie', 'Sáb'],
                dayNamesMin: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sá'],
                weekHeader: 'Sm',
                dateFormat: 'dd/mm/yy',
                firstDay: 1,
                isRTL: false,
                showMonthAfterYear: false,
                yearSuffix: ''
            };
            $.datepicker.setDefaults($.datepicker.regional['es']);

            $("#fechaEmision").datepicker();

            $("#tableProductosAjusteAlmacen").footable({
                "paging": {
                    "enabled": false
                }
            });


            $('#btnVerAgregarProducto').click(function () {
                var idCiudad = $("#idCiudad").val();

                if (idCiudad == "") {
                    $.alert({
                        title: "ERROR DE VALIDACIÓN",
                        content: 'Debe seleccionar una sede.',
                        type: 'orange',
                        buttons: {
                            OK: function () {
                                $("#btnCancelAddProduct").click();
                            }
                        }
                    });
                    return;
                }

                $("#btnStockUnidadAddProduct").attr('disabled', 'disabled');

                //Se limpia el mensaje de resultado de agregar producto
                $("#resultadoAgregarProducto").html("");

                //Se desactiva el boton de agregar producto
                desactivarBtnAddProduct();

                //Se limpian los campos
                limpiarCamposAgregarProductos();

                //Se agrega chosen al campo PRODUCTO
                $("#producto").chosen({ placeholder_text_single: "Seleccione el producto", no_results_text: "No se encontró Producto" });

                $("#producto").ajaxChosen({
                    dataType: "json",
                    type: "GET",
                    minTermLength: 5,
                    afterTypeDelay: 300,
                    allow_single_deselect: true,
                    cache: false,
                    url: "/Producto/Search"
                }, {
                    loadingImg: "Content/chosen/images/loading.gif"
                }, { placeholder_text_single: "Seleccione el producto", no_results_text: "No se encontró Producto" });

                $('#producto').val('').trigger('chosen:updated');
                $('#producto').val('').trigger('liszt:updated');

                $('#producto')
                    .find('option:first-child').prop('selected', true)
                    .end().trigger('chosen:updated');
            });


            $("#btnAddProduct").click(function () {
                //Se desactiva el boton mientras se agrega el producto
                desactivarBtnAddProduct();

                var cantidad = parseInt($("#cantidad").val());
                var idProductoPresentacion = Number($("#unidad").val());
                var esPrecioAlternativo = 0;
                if (idProductoPresentacion > 0)
                    esPrecioAlternativo = 1;

                var observacion = $("#observacionProducto").val();

                $.ajax({
                    url: "/AjusteAlmacen/AddProducto",
                    type: 'POST',
                    dataType: 'JSON',
                    data: {
                        cantidad: cantidad,
                        esPrecioAlternativo: esPrecioAlternativo,
                        idProductoPresentacion: idProductoPresentacion,
                        observacion: observacion
                    },
                    success: function (detalle) {
                        location.reload();
                    }, error: function (detalle) {
                        $("#resultadoAgregarProducto").html("Producto ya se encuentra en el detalle de la cotización.");
                    }
                });
            });

            $("#producto").change(function () {
                $("#resultadoAgregarProducto").html("");
                desactivarBtnAddProduct();
                $.ajax({
                    url: "/AjusteAlmacen/GetProducto",
                    type: 'POST',
                    dataType: 'JSON',
                    data: {
                        idProducto: $(this).val()
                    },
                    success: function (producto) {
                        $("#imgProducto").attr("src", "data:image/png;base64," + producto.image);
                        /*Temporalmente se permitirá trabajar en ambos modos hasta que se compruebe que no se presentan errores*/
                        var options = '<option value="0" selected>' + producto.unidad + '</option>';

                        for (var i = 0; i < producto.productoPresentacionList.length; i++) {
                            var reg = producto.productoPresentacionList[i];
                            options = options + "<option value='" + reg.IdProductoPresentacion + "'  precioUnitarioAlternativoSinIGV='" + reg.PrecioSinIGV + "' costoAlternativoSinIGV='" + reg.CostoSinIGV + "' >" + reg.Presentacion + "</option>";
                        }


                        $("#btnStockUnidadAddProduct").removeAttr("disabled");

                        //Limpieza de campos
                        $("#unidad").html(options);

                        var idCiudad = $("#ciudadOrigen").val();
                        $("#btnStockUnidadAddProduct").attr("sku", producto.sku);
                        $("#btnStockUnidadAddProduct").attr("idCiudad", idCiudad);
                        $("#btnStockUnidadAddProduct").attr("idProductoPresentacion", "0");

                        $("#cantidad").val(1);

                        //Activar Botón para agregar producto a la grilla
                        activarBtnAddProduct();
                    }
                });
            });

            $("#idCiudad").change(function () {
                var idCiudad = $("#idCiudad").val();

                $.ajax({
                    url: "/AjusteAlmacen/ChangeIdCiudad",
                    type: 'POST',
                    dataType: 'JSON',
                    data: {
                        idCiudad: idCiudad
                    },
                    error: function (detalle) {
                        alert('Debe eliminar los productos agregados antes de cambiar de Sede.');
                        location.reload();
                    },
                    success: function (ciudad) {
                    }
                });
            });
            setTimeout(function () {

            }, 1000);


            function activarBtnAddProduct() {
                $('#btnAddProduct').removeAttr('disabled');
            }

            function desactivarBtnAddProduct() {
                $("#btnAddProduct").attr('disabled', 'disabled');
            }

            function limpiarCamposAgregarProductos() {
                $("#unidad").html("");
                $("#imgProducto").attr("src", "/images/NoDisponible.gif");
                $('#observacionProducto').val("");
                $('#cantidad').val(1);

                //$("#tableMostrarPrecios > tbody").empty();
            }

            $("#tipoMovimiento").change(function () {
                $("#motivoAjuste").val("");
                $('#motivoAjuste option').show();
                if ($(this).val() == "S") {
                    $('#motivoAjuste option[tipo="2"]').hide();
                } else {
                    $('#motivoAjuste option[tipo="1"]').hide();
                }

                $.ajax({
                    url: "/AjusteAlmacen/ChangeTipoAjuste",
                    type: 'POST',
                    data: {
                        tipoMovimiento: $(this).val()
                    },
                    success: function () { }
                });
            });

            $("#motivoAjuste").change(function () {
                $.ajax({
                    url: "/AjusteAlmacen/ChangeIdMotivoAjuste",
                    type: 'POST',
                    data: {
                        idMotivoAjuste: $(this).val()
                    },
                    success: function () { }
                });
            });


            
            $("#observaciones").change(function () {
                changeInputString("observaciones", $(this).val());
            });

            $("#fechaEmision").change(function () {
                changeInputDate("fechaEmision", $(this).val());
            });

            function changeInputString(propiedad, valor) {
                $.ajax({
                    url: "/AjusteAlmacen/ChangeInputString",
                    type: 'POST',
                    data: {
                        propiedad: propiedad,
                        valor: valor
                    },
                    success: function () { }
                });
            }

            function changeInputInt(propiedad, valor) {
                $.ajax({
                    url: "/AjusteAlmacen/ChangeInputInt",
                    type: 'POST',
                    data: {
                        propiedad: propiedad,
                        valor: valor
                    },
                    success: function () { }
                });
            }

            function changeInputDate(propiedad, valor) {
                $.ajax({
                    url: "/AjusteAlmacen/ChangeInputDate",
                    type: 'POST',
                    data: {
                        propiedad: propiedad,
                        valor: valor
                    },
                    success: function () { }
                });
            }


            $(document).on('click', "#tableProductosAjusteAlmacen .btnEliminarAjusteDetalle", function () {
                var idProducto = $(this).attr("idProducto");

                $.ajax({
                    url: "/AjusteAlmacen/RemoverProducto",
                    type: 'POST',
                    data: {
                        idProducto: idProducto
                    },
                    success: function () {
                        location.reload();
                    }
                });
            });


            $("#btnSaveAjusteAlmacen").click(function () {
                var idCiudad = $("#idCiudad").val();
                if (idCiudad == "") {
                    $.alert({
                        title: "ERROR DE VALIDACIÓN",
                        content: 'Debe seleccionar una sede.',
                        type: 'orange',
                        buttons: {
                            OK: function () {
                            }
                        }
                    });
                    return;
                }

                var tipoMovimiento = $("#tipoMovimiento").val();
                if (tipoMovimiento == "") {
                    $.alert({
                        title: "ERROR DE VALIDACIÓN",
                        content: 'Debe seleccionar el tipo de ajuste.',
                        type: 'orange',
                        buttons: {
                            OK: function () {
                            }
                        }
                    });
                    return;
                }

                var motivoAjuste = $("#motivoAjuste").val();
                if (motivoAjuste == "") {
                    $.alert({
                        title: "ERROR DE VALIDACIÓN",
                        content: 'Debe seleccionar el motivo de ajuste.',
                        type: 'orange',
                        buttons: {
                            OK: function () {
                            }
                        }
                    });
                    return;
                }

                var fechaEmision = $("#fechaEmision").val();
                if (fechaEmision == "") {
                    $.alert({
                        title: "ERROR DE VALIDACIÓN",
                        content: 'Debe seleccionar una fecha de emisión.',
                        type: 'orange',
                        buttons: {
                            OK: function () {
                            }
                        }
                    });
                    return;
                }

                $('body').loadingModal({
                    text: 'Registrando Ajuste Almacén...'
                });
                $('body').loadingModal('show');

                $.ajax({
                    url: "/AjusteAlmacen/Create",
                    type: 'POST',
                    error: function (detalle) {
                        $('body').loadingModal('hide');
                        $.alert({
                            title: "ERROR",
                            content: 'Ocurrió un error al registrar el Ajuste.',
                            type: 'red',
                            buttons: {
                                OK: function () {
                                }
                            }
                        });
                    },
                    success: function (resultado) {
                        $('body').loadingModal('hide');
                        $.alert({
                            title: "REGISTRO EXITOSO",
                            content: 'El Ajuste se registró correctamente.',
                            type: 'green',
                            buttons: {
                                OK: function () {
                                    window.location = '/AjusteAlmacen/List';
                                }
                            }
                        });
                    }
                });
            });

        }
        if (window.addEventListener) // W3C standard
        {
            window.addEventListener('load', funcionesPruebaRegistroAjuste, false); // NB **not** 'onload'
        }
        else if (window.attachEvent) // Microsoft
        {
            window.attachEvent('onload', funcionesPruebaRegistroAjuste);
        }

    </script>

</div>


@section Scripts {
    @Scripts.RenderFormat("<script type=\"text/javascript\" src=\"{0}?nocache=" + TempData["ScriptVersion"] + "\"></script>", "~/bundles/archivoAdjunto")
}
