@{
    ViewBag.Title = "Registro/Edición de Ajuste de Almacén";
    Model.GuiaRemision ajuste = ViewBag.ajuste;
    List<Model.MotivoAjusteAlmacen> motivos = ViewBag.motivos;
}

<div class="page-header">
    <h3>@ViewBag.Title</h3>
</div>
<div class="container">
    <input type="hidden" id="pagina" value="@ViewBag.pagina" />

    <div class="row" style="min-height: 40px;">
        <!--SEDE-->
        <div class="col-sm-6 col-lg-4 col-xs-12">
            <div class="form-group">
                @Html.LabelFor(p => ajuste.ciudadOrigen, htmlAttributes: new { @class = "control-label col-xs-4", @for = "idCiudad" })
                <div class="col-xs-8">
                    @Html.Action("GetCiudades", "Ciudad",
                     new
                     {
                         ciudadSelectId = "idCiudad",
                         selectedValue = ajuste.ciudadOrigen.idCiudad
                     })
                </div>
            </div>
        </div>

        <!--TIPO MOVIMIENTO-->
        <div class="col-sm-6 col-lg-4 col-xs-12">
            <div class="form-group">
                <label for="tipoMovimiento" class="control-label col-xs-4">Tipo Ajuste:</label>
                <div class="col-xs-8">
                    <select id="tipoMovimiento" class="form-control">
                        <option>Seleccione</option>
                        <option @(((char)ajuste.tipoMovimiento).ToString() == "S" ? "selected" : "") value="S">Pérdida</option>
                        <option @(((char)ajuste.tipoMovimiento).ToString() == "E" ? "selected" : "") value="E">Sobrante</option>
                    </select>
                </div>
            </div>
        </div>

        <!--MOTIVO AJUSTE-->
        <div class="col-sm-6 col-lg-4 col-xs-12">
            <div class="form-group">
                <label for="motivoAjuste" class="control-label col-xs-4">Tipo Ajuste:</label>
                <div class="col-xs-8">
                    <select id="motivoAjuste" class="form-control">
                        <option>Seleccione</option>
                        @foreach (Model.MotivoAjusteAlmacen item in motivos)
                        {
                            <option @(ajuste.motivoAjuste.idMotivoAjusteAlmacen == item.idMotivoAjusteAlmacen ? "selected" : "") value="@item.idMotivoAjusteAlmacen" tipo="@item.tipo">@item.descripcion</option>
                        }
                    </select>
                </div>
            </div>
        </div>

    </div>

    <div class="row" style="margin-bottom: 20px;">
        <!--FECHA EMISION-->
        <div class="col-xs-12 col-sm-6 col-lg-4">
            <div class="form-group">
                <label for="fechaEmision" class="control-label col-xs-4">Fecha:</label>
                <div class="col-xs-8">
                    @if (DateTime.Compare(ajuste.fechaEmision, DateTime.Now.AddYears(-5)) < 0)
                    {
                        <input class="form-control" type="text" value="" id="fechaEmision" name="fechaEmision">
                    }
                    else
                    {
                        <input class="form-control" type="text" value="@ajuste.fechaEmision.ToString("dd/MM/yyyy")" id="fechaEmision" name="fechaEmision">
                    }
                </div>
            </div>
        </div>

        <!--OBSERVACIONES-->
        <div class="col-xs-12 col-sm-6 col-lg-8">
            <div class="form-group">
                <label for="observaciones" class="control-label col-xs-4 col-sm-4 col-lg-2">Observaciones:</label>
                <div class="col-xs-8 col-sm-8 col-lg-10">
                    <textarea class="form-control" id="observaciones" name="observaciones">@ajuste.observaciones</textarea>
                </div>
            </div>
        </div>

    </div>

    <div class="row pull-right" style="margin-bottom:10px; margin-right:0px">
        <button id="btnVerAgregarProducto" type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalAgregarProducto">Agregar Producto</button>
    </div>


    <table id="tableProductosAjusteAlmacen" class="table" data-editing="false" data-paging="true" data-paging-count-format="{CP} de {TP}"
           data-editing-show-text='<span class="fooicon fooicon-pencil" aria-hidden="true"></span> Editar Detalle'
           data-editing-allow-add="false"
           data-editing-allow-delete="false"
           data-editing-allow-edit="false"
           data-sorting="true"
           data-show-toggle="false"
           data-editing-hide-text="Finalizar edición"
           data-editing-add-text="Descartar cambios">
        <thead>
            <tr>
                <th data-name="producto" data-visible="true" data-sortable="true">Producto</th>
                <th data-name="unidad" data-visible="true" data-sortable="true">Unidad</th>
                <th data-name="cantidad" data-visible="true" data-sortable="true">Cantidad</th>
                <th data-name="opciones" data-sortable="true" data-breakpoints="xs"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Model.DocumentoDetalle item in ajuste.documentoDetalle)
            {
                <tr>
                    <td>@item.producto.sku - @item.producto.descripcion</td>
                    <td>@item.unidad</td>
                    <td>@item.cantidad</td>
                    <td>
                        <button type="button" class="btn btn-primary btnEditarAjusteDetalle" idProducto="@item.producto.idProducto">Editar</button>&nbsp;&nbsp;
                        <button type="button" class="btn btn-danger btnEliminarAjusteDetalle" idProducto="@item.producto.idProducto">Eliminar</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>


    <!-- MODAL AGREGAR PRODUCTO -->
    <div class="modal fade" id="modalAgregarProducto" tabindex="-1">
        <!-- <div class="modal fade" id="modalAgregarProducto" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
           -->
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <!--CABECERA-->
                <div class="modal-header">
                    <h4 class="modal-title" id="modalAgregarProductoTitle"><b>Agregar Producto</b></h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <p></p>
                </div>


                <!--CUERPO-->
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="row">
                            <div class="col-sm-6 col-lg-6">
                                <!--PRODUCTO-->
                                <div class="form-group">
                                    <label for="producto" class="control-label col-xs-3">Producto:</label>
                                    <div class="col-xs-9">
                                        <select class="form-control" id="producto" name="producto">
                                            <option value=""></option>
                                        </select>
                                    </div>
                                </div>


                                <!--PRESENTACIÓN-->
                                <div class="form-group">
                                    <label for="unidad" class="control-label col-xs-3">Presentación:</label>
                                    <div class="col-xs-7">
                                        <select class="form-control" id="unidad" name="unidad"></select>
                                    </div>
                                    <div class="col-xs-2" style="margin-top: -2px;">
                                        <button id="btnStockUnidadAddProduct" type="button" title="Consultar Stock" class="verModalStockProducto btn" style="margin-bottom: 5px;">
                                            <img src="~/images/icon_stock.png" height="25" />
                                        </button>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="cantidad" class="control-label col-xs-3">Cantidad:</label>
                                    <div class="col-xs-9">
                                        <input class="form-control" type="number" value="" min="1" step="1" id="cantidad" name="cantidad">
                                    </div>

                                </div>

                                <div class="form-group" id="observacionProductoDiv">
                                    <label for="observacionProducto" class="control-label col-xs-3">Observaciones:</label>
                                    <div class="col-xs-9">
                                        <textarea rows="5" cols="35" id="observacionProducto" name="observacionProducto"> </textarea>
                                    </div>
                                </div>
                            </div>


                            <!--IMAGEN-->
                            <div class="col-sm-6 col-lg-6 ">
                                <div class="form-group modal-add-image" style="height:180px">
                                    <img id="imgProducto" src="/images/NoDisponible.gif">
                                </div>

                            </div>

                        </div>
                    </form>

                    <div class="row pull-right">
                        <span style="margin-right: 20px; color: red; font-weight: bold " class="has-error" id="resultadoAgregarProducto"></span>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" id="btnCancelAddProduct" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" id="btnAddProduct" class="btn btn-primary">Agregar</button>
                </div>
            </div>
        </div>
    </div>



    <script type="text/javascript">
        function funcionesPruebaRegistroAjuste() {

            $.datepicker.regional['es'] = {
                closeText: 'Cerrar',
                prevText: '< Ant',
                nextText: 'Sig >',
                currentText: 'Hoy',
                monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
                dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
                dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mié', 'Juv', 'Vie', 'Sáb'],
                dayNamesMin: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sá'],
                weekHeader: 'Sm',
                dateFormat: 'dd/mm/yy',
                firstDay: 1,
                isRTL: false,
                showMonthAfterYear: false,
                yearSuffix: ''
            };
            $.datepicker.setDefaults($.datepicker.regional['es']);

            $("#fechaEmision").datepicker();

            $("#tableProductosAjusteAlmacen").footable({
                "paging": {
                    "enabled": true
                }
            });


            $('#btnVerAgregarProducto').click(function () {
                $("#btnStockUnidadAddProduct").attr('disabled', 'disabled');
                
                //Se limpia el mensaje de resultado de agregar producto
                $("#resultadoAgregarProducto").html("");

                //Se desactiva el boton de agregar producto
                desactivarBtnAddProduct();

                //Se limpian los campos
                limpiarCamposAgregarProductos();

                //Se agrega chosen al campo PRODUCTO
                $("#producto").chosen({ placeholder_text_single: "Seleccione el producto", no_results_text: "No se encontró Producto" });

                $("#producto").ajaxChosen({
                    dataType: "json",
                    type: "GET",
                    minTermLength: 5,
                    afterTypeDelay: 300,
                    allow_single_deselect: true,
                    cache: false,
                    url: "/Producto/Search"
                }, {
                    loadingImg: "Content/chosen/images/loading.gif"
                }, { placeholder_text_single: "Seleccione el producto", no_results_text: "No se encontró Producto" });

                $('#producto').val('').trigger('chosen:updated');
                $('#producto').val('').trigger('liszt:updated');

                $('#producto')
                    .find('option:first-child').prop('selected', true)
                    .end().trigger('chosen:updated');
            });

            setTimeout(function () {

            }, 1000);

            $('body').on('change', ".td-reasignar-cartera-a select.form-control", function () {
                var uuid = $(this).attr("name").replace("idResignarSel_", "");
                $("#idResignar_" + uuid).val($(this).val());
                $("#idResignar_" + uuid).attr("nombreNuevoAsesor", $("#idResignarSel_" + uuid + " option:selected").text());
            });

            function activarBtnAddProduct() {
                $('#btnAddProduct').removeAttr('disabled');
            }

            function desactivarBtnAddProduct() {
                $("#btnAddProduct").attr('disabled', 'disabled');
            }

            function limpiarCamposAgregarProductos() {
                $("#unidad").html("");
                $("#imgProducto").attr("src", "/images/NoDisponible.gif");
                $('#observacionProducto').val("");
                $('#cantidad').val(1);

                //$("#tableMostrarPrecios > tbody").empty();
            }

            $("#tipoMovimiento").change(function () {
                $("#motivoAjuste").val("");
                $('#motivoAjuste option').show();
                if ($(this).val() == "S") {
                    $('#motivoAjuste option[tipo="2"]').hide();
                } else {
                    $('#motivoAjuste option[tipo="1"]').hide();
                }
            });



            $("#btnAgregarDetalle").click(function () {
                $("#fechaVigenciaSel").val($("#fechaInicioVigencia").val());
                $("#tableClientesConfirmarReasignar > tbody").empty();
                var reasignaciones = 0;
                $('.input-reasignar-asesor').each(function () {
                    var idAsesor = parseInt($(this).val());

                    if (idAsesor > 0) {
                        reasignaciones = reasignaciones + 1;
                        var itemRow = "<tr>" +
                            "<td>" + $(this).attr("nombreCliente") + "</td>" +
                            "<td>" + $(this).attr("rucCliente") + "</td>" +
                            "<td>" + $(this).attr("ciudadCliente") + "</td>" +
                            "<td>" + $(this).attr("nombreNuevoAsesor") + "</td>" +
                            "</tr>";

                        $("#tableClientesConfirmarReasignar").append(itemRow);
                    }
                });

                FooTable.init('#tableClientesConfirmarReasignar');

                $("#nroReasignacionesClientes").html(reasignaciones);

                if (reasignaciones <= 0) {
                    setTimeout(function () {
                        $("#btnCancelConfirmarReasginarCartera").click();

                        $.alert({
                            title: 'Error de Validación',
                            content: "No se ha realizado la reasginación comercial de ningún cliente.",
                            type: 'orange',
                            buttons: {
                                OK: function () {
                                }
                            }
                        });
                    }, 1000);
                }
            });


            $(document).on('click', "#tableClientesReasignar a.footable-page-link", function () {
                setTimeout(function () {
                    $(".td-reasignar-cartera-a select.form-control").each(function () {
                        var uuid = $(this).attr("name").replace("idResignarSel_", "");
                        $(this).val($("#idResignar_" + uuid).val());
                    });
                }, 500);
            });

            $("#btnSaveConfirmarReasginarCartera").click(function () {
                var form = $("#formReasignarCarteraClientes");
                var actionUrl = form.attr('action');

                $('body').loadingModal({
                    text: 'Registrando reasignaciones...'
                });
                $('body').loadingModal('show');


                $.ajax({
                    type: "POST",
                    url: actionUrl,
                    data: form.serialize(), // serializes the form's elements.
                    error: function (detalle) {
                        $('body').loadingModal('hide');
                    },
                    success: function (data) {
                        $('body').loadingModal('hide');
                        $.alert({
                            title: 'Reasignación Exitosa',
                            content: "Se reasignaron los clientes correctamente.",
                            type: 'green',
                            buttons: {
                                OK: function () {
                                    location.reload();
                                }
                            }
                        });
                    }
                });
            });

        }
        if (window.addEventListener) // W3C standard
        {
            window.addEventListener('load', funcionesPruebaRegistroAjuste, false); // NB **not** 'onload'
        }
        else if (window.attachEvent) // Microsoft
        {
            window.attachEvent('onload', funcionesPruebaRegistroAjuste);
        }

    </script>

</div>


@section Scripts {
    @Scripts.RenderFormat("<script type=\"text/javascript\" src=\"{0}?nocache=" + TempData["ScriptVersion"] + "\"></script>", "~/bundles/archivoAdjunto")
}
