@{
    ViewBag.Title = "Búsqueda de Ajustes de Stock de Almacén";
    Model.GuiaRemision ajuste = ViewBag.objSearch;
    List<Model.MotivoAjusteAlmacen> motivos = ViewBag.motivos;

}

<div class="page-header">
    <h3>@ViewBag.Title</h3>
</div>
<div class="container">
    <input type="hidden" id="idUsuario" value="" />
    <input type="hidden" id="pagina" value="@ViewBag.pagina" />

    <form class="form-horizontal">

        <div class="row" style="min-height: 40px;">
            <!--SEDE-->
            <div class="col-sm-6 col-lg-4 col-xs-12">
                <div class="form-group">
                    @Html.LabelFor(p => ajuste.ciudadOrigen, htmlAttributes: new { @class = "control-label col-xs-4", @for = "idCiudad" })
                    <div class="col-xs-8">
                        @Html.Action("GetCiudades", "Ciudad",
                         new
                         {
                             ciudadSelectId = "idCiudad",
                             selectedValue = ajuste.ciudadOrigen.idCiudad
                         })
                    </div>
                </div>
            </div>

            <!--TIPO MOVIMIENTO-->
            <div class="col-sm-6 col-lg-4 col-xs-12">
                <div class="form-group">
                    <label for="tipoMovimiento" class="control-label col-xs-4">Tipo Ajuste:</label>
                    <div class="col-xs-8">
                        <select id="tipoMovimiento" class="form-control">
                            <option @(((char)ajuste.tipoMovimiento).ToString() == "S" ? "selected" : "") value="S">Pérdida</option>
                            <option @(((char)ajuste.tipoMovimiento).ToString() == "E" ? "selected" : "") value="E">Sobrante</option>
                        </select>
                    </div>
                </div>
            </div>

            <!--MOTIVO AJUSTE-->
            <div class="col-sm-6 col-lg-4 col-xs-12">
                <div class="form-group">
                    <label for="motivoAjuste" class="control-label col-xs-4">Motivo Ajuste:</label>
                    <div class="col-xs-8">
                        <select id="motivoAjuste" class="form-control">
                            <option value="">Seleccione</option>
                            @foreach (Model.MotivoAjusteAlmacen item in motivos)
                            {
                                string style = "";
                                if (((char)ajuste.tipoMovimiento).ToString() == "S" && item.tipo == 2)
                                {
                                    style = "display: none;";
                                }
                                if (((char)ajuste.tipoMovimiento).ToString() == "E" && item.tipo == 1)
                                {
                                    style = "display: none;";
                                }
                                <option @(ajuste.motivoAjuste.idMotivoAjusteAlmacen == item.idMotivoAjusteAlmacen ? "selected" : "") style="@style" value="@item.idMotivoAjusteAlmacen" tipo="@item.tipo">@item.descripcion</option>
                            }
                        </select>
                    </div>
                </div>
            </div>

        </div>

        <div class="row" style="margin-bottom: 20px;">
            <!--FECHA EMISION DESDE-->
            <div class="col-xs-12 col-sm-6 col-lg-4">
                <div class="form-group">
                    <label for="fechaEmisionDesde" class="control-label col-xs-4">Fecha Desde:</label>
                    <div class="col-xs-8">
                        <input class="form-control" type="text" value="@ajuste.fechaEmisionDesde.ToString("dd/MM/yyyy")" id="fechaEmisionDesde">
                    </div>
                </div>
            </div>

            <!--FECHA EMISION HASTA-->
            <div class="col-xs-12 col-sm-6 col-lg-4">
                <div class="form-group">
                    <label for="fechaEmisionHasta" class="control-label col-xs-4">Fecha Hasta:</label>
                    <div class="col-xs-8">
                        <input class="form-control" type="text" value="@ajuste.fechaEmisionHasta.ToString("dd/MM/yyyy")" id="fechaEmisionHasta">
                    </div>
                </div>
            </div>

            <!-- Estado Ajuste-->
            <div class="col-xs-12 col-sm-6 col-lg-4">
                <div class="form-group">
                    <label for="ajusteAprobado" class="control-label col-xs-4">Estado Ajuste:</label>
                    <div class="col-xs-8">
                        <select id="ajusteAprobado" class="form-control">
                            <option @(ajuste.ajusteAprobado == -1 ? "selected" : "") value="-1">Todos</option>
                            <option @(ajuste.ajusteAprobado == 1 ? "selected" : "") value="1">Aprobado</option>
                            <option @(ajuste.ajusteAprobado == 0 ? "selected" : "") value="0">Pendiente Aprobación</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="row pull-right" style="margin-bottom:10px; margin-right:0px">
            <button id="btnLimpiarBusqueda" type="button" class="btn btn-primary  bouton-image botonClean">Limpiar</button>
            <button id="btnBusqueda" type="button" class="btn btn-primary  bouton-image botonSearch">Buscar</button>
        </div>

        @*<div id="divExportButton" class="row pull-left" style="margin-bottom:10px; margin-left:0px; display: none;">
                <button id="btnExportExcel" type="button" class="btn btn-primary  bouton-image botonExcel" actionLink="@Url.Action("ExportLastSearchExcel", "Usuario")">Exportar</button>
            </div>*@

        <table id="tableAjustesAlmacen" class="table" data-editing="false" data-paging="true" data-paging-count-format="{CP} de {TP}"
               data-editing-show-text='<span class="fooicon fooicon-pencil" aria-hidden="true"></span> Editar Detalle'
               data-editing-allow-add="false"
               data-editing-allow-delete="false"
               data-editing-allow-edit="false"
               data-sorting="true"
               data-show-toggle="false"
               data-editing-hide-text="Finalizar edición"
               data-editing-add-text="Descartar cambios">
            <thead>
                <tr>
                    <th data-name="sede" data-visible="true">Sede</th>
                    <th data-name="fecha" data-visible="true">Fecha</th>
                    <th data-name="estado" data-visible="true">Estado</th>
                    <th data-name="fechaRegistro" data-visible="true" data-sortable="true">Fecha Registro</th>
                    <th data-name="usuarioRegistro" data-visible="true" data-sortable="true">Registrado Por</th>
                    <th data-name="motivo" data-visible="true">Motivo</th>
                    <th data-name="opciones" data-sortable="true" data-breakpoints="xs"></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </form>
</div>




<div class="modal fade" id="modalVerAjusteAlmacen" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modalVerAjusteAlmacen"><b>Información de Ajuste de Almacén</b></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <p></p>
            </div>



            <div class="modal-body">
                <form class="form-horizontal">
                    <!--Sede-->
                    <div class="row">
                        <!--SEDE MP-->
                        <div class="col-sm-6 col-lg-4">
                            <div class="form-group">
                                @Html.LabelFor(g => ajuste.ciudadOrigen, htmlAttributes: new { @class = "control-label col-xs-4", @for = "idCiudad" })
                                <div class="col-xs-8">
                                    <p class="form-control-static" id="ver_ajusteAlmacen_ciudadOrigen_nombre"></p>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-lg-4">
                            <div class="form-group">
                                @Html.LabelFor(g => ajuste.fechaEmision, htmlAttributes: new { @class = "control-label col-xs-4" })
                                <div class="col-xs-8">
                                    <p class="form-control-static" id="ver_ajusteAlmacen_fechaEmision"></p>
                                </div>
                            </div>
                        </div>

                        
                    </div>

                    <div class="row">
                        <div class="col-sm-6 col-lg-4">
                            <div class="form-group">
                                <label for="ver_ajusteAlmacen_tipo" class="control-label col-xs-4">Tipo:</label>
                                <div class="col-xs-8">
                                    <p class="form-control-static" id="ver_ajusteAlmacen_tipo"></p>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-lg-4">
                            <div class="form-group">
                                <label for="ver_ajusteAlmacen_motivo" class="control-label col-xs-4">Motivo:</label>
                                <div class="col-xs-8">
                                    <p class="form-control-static" id="ver_ajusteAlmacen_motivo"></p>
                                </div>
                            </div>
                        </div>


                        <div class="col-sm-6 col-lg-4">
                            <div class="form-group">
                                <label for="ver_ajusteAlmacen_estadoDescripcion" class="control-label col-xs-4">Estado:</label>
                                <div class="col-xs-8">
                                    <p class="form-control-static" id="ver_ajusteAlmacen_estadoDescripcion"></p>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-sm-6 col-lg-4">
                            <div class="form-group">
                                <label for="ver_ajusteAlmacen_tipo" class="control-label col-xs-4">Registrado Por:</label>
                                <div class="col-xs-8">
                                    <p class="form-control-static" id="ver_ajusteAlmacen_registradoPor"></p>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-lg-4">
                            <div class="form-group">
                                <label for="ver_ajusteAlmacen_fechaRegistro" class="control-label col-xs-4">Fecha y Hora Registro:</label>
                                <div class="col-xs-8">
                                    <p class="form-control-static" id="ver_ajusteAlmacen_fechaRegistro"></p>
                                </div>
                            </div>
                        </div>

                    </div>

                    <table id="tableDetalleAjusteAlmacen" class="table" data-editing="false">
                        <thead>
                            <tr>
                                <th data-name="producto" data-visible="true" data-sortable="true">Producto</th>
                                <th data-name="unidad" data-visible="true" data-sortable="true">Unidad</th>
                                <th data-name="cantidad" data-visible="true" data-sortable="true">Cantidad</th>
                                <th data-name="opciones" data-sortable="true" data-breakpoints="xs"></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>

                    <div class="row">
                        <div class="col-sm-6 col-lg-8">
                            <!--Dirección Destino-->
                            <div class="form-group">
                                <label for="ver_ajusteAlmacen_observaciones" class="control-label col-xs-3">Observaciones:</label>
                                <div class="col-xs-9">
                                    <p class="form-control-static" id="ver_ajusteAlmacen_observaciones"></p>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </div>

            <div class="modal-footer">

                <div class="pull-right">
                    <button type="button" id="btnCancelarVerAjusteAlmacen" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                   
                    @if (ajuste.usuario.apruebaAjusteStock)
                    {
                        <button type="button" id="btnAprobarAjusteAlmacen" class="btn btn-warning">Aprobar</button>
                    }
                </div>
            </div>
        </div>
    </div>
</div>




@section Scripts {
    @Scripts.RenderFormat("<script type=\"text/javascript\" src=\"{0}?nocache=" + TempData["ScriptVersion"] + "\"></script>", "~/bundles/ajusteAlmacen")
}
