@{
    ViewBag.Title = "Reporte de Productos Pendientes Atención";


    Cotizador.Models.OBJsFiltro.ReportePendientesAtencionFiltro item = ViewBag.filtros;
    List<Model.UTILES.FilaProductoPendienteAtencion> resultados = ViewBag.resultados;

}

<div class="page-header">
    <h3>@ViewBag.Title</h3>
</div>
<div class="container">
    <input type="hidden" id="pagina" value="@ViewBag.pagina" />

    <form class="form-horizontal" method="post">
        <div class="row" style="margin-top: 10px;">
            <div class="col-sm-4 col-lg-4">
                <!--Fecha Entrega-->
                <div class="form-group">
                    <label class="control-label col-xs-4" for="skuProducto">SKU:</label>
                    <div class="col-xs-8">
                        <input class="form-control" type="text" id="skuProducto" name="skuProducto" value="@item.sku">
                    </div>
                </div>
            </div>

            <div class="col-sm-4 col-lg-4">
                <!--Proveedor-->
                <div class="form-group">
                    <label class="control-label col-xs-4" for="proveedor">Proveedor:</label>
                    <div class="col-xs-8">
                        <div>
                            @Html.Action("list", "Proveedor")
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 col-lg-4">
                <!--Familia-->
                <div class="form-group">
                    <label class="control-label col-xs-4" for="familia">Familia:</label>
                    <div class="col-xs-8">
                        <div>
                            @Html.Action("list", "Familia")
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-8 col-lg-8">
                <div class="form-group">
                    <!--Fecha Inicio Vigencia-->
                    <label class="control-label col-xs-2" for="fechaInicio">Rango Fecha Entrega:</label>
                    <div class="col-xs-10">
                        <input class="form-control" type="text" id="fechaInicio" name="fechaInicio" autocomplete="off" value="@item.fechaEntregaInicio.ToString("dd/MM/yyyy")" style="width:120px; display: inline-block;">
                        <b> - </b>
                        <input class="form-control" type="text" id="fechaFin" name="fechaFin" autocomplete="off" value="@item.fechaEntregaFin.ToString("dd/MM/yyyy")" style="width:120px; display: inline-block;">
                    </div>
                </div>
            </div>
        </div>

        <div class="row pull-right" style="margin-top: 20px; margin-bottom: 10px; margin-right: 0px">
            <button id="btnLimpiarFormulario" type="button" class="btn btn-primary  bouton-image botonClean">Limpiar</button>
            <button id="btnSearchRepPPA" type="submit" class="btn btn-success">Buscar</button>
        </div>

    </form>

    <div class="row">
        <div class="col-sm-6 col-lg-4">

        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-lg-12 tableFixHead">
            <table id="tableProductosPendientesAtencion" class="table table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>SKU</th>
                        <th>NOMBRE PRODUCTO</th>
                        <th>FAMILIA</th>
                        <th>PROVEEDOR</th>
                        <th>UNIDAD</th>
                        <th>STOCK PENDIENTE ATENCIÓN</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(Model.UTILES.FilaProductoPendienteAtencion fila in resultados)
                    {
                    <tr>
                        <td>@fila.sku</td>
                        <td>@fila.nombreProducto</td>
                        <td>@fila.familia</td>
                        <td>@fila.proveedor</td>
                        <td>@fila.unidad</td>
                        <td>@fila.cpMp</td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

        
</div>

<script type="text/javascript">


    function funcionesModalProductosPendientesAtencion() {
        $.datepicker.regional['es'] = {
            closeText: 'Cerrar',
            prevText: '< Ant',
            nextText: 'Sig >',
            currentText: 'Hoy',
            monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
            monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
            dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
            dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mié', 'Juv', 'Vie', 'Sáb'],
            dayNamesMin: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sá'],
            weekHeader: 'Sm',
            dateFormat: 'dd/mm/yy',
            firstDay: 1,
            isRTL: false,
            showMonthAfterYear: false,
            yearSuffix: ''
        };
        $.datepicker.setDefaults($.datepicker.regional['es']);

        $("#fechaInicio").datepicker({ dateFormat: "dd/mm/yy" });
        $("#fechaFin").datepicker({ dateFormat: "dd/mm/yy" });


        $(document).on('click', "#btnLimpiarFormulario", function () {
            
        });

        $("#skuProducto").change(function () {
            var valor = $(this).val();
            changeInputFiltro("sku", valor, "string");
        });

        $("#proveedor").change(function () {
            var valor = $(this).val();
            changeInputFiltro("proveedor", valor, "string");
        });

        $("#familia").change(function () {
            var valor = $(this).val();
            changeInputFiltro("familia", valor, "string");
        });

        $("#fechaInicio").change(function () {
            var valor = $(this).val();
            changeInputFiltro("fechaEntregaInicio", valor, "date");
        });

        $("#fechaFin").change(function () {
            var valor = $(this).val();
            changeInputFiltro("fechaEntregaFin", valor, "date");
        });

        function changeInputFiltro(propiedad, valor, tipo) {
            $.ajax({
                url: "/Reporte/changeFiltroProductosPendienteAtencion",
                type: 'POST',
                data: {
                    tipo: tipo,
                    propiedad: propiedad,
                    valor: valor
                },
                success: function () { }
            });
        }
    };

    if (window.addEventListener) // W3C standard
    {
        window.addEventListener('load', funcionesModalProductosPendientesAtencion, false); // NB **not** 'onload'
    }
    else if (window.attachEvent) // Microsoft
    {
        window.attachEvent('onload', funcionesModalProductosPendientesAtencion);
    }

</script>