@{
    ViewBag.Title = "Reporte Sell Out Vendedores";


    Model.Usuario usuario = ViewBag.usuario;
    Cotizador.Models.OBJsFiltro.ReporteSellOutVendedoresFiltro item = ViewBag.filtros;
    List<List<String>> resultados = ViewBag.resultados;

    int anio = 2018;
    int anioHoy = DateTime.Now.Year;
    decimal total = 0;

    foreach (List<String> fila in resultados)
    {
        decimal totalFila = decimal.Parse(fila.ElementAt(2));
        total = total + totalFila;
    }


    var iveTextClass = "text-muted";
    var iveChecked = "";

    if (item.incluirVentasExcluidas == 1)
    {
        iveTextClass = "lbl-ajuste-calculo-precios";
        iveChecked = "checked";
    }

    var allEmpresasClass = "text-muted";
    var allEmpresasChecked = "";

    if (item.integraEmpresas)
    {
        allEmpresasClass = "lbl-ajuste-calculo-precios";
        allEmpresasChecked = "checked";
    }

    var excluirVentasRelacionadasHijasClass = "text-muted";
    var excluirVentasRelacionadasHijasChecked = "";

    if (item.excluirVentasRelacionadasHijas)
    {
        excluirVentasRelacionadasHijasClass = "lbl-ajuste-calculo-precios";
        excluirVentasRelacionadasHijasChecked = "checked";
    }
}

<div class="page-header">
    <h3>@ViewBag.Title</h3>
</div>
<div class="container">
    <input type="hidden" id="pagina" value="@ViewBag.pagina" />

    <form class="form-horizontal" method="post">
        <div class="row" style="margin-top: 10px;">
            <div class="col-sm-6 col-lg-4">
                <div class="form-group">
                    <label class="control-label col-xs-4" for="skuProducto">SKU:</label>
                    <div class="col-xs-8">
                        <input class="form-control" type="text" id="skuProducto" name="skuProducto" value="@item.sku">
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-4">
                <!--Proveedor-->
                <div class="form-group">
                    <label class="control-label col-xs-4" for="proveedor">Proveedor:</label>
                    <div class="col-xs-8">
                        <div>
                            @Html.Action("list", "Proveedor")
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-4">
                <!--Familia-->
                <div class="form-group">
                    <label class="control-label col-xs-4" for="familia">Familia:</label>
                    <div class="col-xs-8">
                        <div>
                            @Html.Action("list", "Familia")
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-6 col-lg-4">
                <div class="form-group">
                    <!--Fecha Inicio Vigencia-->
                    <label class="control-label col-xs-4" for="fechaInicio">Rango Fecha Entrega:</label>
                    <div class="col-xs-8">
                        <input class="form-control" type="text" id="fechaInicio" name="fechaInicio" autocomplete="off" value="@item.fechaInicio.ToString("dd/MM/yyyy")"
                               style="width:95px; display: inline-block;" @(item.anio > 0 ? "disabled" : "")>
                        <b> - </b>
                        <input class="form-control" type="text" id="fechaFin" name="fechaFin" autocomplete="off" value="@item.fechaFin.ToString("dd/MM/yyyy")"
                               style="width:95px; display: inline-block;" @(item.anio > 0 ? "disabled" : "")>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-4">
                <div class="form-group row">
                    <label class="control-label col-xs-4" for="anio">Trimestre:</label>
                    <div class="col-xs-8">
                        <select class="form-control" id="anio" name="anio">
                            <option @(item.anio == 0 ? "selected" : "") value="0">TODOS</option>
                            @while (anio <= anioHoy)
                            {
                                <option @(item.anio == anio ? "selected" : "") value="@anio">@anio</option>
                                anio++;
                            }

                        </select>
                        <select class="form-control" id="trimestre" name="trimestre">
                            <option @(item.trimestre == 0 ? "selected" : "") value="0">TODOS</option>
                            <option @(item.trimestre == 1 ? "selected" : "") value="1">Ene-Mar</option>
                            <option @(item.trimestre == 2 ? "selected" : "") value="2">Abr-Jun</option>
                            <option @(item.trimestre == 3 ? "selected" : "") value="3">Jul-Sep</option>
                            <option @(item.trimestre == 4 ? "selected" : "") value="4">Oct-Dic</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 col-lg-4">
                <div class="form-group">
                    <label class="control-label col-xs-4" for="anio">Responsable Comercial:</label>
                    <div class="col-xs-8">
                        @Html.Action("GetResponsablesComerciales", "Vendedor",
                                new
                                {
                                    vendedorSelectId = "idResponsableComercial",
                                    selectedValue = item.idResponsableComercial,
                                })

                    </div>
                </div>
            </div>
            <!--Supervisor Comercial-->
            <div class="col-sm-6 col-lg-4">
                <div class="form-group">
                    <label class="control-label col-xs-4" for="anio">Supervisor Comercial:</label>
                    <div class="col-xs-8">

                        @Html.Action("GetSupervisoresComerciales", "Vendedor",
                                       new
                                       {
                                           vendedorSelectId = "idSupervisorComercial",
                                           selectedValue = item.idSupervisorComercial,
                                       })

                    </div>
                </div>
            </div>
            <!--Asistente Servicio al Cliente-->
            <div class="col-sm-6 col-lg-4">
                <div class="form-group">
                    <label class="control-label col-xs-4" for="anio">Asistente Comercial:</label>
                    <div class="col-xs-8">

                        @Html.Action("GetAsistentesServicioCliente", "Vendedor",
                                            new
                                            {
                                                vendedorSelectId = "idAsistenteServicioCliente",
                                                selectedValue = item.idAsistenteComercial,
                                            })

                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 col-lg-4">
                <div class="form-group row">
                    <label class="control-label col-xs-4" for="idCiudad">
                        Sede:
                    </label>
                    <div class="col-xs-8">
                        @Html.Action("GetCiudades", "Ciudad",
                                        new
                                        {
                                            ciudadSelectId = "idCiudad",
                                            selectedValue = item.idCiudad
                                        })
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-4">
                <div class="form-group">
                    <div class="col-xs-12">
                        <div class="onoffswitch" title="Considera en el reporte las ventas que fueron excluidas.">
                            <input type="checkbox" name="onoffswitch" @iveChecked class="onoffswitch-checkbox" id="chkIncluirVentasExcluidas">
                            <label class="onoffswitch-label" for="chkIncluirVentasExcluidas"></label>
                        </div>
                        <h5 id="lblchkIncluirVentasExcluidas" for="chkIncluirVentasExcluidas" style="width: 90%; font-size: 16px; margin-left: 45px; margin-top: -24px; font-weight:bold; cursor:pointer;" class="@iveTextClass" title="Considera en el reporte las ventas que fueron excluidas.">Añadir ventas excluidas</h5>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-4">
                <!--USUARIO-->
                <div class="form-group">
                    @*<label for="usuario" class="control-label col-xs-4">Creado Por:</label>
                    <div class="col-xs-8">
                        @Html.Action("usuariosPedidoList", "Usuario")
                    </div>*@
                </div>
            </div>
        </div>

        <div class="row">
            <!--GRUPO CLIENTE-->
            <div class="col-sm-6 col-lg-4">
                <div class="form-group">
                    <label class="control-label col-xs-4" for="idGrupo">Grupo Cliente:</label>
                    <div class="col-xs-8">
                        @Html.Action("GetGruposCliente", "GrupoCliente",
                            new
                            {
                                grupoClienteSelectId = "idGrupo",
                                selectedValue = item.idGrupo
                            })
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-4">
                <div class="form-group">
                    <label class="control-label col-xs-4" for="skuProducto">RUC:</label>
                    <div class="col-xs-8">
                        <input class="form-control" type="text" id="rucCliente" name="rucCliente" value="@item.ruc">
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="margin-top: 10px">
            @if (usuario.reporteIntegradoMultiEmpresa || usuario.vistaIntegradaMultiEmpresa)
            {
                <div class="col-sm-6 col-lg-4">
                    <div class="form-group">
                        <div class="col-xs-12">
                            <div class="onoffswitch" title="Considera todas las empresas en los resultados de búsqueda.">
                                <input type="checkbox" name="onoffswitch" @allEmpresasChecked class="onoffswitch-checkbox" id="chkIntegrarEmpresas">
                                <label class="onoffswitch-label" for="chkIntegrarEmpresas"></label>
                            </div>
                            <h5 id="lblChkIntegrarEmpresas" for="chkIntegrarEmpresas" style="width: 90%; font-size: 16px; margin-left: 45px; margin-top: -24px; font-weight:bold; cursor:pointer;" class="@allEmpresasClass" title="Considera todas las empresas en los resultados de búsqueda.">Integrar todas empresas</h5>
                        </div>
                    </div>
                </div>
            }
            <div class="col-sm-6 col-lg-4">
                <div class="form-group">
                    <div class="col-xs-12">
                        <div class="onoffswitch" title="Excluye de los resultados las ventas de pedidos generados desde otro pedido de otra empresa.">
                            <input type="checkbox" name="onoffswitch" @excluirVentasRelacionadasHijasChecked class="onoffswitch-checkbox" id="chkExcluirVentasRelacionadasHijas">
                            <label class="onoffswitch-label" for="chkExcluirVentasRelacionadasHijas"></label>
                        </div>
                        <h5 id="lblChkExcluirVentasRelacionadasHijas" for="chkExcluirVentasRelacionadasHijas" style="width: 90%; font-size: 16px; margin-left: 45px; margin-top: -24px; font-weight:bold; cursor:pointer;" class="@excluirVentasRelacionadasHijasClass" title="Excluye de los resultados las ventas de pedidos generados desde otro pedido de otra empresa.">Excluir ventas cruzadas</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="row pull-left" style="margin-top: 20px; margin-bottom: 10px; margin-left: 0px">

        </div>

        <div class="row pull-right" style="margin-top: 20px; margin-bottom: 10px; margin-right: 0px">
            <button id="btnLimpiarFormulario" type="button" class="btn btn-primary  bouton-image botonClean">Limpiar</button>
            <button id="btnSearchRepSOV" type="submit" class="btn btn-success">Buscar</button>
        </div>

    </form>

    <div class="row">
        <div class="col-sm-6 col-lg-4">

        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-lg-12 tableFixHead">
            <table id="tableSellOutVendedores" class="table" data-editing="false"
                   data-editing-allow-add="false"
                   data-editing-allow-delete="false"
                   data-editing-allow-edit="false"
                   data-show-toggle="false">
                <thead class="thead-dark">
                    <tr>
                        <th>CODIGO VENDEDOR</th>
                        <th>NOMBRE VENDEDOR</th>
                        <th>
                            TOTAL VENTAS
                            @if (total > 0)
                            {
                                <span id="spnTotalHeader">: S/ @String.Format("{0:0.00}", total)</span>
                            }
                        </th>
                        <th>
                            @if (resultados.Count > 0)
                            {
                                <button type="button" class="btn btn-primary bouton-image botonExcel btnDetallesResultadosVendedorExcel" codVendedor=""
                                        actionLink="@Url.Action("ExportDetallesReporteSellOutVendedor", "Reporte")">
                                    TODOS LOS DETALLES
                                </button>
                            }
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (List<String> fila in resultados)
                    {
                        <tr data-expanded="true">
                            <td>@fila.ElementAt(0)</td>
                            <td>@fila.ElementAt(1)</td>
                            <td>@fila.ElementAt(2)</td>
                            <td>
                                <button type="button" class="btn btn-primary bouton-image botonExcel btnDetallesResultadosVendedorExcel" codVendedor="@fila.ElementAt(0)"
                                        actionLink="@Url.Action("ExportDetallesReporteSellOutVendedor", "Reporte")">
                                    Detalles
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>



</div>


<script type="text/javascript">


    function funcionesModalProductosPendientesAtencion() {
        var ID_SEDE_TODOS = "@Guid.Empty.ToString()";
        var selFiltroCiudad = "@item.idCiudad.ToString()";
        $.datepicker.regional['es'] = {
                            closeText: 'Cerrar',
            prevText: '< Ant',
            nextText: 'Sig >',
            currentText: 'Hoy',
            monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
            monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
            dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
            dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mié', 'Juv', 'Vie', 'Sáb'],
            dayNamesMin: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sá'],
            weekHeader: 'Sm',
            dateFormat: 'dd/mm/yy',
            firstDay: 1,
            isRTL: false,
            showMonthAfterYear: false,
            yearSuffix: ''
        };
        $.datepicker.setDefaults($.datepicker.regional['es']);

        $("#fechaInicio").datepicker({ dateFormat: "dd/mm/yy" });
        $("#fechaFin").datepicker({ dateFormat: "dd/mm/yy" });

        if ($('#idCiudad option').length > 3) {
            if (ID_SEDE_TODOS == selFiltroCiudad) {
                $('#idCiudad').append('<option selected value="' + ID_SEDE_TODOS + '" >TODOS</option>');
            } else {
                $('#idCiudad').append('<option value="' + ID_SEDE_TODOS + '" >TODOS</option>');
            }
        }

        $('#tableSellOutVendedores').footable();

        //setTimeout(function () { FooTable.get('#tableProductosPendientesAtencion').pageSize(10); }, 2000)

        //FooTable.init('#tableProductosPendientesAtencion');


        $(document).on('click', "#btnLimpiarFormulario", function () {
            $('body').loadingModal({
                text: 'Cargando...'
            });

            $('body').loadingModal('show');

            location.href = "/Reporte/LimpiarFiltroSellOutVendedores";
        });

        $(document).on('click', "#btnSearchRepSOV", function () {
            $('body').loadingModal({
                text: 'Cargando...'
            });

            $('body').loadingModal('show');
        });



        $("#skuProducto").change(function () {
            var valor = $(this).val();
            changeInputFiltro("sku", valor, "string");
        });

        $("#proveedor").change(function () {
            var valor = $(this).val();
            changeInputFiltro("proveedor", valor, "string");
        });

        $("#familia").change(function () {
            var valor = $(this).val();
            changeInputFiltro("familia", valor, "string");
        });

        $("#anio").change(function () {
            var valor = $(this).val();
            if (valor > 0) {
                document.getElementById("fechaInicio").disabled = true;
                document.getElementById("fechaFin").disabled = true;
            } else {
                document.getElementById("fechaInicio").disabled = false;
                document.getElementById("fechaFin").disabled = false;
            }
            changeInputFiltro("anio", valor, "int");
        });

        $("#trimestre").change(function () {
            var valor = $(this).val();
            changeInputFiltro("trimestre", valor, "int");
        });

        $("#idCiudad").change(function () {
            var valor = $(this).val();
            changeInputFiltro("idCiudad", valor, "guid");
        });

        $("#fechaInicio").change(function () {
            var valor = $(this).val();
            changeInputFiltro("fechaInicio", valor, "date");
        });

        $("#fechaFin").change(function () {
            var valor = $(this).val();
            changeInputFiltro("fechaFin", valor, "date");
        });

        $("#idResponsableComercial").change(function () {
            var valor = $("#idResponsableComercial").val();
            changeInputFiltro("idResponsableComercial", valor, "int");
        });

        $("#idSupervisorComercial").change(function () {
            var valor = $("#idSupervisorComercial").val();
            changeInputFiltro("idSupervisorComercial", valor, "int");
        });

        $("#idAsistenteServicioCliente").change(function () {
            var valor = $("#idAsistenteServicioCliente").val();
            changeInputFiltro("idAsistenteComercial", valor, "int");
        });

        $("#idGrupo").change(function () {
            var valor = $("#idGrupo").val();
            changeInputFiltro("idGrupo", valor, "int");
        });

        $("#rucCliente").change(function () {
            var valor = $(this).val();
            changeInputFiltro("ruc", valor, "string");
        });

        $("#chkIncluirVentasExcluidas").change(function () {
            if ($("#chkIncluirVentasExcluidas").is(":checked"));
            cambioChkIncluirVentasExcluidas();
        });


        $("#lblchkIncluirVentasExcluidas").click(function () {
            if ($("#chkIncluirVentasExcluidas").is(":checked")) {
                $("#chkIncluirVentasExcluidas").prop("checked", false);
            } else {
                $("#chkIncluirVentasExcluidas").prop("checked", true);
            }

            cambioChkIncluirVentasExcluidas();
        });


        function cambioChkIncluirVentasExcluidas() {

            var valor = 0;

            if ($("#chkIncluirVentasExcluidas").is(":checked")) {
                valor = 1;
            }

            changeInputFiltro("incluirVentasExcluidas", valor, "int");

            if ($("#chkIncluirVentasExcluidas").is(":checked")) {
                $("#lblchkIncluirVentasExcluidas").addClass("lbl-ajuste-calculo-precios");
                $("#lblchkIncluirVentasExcluidas").removeClass("text-muted");
            } else {
                $("#lblchkIncluirVentasExcluidas").addClass("text-muted");
                $("#lblchkIncluirVentasExcluidas").removeClass("lbl-ajuste-calculo-precios");
            }
        }

        $("#chkIntegrarEmpresas").change(function () {
            if ($("#chkIntegrarEmpresas").is(":checked"));
            cambioChkSwitchBool("chkIntegrarEmpresas", "lblChkIntegrarEmpresas", "integraEmpresas");
        });


        $("#lblChkIntegrarEmpresas").click(function () {
            if ($("#chkIntegrarEmpresas").is(":checked")) {
                $("#chkIntegrarEmpresas").prop("checked", false);
            } else {
                $("#chkIntegrarEmpresas").prop("checked", true);
            }

            cambioChkSwitchBool("chkIntegrarEmpresas", "lblChkIntegrarEmpresas", "integraEmpresas");
        });


        function cambioChkIntegrarEmpresas() {

            var valor = "false";

            if ($("#chkIntegrarEmpresas").is(":checked")) {
                valor = "true";
            }

            changeInputFiltro("integraEmpresas", valor, "bool");

            if ($("#chkIntegrarEmpresas").is(":checked")) {
                $("#lblChkIntegrarEmpresas").addClass("lbl-ajuste-calculo-precios");
                $("#lblChkIntegrarEmpresas").removeClass("text-muted");
            } else {
                $("#lblChkIntegrarEmpresas").addClass("text-muted");
                $("#lblChkIntegrarEmpresas").removeClass("lbl-ajuste-calculo-precios");
            }
        }

        $("#chkExcluirVentasRelacionadasHijas").change(function () {
            if ($("#chkExcluirVentasRelacionadasHijas").is(":checked"));
            cambioChkSwitchBool("chkExcluirVentasRelacionadasHijas", "lblChkExcluirVentasRelacionadasHijas", "excluirVentasRelacionadasHijas");
        });


        $("#lblChkExcluirVentasRelacionadasHijas").click(function () {
            if ($("#chkExcluirVentasRelacionadasHijas").is(":checked")) {
                $("#chkExcluirVentasRelacionadasHijas").prop("checked", false);
            } else {
                $("#chkExcluirVentasRelacionadasHijas").prop("checked", true);
            }

            cambioChkSwitchBool("chkExcluirVentasRelacionadasHijas", "lblChkExcluirVentasRelacionadasHijas", "excluirVentasRelacionadasHijas");
        });


        function cambioChkSwitchBool(chkId, lblId, dataName) {

            var valor = "false";

            if ($("#" + chkId).is(":checked")) {
                valor = "true";
            }

            changeInputFiltro(dataName, valor, "bool");

            if ($("#" + chkId).is(":checked")) {
                $("#" + lblId).addClass("lbl-ajuste-calculo-precios");
                $("#" + lblId).removeClass("text-muted");
            } else {
                $("#" + lblId).addClass("text-muted");
                $("#" + lblId).removeClass("lbl-ajuste-calculo-precios");
            }
        }

        $(document).on('click', ".btnDetallesResultadosVendedorExcel", function () {
            var codigoVendedor = $(this).attr("codVendedor");
            window.location.href = $(this).attr("actionLink") + "?codigoVendedor=" + codigoVendedor;
        });

        function changeInputFiltro(propiedad, valor, tipo) {
            $.ajax({
                url: "/Reporte/changeFiltroSellOutVendedores",
                type: 'POST',
                data: {
                    tipo: tipo,
                    propiedad: propiedad,
                    valor: valor
                },
                success: function () { }
            });
        }
    };

    if (window.addEventListener) // W3C standard
    {
        window.addEventListener('load', funcionesModalProductosPendientesAtencion, false); // NB **not** 'onload'
    }
    else if (window.attachEvent) // Microsoft
    {
        window.attachEvent('onload', funcionesModalProductosPendientesAtencion);
    }

</script>