@{
    ViewBag.Title = "Rubros";
    Model.Rubro rubro = ViewBag.rubro;
    List<Model.Rubro> rubroList = ViewBag.RubroList;
}

<div class="page-header">
    <h3>@ViewBag.Title</h3>
</div>
<div class="container">
    <input type="hidden" id="idRubro" value="" />
    <input type="hidden" id="pagina" value="@ViewBag.pagina" />

    <form class="form-horizontal">

        <div class="row">
            <div class="col-sm-6 col-lg-4">
                <div class="form-group">
                    @Html.LabelFor(c => rubro.Estado, htmlAttributes: new { @class = "control-label col-xs-4" })
                    <div class="col-xs-8">
                        <div class="radio radio-inline">
                            <label class="radio-label">
                                @if (rubro.Estado == 1)
                                {
                                    <input class="radio-input" checked type="radio" name="rubro_estado" id="rubro_estado_si" value="1"><span>Activo</span>
                                }
                                else
                                {
                                    <input class="radio-input" type="radio" name="rubro_estado" id="rubro_estado_si" value="1"><span>Activo</span>
                                }

                            </label>
                        </div>
                        <div class="radio radio-inline">
                            <label class="radio-label">
                                @if (rubro.Estado == 0)
                                {
                                    <input class="radio-input" checked type="radio" name="rubro_estado" id="rubro_estado_no" value="0"><span>Inactivo</span>
                                }
                                else
                                {
                                    <input class="radio-input" type="radio" name="rubro_estado" id="rubro_estado_no" value="0"><span>Inactivo</span>
                                }
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row pull-right" style="margin-bottom:10px; margin-right:0px">
            <button id="btnLimpiarBusqueda" type="button" class="btn btn-primary  bouton-image botonClean">Limpiar</button>
            <button id="btnBusqueda" type="button" class="btn btn-primary  bouton-image botonSearch">Buscar</button>
        </div>

        <div id="divExportButton" class="row pull-left" style="margin-bottom:10px; margin-left:0px; display: none;">
            <button id="btnExportExcel" type="button" class="btn btn-primary  bouton-image botonExcel" actionLink="@Url.Action("ExportLastSearchExcel", "Rubro")">Exportar</button>
        </div>

        <table id="tableRubros" class="table" data-editing="false" data-paging="true" data-paging-count-format="{CP} de {TP}"
                data-editing-show-text='<span class="fooicon fooicon-pencil" aria-hidden="true"></span> Editar Detalle'
                data-editing-allow-add="false"
                data-editing-allow-delete="false"
                data-editing-allow-edit="false"
                data-sorting="true"
                data-show-toggle="false"
                data-editing-hide-text="Finalizar edición"
                data-editing-add-text="Descartar cambios">
            <thead>
                <tr>
                    <th data-name="idRubro" data-visible="false"></th>
                    <th data-name="codigo" data-visible="true">Código</th>
                    <th data-name="nombre" data-visible="true" data-sortable="true">Nombre</th>
                    <th data-name="nombre_padre" data-visible="true" data-sortable="true">Rubro Padre</th>

                    <th data-name="opciones" data-sortable="true" data-breakpoints="xs"></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </form>
</div>

@section Scripts {
    @Scripts.RenderFormat("<script type=\"text/javascript\" src=\"{0}?nocache=" + TempData["ScriptVersion"] + "\"></script>", "~/bundles/rubro")
}
