
@{
    ViewBag.Title = "Mensaje - Crear/Modificar";
    Model.Mensaje mensaje = ViewBag.Mensaje;
    List<Model.Rol> roles = ViewBag.roles;
}

<div class="page-header">
    <h3>@ViewBag.Title</h3>
</div>
<div class="container">

    <input type="hidden" id="pagina" value="@ViewBag.pagina" />
    <input type="hidden" value="@ViewBag.debug" />

    <div class="container">

        <input type="hidden" id="idMensaje" name="idMensaje" value="@mensaje.id_mensaje" />




            
        <div class="row form-group">
            <label for="color" class="col-form-label col-md-2">Prioridad:</label>

            <div class="col-md-5">
                <div class="radio-inline">
                    <label class="radio-label">
                        @if (mensaje.importancia == "Alta")
                        {
                            <input class="radio-input" checked type="radio" name="mensaje_importancia" id="vendedor_importancia_si" value="1"><span style="font-weight: normal">Si</span>
                        }                        
                        else
                        {
                        <input class="radio-input" type="radio" name="mensaje_importancia" id="vendedor_importancia_si" value="1"><span style="font-weight: normal">Si</span>
                        }

                    </label>
                </div>
                <div class="radio-inline">
                    <label class="radio-label">
                        @if (mensaje.importancia == "Normal")
                        {
                            <input class="radio-input" checked type="radio" name="mensaje_importancia" id="vendedor_importancia_no" value="0"><span style="font-weight: normal">No</span>
                        }
                        else
                        {
                            <input class="radio-input" type="radio" name="mensaje_importancia" id="vendedor_importancia_no" value="0"><span style="font-weight: normal">No</span>
                        }
                    </label>
                </div>

            </div>

        </div>


        <div class=" row form-group">
            <label for="fechaHasta" class="col-form-label col-md-2">Fecha de Inicio:</label>
            <div class="col-md-5">
                <input class="form-control" type="text" id="mensaje_fechaInicioMensaje" name="fechaHasta" value="@ViewBag.mensaje_fechaInicio">
            </div>
        </div>

        <div class=" row form-group">
            <label for="fechaHasta" class="col-form-label col-md-2">Fecha de Vencimiento:</label>
            <div class="col-md-5">
                <input class="form-control" type="text" id="mensaje_fechaVencimientoMensaje_edit" name="fechaHasta" value="@ViewBag.mensaje_fechaVencimiento">
            </div>
        </div>


        <div class="row form-group">
            <label for="email" class="col-form-label col-md-2">Titulo:</label>
            <div class="col-md-5">
                <input name="titulo" id="titulo" class="form-control" value="@mensaje.titulo" required>
            </div>
        </div>

        <div class="row form-group">
            <label for="mensaje" class="col-form-label col-md-2">Mensaje:</label>
            <div class="col-md-5">
                <textarea class="form-control" name="mensaje" id="txtMensaje" rows="10" maxlength="200" >@mensaje.mensaje</textarea>
            </div>
        </div>



        <div class="row form-group">
            <label for="idCliente" class="col-form-label col-md-2">Usuario:</label>

            <div class="col-xs-12 col-md-10">
                <select multiple class="form-control form-control" id="idUsuarioBusquedaMensaje" name="idCliente" required>
                    
                        @foreach (var item in mensaje.listUsuario)
                        {

                            <option selected value="@item.idUsuario">@item.nombre (@item.email)</option>

                        }

                    
                   
                </select>
            </div>
        </div>


        <div class="row form-group">

            
                <label class="col-form-label col-md-2">Roles:</label>
           
                <div class="col-md-10">
                    @foreach (Model.Rol ro in roles)
                    {
                        string itemChecked = mensaje.TieneRol(ro.idRol) ? "checked" : "";

                        <div class="col-sm-6 col-lg-4 col-xs-12">
                            <label class="radio-label" for="rol_@ro.idRol">
                                <input type="checkbox" @itemChecked class="chk-rol" name="rol_@ro.idRol" id="rol_@ro.idRol" value="1">
                                <span class="listaUsuarioRoles" id="tooltip_@ro.idRol" data-toggle="tooltip" data-tipso="">@ro.nombre - (@ro.codigo)</span>
                            </label>
                        </div>
                    }
                </div>

        </div>


        <button hidden type="button" id="btnCancelarMensaje" class="btn btn-danger"> Cancelar</button>
        <button class="btn btn-primary" id="btnEnviarMensaje">Finalizar Creación</button>

    </div>


</div>




